.row
    .col-md-6
        .form-group
            label.col-lg-3.control-label Nome da Conta:
            .col-lg-9
                input.form-control(type='text', placeholder='eugene@kopyov.com')
        .form-group
            label.col-lg-3.control-label Selecione o Banco
            .col-lg-9
                select.select
                    optgroup(label='Mountain Time Zone')
                        option(value='AZ') Arizona
                        option(value='CO') Colorado
                        option(value='ID') Idaho
                        option(value='WY') Wyoming
                    optgroup(label='Central Time Zone')
                        option(value='AL') Alabama
                        option(value='AR') Arkansas
                        option(value='KS') Kansas
                        option(value='KY') Kentucky
        .form-group
            label.col-lg-3.control-label Agência:
            .col-lg-9
                input.form-control(type='text', placeholder='eugene@kopyov.com')
    .col-md-6
        .form-group
            label.col-lg-3.control-label Conta:
            .col-lg-9
                .row
                    .col-md-6
                        input.form-control.mb-15(type='text', placeholder='Conta')
                    .col-md-6
                        .mb-15
                            select.select(data-placeholder='Tipo de Conta')
                                option
                                option(value='1') Canada
                                option(value='2') USA
                                option(value='3') Australia
                                option(value='4') Germany
        .form-group
            label.col-lg-3.control-label Observações
            .col-lg-9
                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
.text-right
    button.btn.btn-default.fechar(type='submit')
        | Cancelar
        i.icon-cross3.position-right
    button.btn.btn-primary.salvar(type='submit')
        | Salvar
        i.icon-arrow-right14.position-right