extends ../../layout.pug
block title
    title Listagem de Conta Bancária - Cerebelo Curso nota 10
block page-title
    span.text-semibold Contas Bancária
    |  - Editar Conta Bancária
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/account_create.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Contas Bancária
    li.active Editar Conta Bancária
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Editar Conta Bancária
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            form.form-horizontal(action='#')
                include _form.pug