fieldset.content-group
    legend.text-bold Cadastrar
    .row
        .col-md-12
            .form-group(class!="{{ $errors->has('title') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.title') }}
                    i.text-danger *
                | {{ Form::text('title', old('title'), ['class' => 'form-control', 'placeholder' => trans('attributes.title'), 'maxlength' => '150']) }}
                | @if ($errors->has('title'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('title') }}
                | @endif
        .col-md-12
            .form-group(class!="{{ $errors->has('file') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.file') }}
                    i.text-danger *
                | {{ Form::file('file', ['class' => 'form-control file-styled', 'placeholder' => trans('attributes.file')]) }}
                | @if ($errors->has('file'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('file') }}
                | @endif