extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cliente - Anexar Arquivo

block page-title
    span.text-semibold Cliente
    |  - Anexar Arquivo

block theme-js-files
    script(type="text/javascript", id="route-customers-files", datatable-files!="{{ route('cerebelo.customers.files_datatable', $client->id) }}", src="{{ Module::asset('cerebeloclient:js/files/index.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/files/index.js')) }}")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cliente
    li.active Anexar Arquivo

block content
    .row
        .col-lg-4
            | {{ Form::open(array('url' => route('cerebelo.customers.files_store', $client->id), 'method' => 'POST', 'files' => true)) }}
            .panel.panel-flat
                .panel-body                
                    include ./_form.pug

                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}
            
        .col-lg-8
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista dos Anexos
                    
                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.title') }}
                                    th 
                                        | {{ trans('attributes.file') }}
                                    th 
                                        | {{ trans('attributes.created_at') }}