body{
    background-color: #fff !important;
}
.titleheader{
    font-size: 2pt !important;
}
.img-order{
    max-width: auto !important;
    margin: 0 15px;
}
.date-number{
    margin-left: 15px;
}
.data-pdf{
    padding: 0 20px;
    margin-bottom: 20px;
}

.margin-featured{
    margin: 5px 0;
}

.featured{
    font-weight: bold;
}

.body-pdf{
    margin: 0 20px;
}
.body-pdf td{
    padding: 5px 0 !important;
}
.footer-budget{
    padding: 0 20px;
}
.spacing-table td{
    padding: 2px 0;
}

.footer-budget{
    margin-top: 15px;
}

.table-data{
    margin-bottom: 15px; 
}
.table-data td{
    padding: 0 15px;
    vertical-align: top;
}

.padding-td td{
    padding: 15px;
}

.padding-total{
    padding-right: 10px;
}

.padding-total-td td{
    padding-top: 3px;
    padding-bottom: 3px;
}
.input-print{
    width: auto !important;
    font-size: 13px !important;
}

input[type="text"] {
    border-color: rgb(255,255,255);
}

.oveflow-print{
    width: 100%;
    overflow: visible;
}
.oveflow-print table{
    width: 100%;
    table-layout: fixed;
}
.oveflow-print table th, .oveflow-print table tbody td{
    font-size: 13px !important;
    padding: 12px 5px !important;
}
.color-orange {
    background-color: #ffb74d !important;
    border-color: #ffb74d !important;
}
.color-green {
    background-color: #aed581 !important;
    border-color: #aed581 !important;
}
.text-right {
    text-align: right !important;
}

.table-responsive {
    overflow: hidden !important;
    word-wrap: normal !important;
}