
.img-product-order{
    max-height: 1000px;
}
.img-order{
    max-width: 100%;
}

.bar-ert li{
    width: 20% !important;
    vertical-align: middle;
}

.bar-ert li:nth-child(even){
    width: 30% !important;
}

.table-data td{
    vertical-align: top !important;
}

.header-pdf td, .table-data td{
    border-top: 0 !important;
}

h6{
    margin-bottom: 3px !important;
    margin-top: 5px !important;
}

.footer-budget th, .footer-budget td{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.padding-total{
    padding: 0 !important;
}

.fields_info_red {
    color: red !important;
    text-transform: uppercase !important;
}

@page {
    size: A4;
}

@media print {

    body * {
        visibility: hidden;
    }
    body {
        margin: 0 !important;
        padding: 0 !important;
        visibility: hidden;
    }
    html, body {
        width: 210mm;
        height: 297mm;
    }
    div{
        padding: 0 !important;
        margin: 0 !important;
    }

    .table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        border-color: #000 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .table-xs>tbody>tr>td, .table-xs>tbody>tr>th, .table-xs>tfoot>tr>td, .table-xs>tfoot>tr>th, .table-xs>thead>tr>td, .table-xs>thead>tr>th, .table-product-general>tbody>tr>td, .table-product-general>tbody>tr>th, .table-product-general>tfoot>tr>td, .table-product-general>tfoot>tr>th, .table-product-general>thead>tr>td, .table-product-general>thead>tr>th{
        padding: 1px 2px !important;
    }

    .body-pdf>tbody>tr>td{
        border-bottom: 1px solid #000 !important;
    }

    .table>thead>tr>th{
        border-bottom-color: #000 !important;
    }

    .footer-budget p{
        margin: 0 !important;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    .no-print{
        display: none;
        visibility: hidden;
    }
    .panel-heading, .panel-body, .col-lg-12{
        padding: 0 !important;
    }
    .header-pdf td{
        padding-top: 0 !important;
    }

    table tr td.color-pp{
        background-color: #c6d9f0 !important;

    }
    table tr td.color-p{
        background-color: #e5b8b7 !important;

    }
    table tr td.color-m{
        background-color: #ccffcc !important;

    }
    table tr td.color-g{
        background-color: #fde9d9 !important;

    }
    table tr td.color-gg{
        background-color: #bfbfbf !important;

    }
    table tr td.color-3g{
        background-color: #8db3e2 !important;

    }
    table tr td.color-4g{
        background-color: #d8d8d8 !important;

    }
    table tr td.color-5g{
        background-color: #d6e3bc !important;

    }

    .pagebreak { page-break-after: always; }
    .pagebreak:last-child { page-break-after: auto; }

    a[href]:after {
        content: none !important;
    }

    .header-pdf h4{
        font-size: 14px !important;
    }
    .max-widht{
        max-width: 33% !important;
    }
    .panel{
        border: 0 !important;
    }

    .header-pdf td, .table-data td{
        border-top: 0 !important;
    }
    .col-lg-4{
        width: 33% !important;
    }

    .body-pdf thead tr th.col-sm-1{
        width: 2.5cm !important;
    }

    .img-product-order{
        height: 265mm !important;
    }

    .font-small{
        font-size: 10px;
    }
    .img-order{
        max-width: 2cm;
    }

    .footer-budget{
        padding-top: 20px !important;
    }

    .body-pdf td{
        padding: 5px 0 !important;
    }

    .float-right{
        float: right;
    }
    .float-left{
        float: left;
    }

    .oveflow-print, .oveflow-print-order{
        width: 100%;
        overflow: visible;
    }
    .oveflow-print table, .oveflow-print-order table{
        width: 100%;
        table-layout: fixed;
    }
    .oveflow-print table th, .oveflow-print table tbody td{
        font-size: 8px !important;
        padding: 12px 5px !important;
    }

    .oveflow-print-order table th, .oveflow-print-order table tbody td{
        font-size: 13px !important;
        padding: 12px 5px !important;
    }

    .table-product-general h6{
        font-size: 1em !important;
    }
    .bg-blue-400{
        background-color: #29b6f6 !important;
        border-color: #29b6f6 !important;
        color: #fff !important;
    }

    .select2-selection--single .select2-selection__arrow:after{
        display: none !important;
    }
    .select2-selection--single:not([class*=bg-]):not([class*=border-]){
        border-color: transparent !important;
    }
    select {
        border-color: transparent !important;
        margin: 0;
        padding: 0;
        -moz-appearance: window;
        -webkit-appearance: none;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent !important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent !important;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent !important;
    }
    input {
        border-color: transparent !important;
    }
    textarea {
        border-color: transparent !important;
        width: 100mm !important;
        overflow: hidden !important;
        resize: none !important;
    }
    .fields_info_red {
        color: red !important;
        text-transform: uppercase !important;
    }
    .color-orange {
        background-color: #ffb74d !important;
        border-color: #ffb74d !important;
    }
    .color-green {
        background-color: #aed581 !important;
        border-color: #aed581 !important;
    }

    .table-xxs>tbody>tr>td, .table-xxs>tbody>tr>th, .table-xxs>tfoot>tr>td, .table-xxs>tfoot>tr>th, .table-xxs>thead>tr>td, .table-xxs>thead>tr>th {
        padding: 1px 15px !important;
    }

    .panel {
        margin-bottom: 0 !important;
    }

    .table-responsive {
        overflow: hidden !important;
        word-wrap: normal !important;
    }
}

.panel-black>.panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.panel-black {
    border-color: #000;
}
.btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.btn-black:hover {
    color: gray;
}
.color-orange {
    background-color: #ffb74d !important;
    border-color: #ffb74d !important;
}
.color-green {
    background-color: #aed581 !important;
    border-color: #aed581 !important;
}

.table-xxs>tbody>tr>td, .table-xxs>tbody>tr>th, .table-xxs>tfoot>tr>td, .table-xxs>tfoot>tr>th, .table-xxs>thead>tr>td, .table-xxs>thead>tr>th {
    padding: 1px 15px !important;
}
