extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Fila de Produção

block page-title
    span.text-semibold Cadastros
    |  - Fila de Produção

block theme-js-files
    script(type="text/javascript", id="route-orders", datatable="{{ route('cerebelo.orders.datatable') }}", src="{{ Module::asset('cerebeloorders:js/orders/_production.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_production.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_common.js')) }}")

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Fila de Produção

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Fila de Produção
                    .heading-elements
                        //button.btn.btn-primary.heading-btn(onclick="")
                            i.icon-database-refresh.position-left
                            | Atualizar Listagem
                .panel-body
                    .table-responsive
                        table.table.text-nowrap.table-hover.text-size-large#datatable
                            thead
                                tr
                                    th
                                    th.col-md-1
                                    th Informações do Pedido
                                    th Material
                                    th
                                    th
                                    th
                                    th.text-center Entrega
                                    th.text-center Evento