extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Valores das Tabelas

block page-title
    span.text-semibold Cadastros
    |  - Valores das Tabelas

block theme-js-files
    script(type="text/javascript", id="main-routes", json-column-headers="{{ json_encode($column_headers) }}", route-update="{{ route('cerebelo.tablesvalues.update') }}", route-datatable="{{ route('cerebelo.tablesvalues.datatable') }}", src="{{ Module::asset('cerebelotablesvalues:js/tablesvalues/index.js') }}?{{ filemtime(Module::assetPath('cerebelotablesvalues/js/tablesvalues/index.js')) }}")
    
block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Valores das Tabelas

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    
                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th
                                    | @foreach($column_headers as $key => $value)
                                    th
                                        | {{ $value }}
                                    | @endforeach