.col-xs-4(class!="{{ $errors->has('clients_contacts_id') ? ' has-error' : '' }}")
    .panel
        .panel-body
            .col-xs-6
                .checkbox
                    label
                        | {{ Form::checkbox('address_id', $contact->address->id, (($contact->address->id == old('address_id', (isset($model) ? $model->delivery_address_id : null))) ? true : false), ['cep' => $contact->address->cep, 'class' => 'styled']) }}
                        | Usar como Entrega ({{ $contact->address->local }})
            .col-xs-6
                .checkbox
                    label
                        | {{ Form::checkbox('clients_contacts_id', $contact->id, (($contact->id == old('clients_contacts_id', (isset($model) ? $model->clients_contacts_id : null))) ? true : false), ['style' => 'display: none;']) }}
                        | {{ Form::checkbox('billing_address_id', $contact->address->id, (($contact->address->id == old('billing_address_id', (isset($model) ? $model->billing_address_id : null))) ? true : false), ['cep' => $contact->address->cep, 'class' => 'styled']) }}
                        | Usar como Faturamento ({{ $contact->address->local }})
            p
                | {{ $contact->name . ', ' . $contact->cpf_cnpj }}
            p
                | CEP: {{ $contact->address->cep }}
            p
                | {{ $contact->address->street . ', ' . $contact->address->number . ', ' . $contact->address->complement }}
            p
                | {{ $contact->address->neighborhood . ' - ' . $contact->address->city . '/' . $contact->address->state }}
    | @if ($errors->has('clients_contacts_id'))
    span.help-block.text-danger
        i.icon-cancel-circle2.position-left
        |  {{ $errors->first('clients_contacts_id') }}
    | @endif