.pagebreak
    #selected-client-files
        | @if(isset($model->attachedFiles[0]) && count($model->attachedFiles) > 0)
        | @foreach($model->attachedFiles as $key => $file)
        .table-responsive
            table.table.table-borderless.table-xs
                tbody
                    tr
                        td.text-center
                            img.img-product-order(src!="{{ route('storage.files', ['filename' => $file->file]) }}", alt="Anexo do Cliente", style="margin: 10px; 0px;")
                    tr
                        td.text-center
                            span.text-semibold {{ $file->title }}
        | @endforeach
        | @endif