| @if(isset($model->id))

| @if(isset($products_selected['op_name_tab6']) && count($products_selected['sizes']) == count($products_selected['op_name_tab6']))

.table-responsive
    table.table.table-bordered.table-framed.table-product-general
        tbody
            tr.bg-green-300
                td.text-center.text-semibold.text-default.color-green(colspan="3") Produto
            | @setvar('products', (isset($products_selected['products_index']) ? $products_selected['products_index'] : []))
            | @foreach($products as $key => $product)
            | @setvar('products_id', (isset($products_selected['products_id'][$product]) ? $products_selected['products_id'][$product] : ""))
            | @setvar('join_op_art', (isset($products_selected['join_op_art'][$products_id]) ? $products_selected['join_op_art'][$products_id] : []))

            | @setvar('parceria', ((isset($products_selected['parceria'][$products_id]) && count($products_selected['parceria'][$products_id]) > 0) ? key(current($products_selected['parceria'][$products_id])) : ""))
            | @setvar('extra_variation_main', (isset($products_selected['extra_variation'][$parceria]) ? $products_selected['extra_variation'][$parceria] : ""))
            | @setvar('extra_variation_current', (isset($products_selected['extra_variation'][$product]) ? $products_selected['extra_variation'][$product] : ""))

            | @setvar('presents_partnerships_id', (isset($products_selected['presents_partnerships_id'][$product]) ? $products_selected['presents_partnerships_id'][$product] : ""))
            | @if($presents_partnerships_id != 2 && (empty($extra_variation_current) || $extra_variation_current != $extra_variation_main))

            tr.bg-orange-300
                td.text-center.text-semibold.text-default.color-orange(colspan="3") {{ $products_selected['products_name'][$product] }} ({{ $products_selected['extra_variation'][$product] }})
            | @if(isset($products_selected['op_color_tab6'][$product]))
            | @foreach($products_selected['op_color_tab6'][$product] as $key => $op_color_tab6)
            | @setvar('op_name_tab6', $products_selected['op_name_tab6'][$product][$key])
            tr
                td.text-center.text-semibold.col-lg-4(class="{{ $op_color_tab6 }}") Nome
                td.text-center.text-semibold.col-lg-4(class="{{ $op_color_tab6 }}") Quantidade
                td.text-center.text-semibold.col-lg-4(class="{{ $op_color_tab6 }}") Tamanho

            | @setvar('op_client_name', isset($products_selected['op_client_name'][$product][$key]))
            | @if($op_client_name === true)
            | @foreach($products_selected['op_client_name'][$product][$key] as $k => $value)
            | @setvar('op_client_quantity', $products_selected['op_client_quantity'][$product][$key][$k])
            | @setvar('op_client_size', $products_selected['op_client_size'][$product][$key][$k])
            | @php($op_name_tab6[$k] = $value)
            | @php($products_selected['op_quantity_tab6'][$product][$key][$k] = $op_client_quantity)
            | @php($products_selected['op_size_tab6'][$product][$key][$k] = $op_client_size)
            | @endforeach
            | @endif

            | @foreach($op_name_tab6 as $k => $value)
            | @setvar('op_quantity_tab6', $products_selected['op_quantity_tab6'][$product][$key][$k])
            | @setvar('op_size_tab6', $products_selected['op_size_tab6'][$product][$key][$k])
            tr
                td.text-center {{ $value }}
                td.text-center {{ $op_quantity_tab6 }}
                td.text-center(class="{{ $op_color_tab6 }}") {{ $op_size_tab6 }}
            | @endforeach

            | @endforeach
            | @endif

            | @endif
            | @endforeach

| @elseif(!isset($products_selected['op_name_tab6']))

.table-responsive
    table.table.table-bordered.table-framed.table-product-general
        thead
            tr
                th Produto
                | @foreach($sizes as $size)
                th.text-center.col-sm-1 {{ $size->name }}
                | @endforeach
                th.text-center.col-sm-1 Total
        tbody
            | @setvar('products', (isset($products_selected['products_index']) ? $products_selected['products_index'] : []))
            | @foreach($products as $key => $product)
            | @setvar('variations', ((isset($products_selected['variations_name'][$product]) ? $products_selected['variations_name'][$product] : []) + [$products_selected['extra_variation'][$product]]))
            | @setvar('image_art', (isset($products_selected['image_art'][$product]) ? $products_selected['image_art'][$product] : ""))
            | @setvar('products_id', (isset($products_selected['products_id'][$product]) ? $products_selected['products_id'][$product] : ""))
            | @setvar('products_index', (isset($products_selected['products_index'][$product]) ? $products_selected['products_index'][$product] : ""))
            | @setvar('extra_variation', (isset($products_selected['extra_variation'][$product]) ? $products_selected['extra_variation'][$product] : ""))
            | @setvar('join_op_art', (isset($products_selected['join_op_art'][$products_id]) ? $products_selected['join_op_art'][$products_id] : []))
            | @php($quantity = $products_selected['quantity'][$product])
            | @php($have_sizes = $products_selected['have_sizes'][$product])

            include ./_tr_sizes_product.pug
            | @endforeach

| @else

.table-responsive
    table.table.table-bordered.table-framed.table-product-general
        tbody
            tr.bg-green-300
                td.text-center.text-semibold.text-default.color-green(colspan="3") Produto
.table-responsive
    | @setvar('products', (isset($products_selected['products_index']) ? $products_selected['products_index'] : []))
    | @foreach($products as $key => $product)
    | @if(isset($products_selected['op_color_tab6'][$product]))
    | @setvar('products_id', (isset($products_selected['products_id'][$product]) ? $products_selected['products_id'][$product] : ""))
    | @setvar('join_op_art', (isset($products_selected['join_op_art'][$products_id]) ? $products_selected['join_op_art'][$products_id] : []))
    include ./_tr_op_name_product.pug
    | @endif
    | @endforeach
.table-responsive
    table.table.table-bordered.table-framed.table-product-general
        thead
            tr
                th Produto
                | @foreach($sizes as $size)
                th.text-center.col-sm-1 {{ $size->name }}
                | @endforeach
                th.text-center.col-sm-1 Total
        tbody
            | @setvar('products', (isset($products_selected['products_index']) ? $products_selected['products_index'] : []))
            | @foreach($products as $key => $product)
            | @if(!isset($products_selected['op_color_tab6'][$product]))
            | @setvar('variations', ((isset($products_selected['variations_name'][$product]) ? $products_selected['variations_name'][$product] : []) + [$products_selected['extra_variation'][$product]]))
            | @setvar('image_art', (isset($products_selected['image_art'][$product]) ? $products_selected['image_art'][$product] : ""))
            | @setvar('products_id', (isset($products_selected['products_id'][$product]) ? $products_selected['products_id'][$product] : ""))
            | @setvar('products_index', (isset($products_selected['products_index'][$product]) ? $products_selected['products_index'][$product] : ""))
            | @setvar('extra_variation', (isset($products_selected['extra_variation'][$product]) ? $products_selected['extra_variation'][$product] : ""))
            | @setvar('join_op_art', (isset($products_selected['join_op_art'][$products_id]) ? $products_selected['join_op_art'][$products_id] : []))
            | @php($quantity = $products_selected['quantity'][$product])
            | @php($have_sizes = $products_selected['have_sizes'][$product])

            include ./_tr_sizes_product.pug
            | @endif
            | @endforeach

| @endif

| @else

.alert.alert-warning.no-border
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".

| @endif