| @setvar('op_client_name', isset($products_selected['op_client_name'][$product][$key]))
| @if($op_client_name === true)
| @foreach($products_selected['op_client_name'][$product][$key] as $k => $value)
| @setvar('op_client_quantity', $products_selected['op_client_quantity'][$product][$key][$k])
| @setvar('op_client_size', $products_selected['op_client_size'][$product][$key][$k])
| @php($op_name_tab6[$k] = $value)
| @php($products_selected['op_quantity_tab6'][$product][$key][$k] = $op_client_quantity)
| @php($products_selected['op_size_tab6'][$product][$key][$k] = $op_client_size)
| @endforeach
| @endif