tr
    | @if(!in_array($product, $join_op_art))
    | @php($total_sizes = 0)
    td.text-left
        span.display-block.font-small {{ $products_selected['products_name'][$product] }}  
            span.text-muted {{ implode(", ", $variations) }}
    | @if($have_sizes == 'Y')
    | @setvar('quantity_piece', 0)
    | @setvar('size_piece', $products_selected['size_piece'][$product])
    | @foreach($sizes as $size)
    td.text-center(class!="{{ $size->hex_color }}")
        | @php($ert_qtd_piece = isset($products_selected['parceria'][$products_id][$product]['ert_qtd_piece'][$size->id]) ? $products_selected['parceria'][$products_id][$product]['ert_qtd_piece'][$size->id] : 0)
        | @php($bp_size_qtd = isset($products_selected['parceria'][$products_id][$product]['size'][$size->id]) ? $products_selected['parceria'][$products_id][$product]['size'][$size->id] - $ert_qtd_piece : 0)
        | @setvar('size_qtd', $products_selected['sizes'][$product][$size->id])

        | {{ (($size_qtd == 0 || empty($size_qtd)) && ($bp_size_qtd == 0 || empty($bp_size_qtd))) ? "" : $size_qtd + $bp_size_qtd }}
    | @endforeach
    | @php($total_sizes = (array_sum($products_selected['sizes'][$product]) + (isset($products_selected['parceria'][$products_id][$product]['size']) ? array_sum($products_selected['parceria'][$products_id][$product]['size']) : 0) ))
    | @else
    td.text-center(class!="{{ $sizes[0]->hex_color }}", colspan="{{ count($sizes) }}")
        | @php($bp_size_qtd = isset($products_selected['parceria'][$products_id][$product]['quantity']) ? $products_selected['parceria'][$products_id][$product]['quantity'] : 0)
        | {{ $quantity + $bp_size_qtd }}
        | @php($total_sizes = $quantity + $bp_size_qtd)
    | @endif
    td.text-center
        span.text-semibold {{ ($total_sizes == 0 || empty($total_sizes)) ? "" : $total_sizes }}
    | @endif

tr
    | @if(isset($products_selected['brinde'][$products_id]) && array_key_exists($product, $products_selected['brinde'][$products_id]))
    | @php($array_brinde = $products_selected['brinde'][$products_id])
    | @php($total_sizes = 0)
    td.text-left
        span.display-block.font-small {{ $products_selected['products_name'][$product] }}  
            span.text-muted Sem Nome
    | @if($have_sizes == 'Y')
    | @foreach($sizes as $size)
    | @php($size_qtd = 0)
    | @foreach($array_brinde as $brinde)
    | @if($brinde['size'][$size->id] > 0)
    | @php($ert_qtd_piece += $brinde['ert_qtd_piece'][$size->id])
    | @php($size_qtd += ($brinde['size'][$size->id] - $ert_qtd_piece))
    | @endif
    | @endforeach
    td.text-center(class!="{{ $size->hex_color }}")
        | {{ ($size_qtd == 0 || empty($size_qtd)) ? "" : $size_qtd }}
    | @php($total_sizes += $size_qtd)
    | @endforeach
    | @else
    td.text-center(class!="{{ $sizes[0]->hex_color }}", colspan="{{ count($sizes) }}")
        | {{ $quantity }}
        | @php($total_sizes = $quantity)
    | @endif
    td.text-center
        span.text-semibold {{ ($total_sizes == 0 || empty($total_sizes)) ? "" : $total_sizes }}
    | @endif

tr
    | @if(isset($products_selected['sem_nome'][$products_id]) && array_key_exists($product, $products_selected['sem_nome'][$products_id]))
    | @php($array_sem_nome = $products_selected['sem_nome'][$products_id])
    | @php($total_sizes = 0)
    td.text-left
        span.display-block.font-small {{ $products_selected['products_name'][$product] }}  
            span.text-muted Sem Nome
    | @if($have_sizes == 'Y')
    | @foreach($sizes as $size)
    | @php($size_qtd = 0)
    | @foreach($array_sem_nome as $sem_nome)
    | @if($sem_nome['size'][$size->id] > 0)
    | @php($ert_qtd_piece += $sem_nome['ert_qtd_piece'][$size->id])
    | @php($size_qtd += ($sem_nome['size'][$size->id] - $ert_qtd_piece))
    | @endif
    | @endforeach
    td.text-center(class!="{{ $size->hex_color }}")
        | {{ ($size_qtd == 0 || empty($size_qtd)) ? "" : $size_qtd }}
    | @php($total_sizes += $size_qtd)
    | @endforeach
    | @else
    td.text-center(class!="{{ $sizes[0]->hex_color }}", colspan="{{ count($sizes) }}")
        | {{ $quantity }}
        | @php($total_sizes = $quantity)
    | @endif
    td.text-center
        span.text-semibold {{ ($total_sizes == 0 || empty($total_sizes)) ? "" : $total_sizes }}
    | @endif

tr
    | @if(isset($products_selected['infantil'][$products_id]) && array_key_exists($product, $products_selected['infantil'][$products_id]))
    | @php($array_infantil = $products_selected['infantil'][$products_id])
    | @php($total_sizes = 0)
    td.text-left
        span.display-block.font-small {{ $products_selected['products_name'][$product] }}  
            span.text-muted Infantil
    | @if($have_sizes == 'Y')
    | @foreach($sizes as $size)
    | @php($size_qtd = 0)
    | @foreach($array_infantil as $infantil)
    | @if($infantil['size'][$size->id] > 0)
    | @php($ert_qtd_piece += $infantil['ert_qtd_piece'][$size->id])
    | @php($size_qtd += ($infantil['size'][$size->id] - $ert_qtd_piece))
    | @endif
    | @endforeach
    td.text-center(class!="{{ $size->hex_color }}")
        | {{ ($size_qtd == 0 || empty($size_qtd)) ? "" : $size_qtd }}
    | @php($total_sizes += $size_qtd)
    | @endforeach
    | @else
    td.text-center(class!="{{ $sizes[0]->hex_color }}", colspan="{{ count($sizes) }}")
        | {{ $quantity }}
        | @php($total_sizes = $quantity)
    | @endif
    td.text-center
        span.text-semibold {{ ($total_sizes == 0 || empty($total_sizes)) ? "" : $total_sizes }}
    | @endif
