table.table.table-bordered.table-product-general
    tbody
        | @if(!in_array($product, $join_op_art))
        tr.bg-orange-300
            td.text-center.text-semibold.text-default.color-orange(colspan="3") {{ $products_selected['products_name'][$product] }} ({{ $products_selected['extra_variation'][$product] }})
        | @foreach($products_selected['op_color_tab6'][$product] as $key => $op_color_tab6)
        | @setvar('op_name_tab6', $products_selected['op_name_tab6'][$product][$key])
        tr
            td.text-center.text-semibold.col-lg-4(class="{{ $op_color_tab6 }}") Nome
            td.text-center.text-semibold.col-lg-4(class="{{ $op_color_tab6 }}") Quantidade
            td.text-center.text-semibold.col-lg-4(class="{{ $op_color_tab6 }}") Tamanho

        | @foreach($op_name_tab6 as $k => $value)
        | @setvar('op_quantity_tab6', $products_selected['op_quantity_tab6'][$product][$key][$k])
        | @setvar('op_size_tab6', $products_selected['op_size_tab6'][$product][$key][$k])
        tr
            td.text-center {{ $value }}
            td.text-center {{ $op_quantity_tab6 }}
            td.text-center(class="{{ $op_color_tab6 }}") {{ $op_size_tab6 }}
        | @endforeach

        | @setvar('op_client_name', isset($products_selected['op_client_name'][$product][$key]))
        | @if($op_client_name === true)
        | @setvar('op_client_name', current($products_selected['op_client_name'][$product][$key]))
        | @setvar('op_client_quantity', current($products_selected['op_client_quantity'][$product][$key]))
        | @setvar('op_client_size', current($products_selected['op_client_size'][$product][$key]))
        tr
            td.text-center {{ $op_client_name }}
            td.text-center {{ $op_client_quantity }}
            td.text-center(class="{{ $op_color_tab6 }}") {{ $op_client_size }}
        | @endif
        | @endforeach
        | @endif