
fieldset.content-group
    legend.text-bold Endereço do Cliente
    | {{ Form::select('address_types', trans('attributes.address_types'), null, ['style' => 'display: none;', 'disabled']) }}
    #all-addresses
        | @forelse(old('cep', (!isset($model->addresses) ? [] : $model->addresses)) as $key => $address)
        .panel.panel-flat.border-left-xlg.border-left-info
            .panel-heading
                .heading-elements
                    ul.icons-list
                        li
                            button.btn.btn-danger.btn-xs(type="button", onclick="removeAddressCard(this);")
                                i.icon-trash.position-left
                                | Excluir
                            //a.text-danger(onclick="removeAddressCard(this);")
                                i.icon-trash
            .panel-body
                .row
                    .col-md-4
                        .form-group(class!="{{ $errors->has('type.' . $key) ? ' has-error' : '' }}")
                            label
                                | {{ trans('attributes.type') }}
                                i.text-danger *
                            | {{ Form::select('type[' . $key . ']', trans('attributes.address_types'), old('type.' . $key, !isset($address->type)?null:$address->type), ['class' => 'select']) }}
                            | @if ($errors->has('type.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('type.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('cep.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.cep') }}
                                i.text-danger *
                            | {{ Form::text('cep[' . $key . ']', old('cep.' . $key, !isset($address->cep)?null:$address->cep), ['class' => "form-control cep", 'placeholder' => trans('attributes.cep'), 'maxlength' => '9']) }}
                            | {{ Form::hidden('address_id[' . $key . ']', old('address_id.' . $key, !isset($address->cep)?null:$address->id)) }}
                            | {{ Form::hidden('table[' . $key . ']', 'clients') }}
                            | @if ($errors->has('cep.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('cep.' . $key) }}
                            | @endif
                    .col-md-6
                        .form-group(class!="{{ $errors->has('street.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.street') }}
                                i.text-danger *
                            | {{ Form::text('street[' . $key . ']', old('street.' . $key, !isset($address->street)?null:$address->street), ['class' => "form-control", 'placeholder' => trans('attributes.street'), 'maxlength' => '250']) }}
                            | @if ($errors->has('street.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('street.' . $key) }}
                            | @endif
                    .col-md-2
                        .form-group(class!="{{ $errors->has('number.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.number') }}
                                i.text-danger *
                            | {{ Form::text('number[' . $key . ']', old('number.' . $key, !isset($address->number)?null:$address->number), ['class' => "form-control", 'placeholder' => trans('attributes.number'), 'maxlength' => '50']) }}
                            | @if ($errors->has('number.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('number.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('complement.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.complement') }}
                            | {{ Form::text('complement[' . $key . ']', old('complement.' . $key, !isset($address->complement)?null:$address->complement), ['class' => "form-control", 'placeholder' => trans('attributes.complement'), 'maxlength' => '50']) }}
                            | @if ($errors->has('complement.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('complement.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('neighborhood.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.neighborhood') }}
                                i.text-danger *
                            | {{ Form::text('neighborhood[' . $key . ']', old('neighborhood.' . $key, !isset($address->neighborhood)?null:$address->neighborhood), ['class' => "form-control", 'placeholder' => trans('attributes.neighborhood'), 'maxlength' => '150']) }}
                            | @if ($errors->has('neighborhood.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('neighborhood.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('city.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.city') }}
                                i.text-danger *
                            | {{ Form::text('city[' . $key . ']', old('city.' . $key, !isset($address->city)?null:$address->city), ['class' => "form-control", 'placeholder' => trans('attributes.city'), 'maxlength' => '150']) }}
                            | @if ($errors->has('city.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('city.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('state.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.state') }}
                                i.text-danger *
                            | {{ Form::text('state[' . $key . ']', old('state.' . $key, !isset($address->state)?null:$address->state), ['class' => "form-control", 'placeholder' => trans('attributes.state'), 'maxlength' => '2']) }}
                            | @if ($errors->has('state.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('state.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('country.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.country') }}
                            | {{ Form::text('country[' . $key . ']', old('country.' . $key, !isset($address->country)?null:$address->country), ['class' => "form-control", 'placeholder' => trans('attributes.country'), 'maxlength' => '100']) }}
                            span.help-block (ex: Brasil, BR, Espanha, ES, Portugal, PT)
                            | @if ($errors->has('country.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('country.' . $key) }}
                            | @endif
                    .col-md-4
                        .form-group(class!="{{ $errors->has('local.' . $key) ? ' has-error' : '' }}")
                            label 
                                | {{ trans('attributes.local') }}
                            | {{ Form::text('local[' . $key . ']', old('local.' . $key, !isset($address->local)?null:$address->local), ['class' => "form-control", 'placeholder' => trans('attributes.local'), 'maxlength' => '150']) }}
                            span.help-block (ex: Minha casa, Trabalho, Casa da avó)
                            | @if ($errors->has('local.' . $key))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('local.' . $key) }}
                            | @endif
        | @empty
        | {{ Form::select('type[0]', trans('attributes.address_types'), null, ['style' => 'display: none;']) }}
        //.alert.alert-info.no-border
            | Nenhum endereço foi cadastrado
        | @endforelse

    .row
        .col-md-12.text-center
            | {{ Form::button('<i class="icon-location4 position-left"></i> Adicionar Outro Endereço', ['class' => 'btn border-slate text-slate-800', 'type' => 'button', 'id' => 'addAddressCard']) }}