| @if(!empty($sector_id) && $sector_id == auth()->user()->sectors_id)
.form-group
    | {{ Form::textarea('observation', old('observation'), ['class' => 'form-control', 'rows' => '5', 'cols' => '5', 'placeholder' => trans('attributes.observation')]) }}
.form-group
    .text-right
        button.btn.btn-success(type='button', onclick='saveObservation();')
          |  Salvar Observação
| @endif
.alert.alert-info.no-border
    i.icon-mouse-left
    | Duplo clique no comentário para editar/excluir
.well
    dl.dl-horizontal(id='panelComments')
        | @if(isset($comments->comments))
        | @forelse($comments->comments as $comment)
        dt.edit-comment(title!="{{ $comment->name }}", href!="{{ route('cerebelo.customers.comments_edit', $comment->pivot->id) }}") 
            | {{ $comment->pivot->created_at->format('d/m/Y H:i') }} - {{ $comment->name }}
        dd.edit-comment(href!="{{ route('cerebelo.customers.comments_edit', $comment->pivot->id) }}") 
            | {{ $comment->pivot->comment }}
        | @empty
        center Nenhum comentário foi encontrado
        | @endforelse
        | @else
        center Nenhum comentário foi encontrado
        | @endif