fieldset.content-group
    legend.text-bold Contatos/Faturamento
    #all-contacts
        | @forelse(old('contact_id', (!isset($model->contacts) ? [] : $model->contacts)) as $key => $contact)
        include ./_panel_contact.pug
        | @empty
        | @endforelse

    .row
        .col-xs-12.text-center
            | {{ Form::button('<i class="icon-location4 position-left"></i> Adicionar Outro Contato', ['href' => route('cerebelo.customers.contact'), 'class' => 'btn border-slate text-slate-800', 'type' => 'button', 'id' => 'addContactCard']) }}