fieldset.content-group
    legend.text-bold Categorizar
    .row
        .col-xs-6
            .form-group(class!="{{ $errors->has('categories') ? ' has-error' : '' }}")
                label
                    | {{ trans('attributes.categories') }}
                    i.text-danger *
                .input-group
                    | @php($selected_categories = (!isset($model->categories)) ? null : $model->categories->pluck('id')->toArray())
                    | {{ Form::select('categories[]', $categories, old('categories', $selected_categories), ['id' => 'categories', 'multiple' => 'multiple', 'select_tables' => json_encode(old('categories', $selected_categories))]) }}
                    a.input-group-addon(onclick="ProductCategories.index(this)", categories!="{{ $categories->toJson() }}", url="{{ route('cerebelo.products.categories') }}", data-popup="tooltip", data-title="Gerenciar Categorias", data-placement="left", title="")
                        i.icon-cog3
                span.help-inline.text-info
                    p Nova Categoria: Digitar a categoria clicar nela para selecionar.
                    p Categoria Pré-existente: Só selecionar a(s) opção(ões) desejada(s).
                | @if ($errors->has('categories'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('categories') }}
                | @endif

    legend.text-bold Responsáveis
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('attendant_id') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.attendant_id') }}
                    i.text-danger *
                | {{ Form::select('attendant_id', $attendant_users, old('attendant_id'), ['class' => 'select-search', 'placeholder' => trans('attributes.attendant_id')]) }}
                | @if ($errors->has('attendant_id'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('attendant_id') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('representative_id') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.representative_id') }}
                    i.text-danger *
                | {{ Form::select('representative_id', $representatives, old('representative_id'), ['class' => 'select-search', 'placeholder' => trans('attributes.representative_id')]) }}
                | @if ($errors->has('representative_id'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('representative_id') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('designer_id') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.designer_id') }}
                    i.text-danger *
                | {{ Form::select('designer_id', $designer_users, old('designer_id'), ['class' => 'select-search', 'placeholder' => trans('attributes.designer_id')]) }}
                | @if ($errors->has('designer_id'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('designer_id') }}
                | @endif


    legend.text-bold Dados do Cliente
    .row
        .col-md-3
            .form-group(class!="{{ $errors->has('international') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.international') }}
                    i.text-danger *
                | {{ Form::select('international', trans('attributes.array_no_yes'), old('international'), ['class' => 'select', 'required']) }}
                | @if ($errors->has('international'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('international') }}
                | @endif
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('person_type') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.person_type') }}
                    i.text-danger *
                | {{ Form::select('person_type', trans('attributes.person_types'), old('person_type'), ['class' => 'select']) }}
                | @if ($errors->has('person_type'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('person_type') }}
                | @endif
        .col-md-6
            .form-group(class!="{{ $errors->has('cpf_cnpj') ? ' has-error' : '' }}")
                label(id="ctx_cpf_cnpj")
                    | {{ trans('attributes.cpf_cnpj') }}
                    i.text-danger *
                | {{ Form::text('cpf_cnpj', old('cpf_cnpj'), ['class' => "form-control", 'href' => route('cerebelo.customers.search_by_cpfcnpj'), 'placeholder' => trans('attributes.cpf_cnpj') ]) }}
                span.label.text-left
                    a(target="_blank", href="https://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicitacao2.asp") Receita Federal
                | @if ($errors->has('cpf_cnpj'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('cpf_cnpj') }}
                | @endif
        .col-md-6(class="person_type_pj")
            .form-group(class!="{{ $errors->has('state_registration') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.state_registration') }}
                    i.text-danger *
                | {{ Form::text('state_registration', old('state_registration'), ['class' => "form-control", 'placeholder' => trans('attributes.state_registration') ]) }}
                | @if ($errors->has('state_registration'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('state_registration') }}
                | @endif
        .col-md-6(class="person_type_pj")
            .form-group(class!="{{ $errors->has('company_name') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.company_name') }}
                    i.text-danger *
                | {{ Form::text('company_name', old('company_name'), ['class' => "form-control", 'placeholder' => trans('attributes.company_name') ]) }}
                | @if ($errors->has('company_name'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('company_name') }}
                | @endif
        .col-md-6(class="person_type_pj")
            .form-group(class!="{{ $errors->has('fantasy_name') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.fantasy_name') }}
                | {{ Form::text('fantasy_name', old('fantasy_name'), ['class' => "form-control", 'placeholder' => trans('attributes.fantasy_name') ]) }}
                | @if ($errors->has('fantasy_name'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('fantasy_name') }}
                | @endif
        .col-md-6(class="person_type_pf")
            .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.name') }}
                    i.text-danger *
                | {{ Form::text('name', old('name', (isset($model->fantasy_name) ? $model->fantasy_name : null)), ['class' => "form-control", 'placeholder' => trans('attributes.name') ]) }}
                | @if ($errors->has('name'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('name') }}
                | @endif
        .col-md-3(class="person_type_pf")
            .form-group(class!="{{ $errors->has('rg') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.rg') }}
                    //i.text-danger *
                | {{ Form::text('rg', old('rg'), ['class' => "form-control", 'placeholder' => trans('attributes.rg'), 'maxlength' => '18' ]) }}
                | @if ($errors->has('rg'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('rg') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('phone') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.phone') }}
                    i.text-danger *
                | {{ Form::text('phone', old('phone'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone'), 'maxlength' => '15']) }}
                | @if ($errors->has('phone'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('phone') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('phone2') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.phone2') }}
                | {{ Form::text('phone2', old('phone2'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone2'), 'maxlength' => '15']) }}
                | @if ($errors->has('phone2'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('phone2') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('email') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.email') }}
                    i.text-danger *
                | {{ Form::email('email', old('email'), ['class' => "form-control", 'placeholder' => trans('attributes.email') ]) }}
                | @if ($errors->has('email'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('email') }}
                | @endif

    legend.text-bold Tabelas
    .row
        .col-md-12
            .form-group(class!="{{ $errors->has('tables_id') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.tables_id') }}
                | {{ Form::select('tables_id[]', $tables, old('tables_id', $tables_selected), ['class' => 'select', 'multiple', 'select_tables' => json_encode(old('tables_id', $tables_selected))]) }}
                | @if ($errors->has('tables_id'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('tables_id') }}
                | @endif


    legend.text-bold Observações do Cliente

    .row
        .col-md-12
            include ./_sectors.pug