.modal-dialog
    .modal-content
        .modal-header
            button.close(type="button", data-dismiss="modal") &times;
            h5.modal-title Comentário
        .modal-body
            | {{ Form::model($model, array('url' => route('cerebelo.customers.comments_update', $model->id), 'method' => 'PATCH', 'id' => 'formClientComment')) }}
            .row
                .col-lg-12
                    .form-group
                        | {{ Form::textarea('comment', old('comment'), ['class' => 'form-control', 'rows' => '5', 'cols' => '5', 'placeholder' => trans('attributes.comment')]) }}
            .row
                .col-lg-12
                    .form-group
                        .text-right
                            button.btn.btn-danger(type='button', id='btnDestroyComment', href!="{{ route('cerebelo.customers.comments_destroy', $model->id) }}")
                              |  Excluir
                            button.btn.btn-success(type='submit')
                              |  Salvar
            | {{ Form::close() }}