.modal-dialog.modal-lg
  .modal-content
    .modal-header
        button.close(type="button", data-dismiss="modal") &times;
        h5.modal-title Pedidos do Cliente
    .modal-body
      .tabbable
        ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
          li.active
            a(href="#highlighted-justified-tab1", data-toggle="tab") Pedidos
          li
            a(href="#highlighted-justified-tab2", data-toggle="tab") OPs Unificados

        .tab-content
          .tab-pane.active(id="highlighted-justified-tab1")
            .content-group
              span.help-block.text-light.text-info.text-center Marque os orçamentos/pedidos que deseja juntar e clique em "Juntar Selecionados".
            .content-group
              .table-responsive
                table.table.text-nowrap.table-hover#datatable(datatable="{{ route('cerebelo.orders.datatable') }}?client_id_join={{ $client_id }}", url_orders_join="{{ route('cerebelo.orders.join') }}")
                  thead
                    tr
                      th.col-xs-1.text-center(style='width: 20px;')
                        | {{ Form::checkbox('all_order_id') }}
                      th.col-xs-3 Informações do Pedido
                      th.col-xs-1 Material
                      th
                      th
                      th
                      th.col-xs-2 Ação
                      th.col-xs-2 Atendente
                      th.col-xs-1 Entrega
                      th.col-xs-2 Última Atualização
            .content-group
              .text-left
                .col-xs-6
                  | {{ Form::text('join_number', null, ['class' => 'form-control', 'placeholder' => 'Nº ou Ref. da OP']) }}
                  span.help-block.text-light.text-size-mini.text-info Deixe o campo vazio se deseja que o sistema gere automaticamente o número da OP Unificada.
              .text-right
                button.btn.border-slate.text-slate-800(type='button')
                  | Juntar Selecionados

          .tab-pane(id="highlighted-justified-tab2")
            .content-group
              button.btn.border-slate.text-slate-800.btn-flat.btn-xs(onclick="btnXMLFinancial(this);", href!="{{ route('cerebelo.orders.xml') }}")
                b
                  i.icon-file-xml2.position-left
                | XML Financeiro
              .table-responsive
                table.table.text-nowrap.table-hover#datatable-unified(datatable="{{ route('cerebelo.orders.datatable_unified', $client_id) }}", url_orders_join="{{ route('cerebelo.orders.join') }}")
                  thead
                    tr
                      th.col-lg-6
                      th.col-xs-1 {{ Form::checkbox('', null, false, ['id' => 'check_order']) }}
                      th.col-xs-1 Nº
                      th.col-xs-1 Nº OPs
                      th.col-xs-1 Gerado Em
                      th.col-xs-2 Gerado Por