.panel.panel-flat.border-left-xlg.border-left-info
    .panel-heading
        .heading-elements
            | @php($contact_destroy_url = !isset($contact->id) ? "" : route('cerebelo.customers.contact_destroy', $contact->id))
            ul.icons-list
                li
                    button.btn.btn-danger.btn-xs(type="button", href="{{ $contact_destroy_url }}", onclick="removeContactCard(this);")
                        i.icon-trash.position-left
                        | Excluir
    .panel-body
        .row
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_person_type.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.person_type') }}
                        i.text-danger *
                    | {{ Form::hidden('contact_id[' . $key . ']', old('contact_id.' . $key, !isset($contact->id)?null:$contact->id)) }}
                    | {{ Form::select('contact_person_type[' . $key . ']', trans('attributes.person_types'), old('contact_person_type.' . $key, !isset($contact->person_type)?null:$contact->person_type), ['class' => 'form-control']) }}
                    | @if ($errors->has('contact_person_type.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_person_type.' . $key) }}
                    | @endif
            .col-xs-6
                .form-group(class!="{{ $errors->has('contact_cpf_cnpj.' . $key) ? ' has-error' : '' }}")
                    label(id="ctx_contact_cpf_cnpj_{{ $key }}")
                        | {{ trans('attributes.cpf_cnpj') }}
                        i.text-danger *
                    | {{ Form::text('contact_cpf_cnpj[' . $key . ']', old('contact_cpf_cnpj.' . $key, !isset($contact->cpf_cnpj)?null:$contact->cpf_cnpj), ['class' => "form-control", 'placeholder' => trans('attributes.cpf_cnpj') ]) }}
                    | @if ($errors->has('contact_cpf_cnpj.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_cpf_cnpj.' . $key) }}
                    | @endif
            .col-xs-6(class="contact_person_type_pj")
                .form-group(class!="{{ $errors->has('contact_state_registration.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.state_registration') }}
                        i.text-danger *
                    | {{ Form::text('contact_state_registration[' . $key . ']', old('contact_state_registration.' . $key, !isset($contact->state_registration)?null:$contact->state_registration), ['class' => "form-control", 'placeholder' => trans('attributes.state_registration') ]) }}
                    | @if ($errors->has('contact_state_registration.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_state_registration.' . $key) }}
                    | @endif
            .col-xs-6(class="contact_person_type_pj")
                .form-group(class!="{{ $errors->has('contact_company_name.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.company_name') }}
                        i.text-danger *
                    | {{ Form::text('contact_company_name[' . $key . ']', old('contact_company_name.' . $key, !isset($contact->company_name)?null:$contact->company_name), ['class' => "form-control", 'placeholder' => trans('attributes.company_name') ]) }}
                    | @if ($errors->has('contact_company_name.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_company_name.' . $key) }}
                    | @endif
            .col-xs-6(class="contact_person_type_pj")
                .form-group(class!="{{ $errors->has('contact_fantasy_name.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.fantasy_name') }}
                    | {{ Form::text('contact_fantasy_name[' . $key . ']', old('contact_fantasy_name.' . $key, !isset($contact->fantasy_name)?null:$contact->fantasy_name), ['class' => "form-control", 'placeholder' => trans('attributes.fantasy_name') ]) }}
                    | @if ($errors->has('contact_fantasy_name.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_fantasy_name.' . $key) }}
                    | @endif
            .col-xs-6(class="contact_person_type_pf")
                .form-group(class!="{{ $errors->has('contact_name.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.name') }}
                        i.text-danger *
                    | {{ Form::text('contact_name[' . $key . ']', old('contact_name.' . $key, !isset($contact->fantasy_name)?null:$contact->fantasy_name), ['class' => "form-control", 'placeholder' => trans('attributes.name') ]) }}
                    | @if ($errors->has('contact_name.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_name.' . $key) }}
                    | @endif
            .col-xs-3(class="contact_person_type_pf")
                .form-group(class!="{{ $errors->has('contact_rg.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.rg') }}
                        i.text-danger *
                    | {{ Form::text('contact_rg[' . $key . ']', old('contact_rg.' . $key, !isset($contact->rg)?null:$contact->rg), ['class' => "form-control", 'placeholder' => trans('attributes.rg'), 'maxlength' => '18' ]) }}
                    | @if ($errors->has('contact_rg.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_rg.' . $key) }}
                    | @endif
        .row
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_phone.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.phone') }}
                        i.text-danger *
                    | {{ Form::text('contact_phone[' . $key . ']', old('contact_phone.' . $key, !isset($contact->phone)?null:$contact->phone), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone'), 'maxlength' => '15']) }}
                    | @if ($errors->has('contact_phone.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_phone.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_email.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.email') }}
                        i.text-danger *
                    | {{ Form::email('contact_email[' . $key . ']', old('contact_email.' . $key, !isset($contact->email)?null:$contact->email), ['class' => "form-control", 'placeholder' => trans('attributes.email') ]) }}
                    | @if ($errors->has('contact_email.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_email.' . $key) }}
                    | @endif
        .row
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_cep.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.cep') }}
                        //i.text-danger *
                    | {{ Form::hidden('contact_address_id[' . $key . ']', old('contact_cep.' . $key, !isset($contact->address->id)?null:$contact->address->id)) }}
                    | {{ Form::text('contact_cep[' . $key . ']', old('contact_cep.' . $key, !isset($contact->address->cep)?null:$contact->address->cep), ['class' => "form-control", 'placeholder' => trans('attributes.cep'), 'maxlength' => '9']) }}
                    | @if ($errors->has('contact_cep.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_cep.' . $key) }}
                    | @endif
            .col-xs-6
                .form-group(class!="{{ $errors->has('contact_street.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.street') }}
                        //i.text-danger *
                    | {{ Form::text('contact_street[' . $key . ']', old('contact_street.' . $key, !isset($contact->address->street)?null:$contact->address->street), ['class' => "form-control", 'placeholder' => trans('attributes.street'), 'maxlength' => '250']) }}
                    | @if ($errors->has('contact_street.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_street.' . $key) }}
                    | @endif
            .col-xs-2
                .form-group(class!="{{ $errors->has('contact_number.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.number') }}
                        //i.text-danger *
                    | {{ Form::text('contact_number[' . $key . ']', old('contact_number.' . $key, !isset($contact->address->number)?null:$contact->address->number), ['class' => "form-control", 'placeholder' => trans('attributes.number'), 'maxlength' => '50']) }}
                    | @if ($errors->has('contact_number.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_number.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_complement.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.complement') }}
                    | {{ Form::text('contact_complement[' . $key . ']', old('contact_complement.' . $key, !isset($contact->address->complement)?null:$contact->address->complement), ['class' => "form-control", 'placeholder' => trans('attributes.complement'), 'maxlength' => '50']) }}
                    | @if ($errors->has('contact_complement.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_complement.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_neighborhood.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.neighborhood') }}
                        //i.text-danger *
                    | {{ Form::text('contact_neighborhood[' . $key . ']', old('contact_neighborhood.' . $key, !isset($contact->address->neighborhood)?null:$contact->address->neighborhood), ['class' => "form-control", 'placeholder' => trans('attributes.neighborhood'), 'maxlength' => '150']) }}
                    | @if ($errors->has('contact_neighborhood.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_neighborhood.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_city.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.city') }}
                        //i.text-danger *
                    | {{ Form::text('contact_city[' . $key . ']', old('contact_city.' . $key, !isset($contact->address->city)?null:$contact->address->city), ['class' => "form-control", 'placeholder' => trans('attributes.city'), 'maxlength' => '150']) }}
                    | @if ($errors->has('contact_city.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_city.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_state.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.state') }}
                        //i.text-danger *
                    | {{ Form::text('contact_state[' . $key . ']', old('contact_state.' . $key, !isset($contact->address->state)?null:$contact->address->state), ['class' => "form-control", 'placeholder' => trans('attributes.state'), 'maxlength' => '100']) }}
                    | @if ($errors->has('contact_state.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_state.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_country.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.country') }}
                        //i.text-danger *
                    | {{ Form::text('contact_country[' . $key . ']', old('contact_country.' . $key, !isset($contact->address->country)?null:$contact->address->country), ['class' => "form-control", 'placeholder' => trans('attributes.country'), 'maxlength' => '100']) }}
                    | @if ($errors->has('contact_country.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_country.' . $key) }}
                    | @endif
            .col-xs-4
                .form-group(class!="{{ $errors->has('contact_local.' . $key) ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.local') }}
                        //i.text-danger *
                    | {{ Form::text('contact_local[' . $key . ']', old('contact_local.' . $key, !isset($contact->address->local)?null:$contact->address->local), ['class' => "form-control", 'placeholder' => trans('attributes.local'), 'maxlength' => '150']) }}
                    | @if ($errors->has('contact_local.' . $key))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('contact_local.' . $key) }}
                    | @endif