| @if(Route::currentRouteName() == 'cerebelo.customers.edit')
.tabbable(id='tabbableSectors', style="width: 100%; overflow-x: auto; white-space: nowrap;")
    ul.nav.nav-tabs.nav-tabs-highlight
        | @foreach($sectors as $key => $sector)
        li(class!='{{ ((Auth::user()->sectors_id == $sector->id) ? "active" : "") }}', sector_id!='{{ $sector->id }}')
            a(href='#justified-badges-tab', data-toggle='tab')
                span(title="Campos em branco").badge.badge-danger.position-left
                    | {{ $sector->qnt }}
                |  {{ $sector->name }}
        | @endforeach
| @endif
.tab-content#justified-badges-tab.tab-pane.active.showComments
    .form-group
        | {{ Form::textarea('observation', old('observation'), ['class' => 'form-control', 'rows' => '5', 'cols' => '5', 'placeholder' => trans('attributes.observation')]) }}