.row
    .col-xs-12
        .tabbable.content-group
          ul.nav.nav-tabs.nav-tabs-highlight.nav-justified.no-print
            li.active
              a(href='#client-tab1', data-toggle='tab')
                |  Dados do Cliente
            li
              a(href='#client-tab2', data-toggle='tab')
                | Endereços
            li
              a(href='#client-tab3', data-toggle='tab')
                | Contatos/Faturamento
          .tab-content
                #client-tab1.tab-pane.active
                  include ./_data.pug
                #client-tab2.tab-pane
                  include ./_addresses.pug
                #client-tab3.tab-pane
                  include ./_contacts.pug
