extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Cliente

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Cliente

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebeloclient:js/customers/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/_common.js')) }}")
    script(type="text/javascript", id="customers-routes", remove-address="{{ route('cerebelo.addresses.destroy') }}", src="{{ Module::asset('cerebeloclient:js/customers/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/_form.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloproducts:js/products/_category.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/_category.js')) }}")
    | {!! $validator !!}
    | {!! $script_attendant !!}

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Cliente

block content
    .row
        .col-lg-12
            | {{ Form::open(array('url' => route('cerebelo.customers.store'), 'method' => 'POST', 'id' => 'formCreate')) }}
            .panel.panel-flat
                .panel-body
                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Adicionar Cliente', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                    include ./_tabs.pug

                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Adicionar Cliente', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}