extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Edição de Cliente

block page-title
    span.text-semibold Cadastros
    |  - Edição de Cliente

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebeloclient:js/customers/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/_common.js')) }}")
    script(type="text/javascript", id="customers-edit", client-comments-route-index!="{{ route('cerebelo.customers.comments_index', $model->id) }}", client-comments-route-store!="{{ route('cerebelo.customers.comments_store', $model->id) }}", src="{{ Module::asset('cerebeloclient:js/customers/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/_form.js')) }}")
    script(type="text/javascript", id="customers-routes", remove-address="{{ route('cerebelo.addresses.destroy') }}", src="{{ Module::asset('cerebeloproducts:js/products/_category.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/_category.js')) }}")
    | {!! $validator !!}
    | {!! $script_attendant !!}

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Edição de Cliente

block content
    .col-lg-12
        | {{ Form::model($model, array('url' => route('cerebelo.customers.update', $model->id), 'method' => 'PATCH', 'id' => 'formEdit')) }}
        .panel.panel-flat
            .panel-body
                .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar Cliente', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                include ./_tabs.pug

                .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar Cliente', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
        | {{ Form::close() }}

    #modal_remote.modal