extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Cliente

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Cliente

block theme-js-files
    script(type="text/javascript", id="route-datatable", route-datatable="{{ route('cerebelo.customers.datatable') }}", src="{{ Module::asset('cerebeloclient:js/customers/index.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/index.js')) }}")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Cliente

block content
    #modal_remote.modal

    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista Clientes
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.customers.create') }}")
                            i.icon-import.position-left
                            |  Adicionar Cliente

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.name') }}
                                    th 
                                        | {{ trans('attributes.attendant_id') }}
                                    th 
                                        | {{ trans('attributes.representative_id') }}
                                    th 
                                        | {{ trans('attributes.designer_id') }}
                                    th 
                                        | {{ trans('attributes.cpf_cnpj') }}
                                    th 
                                    th 
                                    th 
                                        | {{ trans('attributes.phone') }}
                                    th 
                                        | {{ trans('attributes.email') }}
                                    th 
                                        | {{ trans('attributes.created_at') }}