.panel-body.no-padding-bottom.no-padding-top
    .row
        .col-sm-12
            table.table.table-lg
                tr
                    td.col-lg-12
                        img.img-order(src="{{ asset('assets/images/header-print-orders.png') }}?{{ filemtime(public_path('assets/images/header-print-orders.png')) }}")
    .row
        .row.data-pdf
            .table-responsive
                table.table-data.table.table-lg
                    tr
                        td.col-lg-3
                            table.spacing-table
                                tr
                                    td Representante:
                                    td {{ (!isset($model->client->representative->name)) ? "" : $model->client->representative->name }}
                                tr
                                    td Atendente:
                                    td {{ (!isset($model->client->attendant->name)) ? "" : $model->client->attendant->name }}
                                tr
                                    td Designer:
                                    td {{ (!isset($model->client->designer->name)) ? "" : $model->client->designer->name }}
                                tr
                                    td Cliente:
                                    td {{ $model->client->name }}
                                tr
                                    td Material:
                                    td {{ $model->group }}

                        td.col-lg-6
                            table.spacing-table
                                tr
                                    td Orçamento: 
                                    td {{ "#" . $model->full_order_number }}
                                tr
                                    td Emissão:
                                    td {{ $model->created_at }}
                                tr
                                    td Entrega:
                                    td {{ $model->delivery_date }}