#section-to-print
    .pagebreak
        .panel.panel-white
            include ./header.pug

            include ./with_name.pug
            include ./sizes.pug

            include ../partials/footer.pug

    include ./art.pug