.table-responsive
    table.table.table-bordered.table-framed.table-product-general
        thead
            tr
                th Produto
                | @if(isset($sizes))
                | @foreach($sizes as $size)
                th.text-center.col-sm-1 {{ $size->name }}
                | @endforeach
                | @endif
                th.text-center.col-sm-1 Total
        tbody
            | @if(isset($products_selected['layout_op_data']))
            | @foreach($products_selected['layout_op_data'] as $product_id => $layout_op_data_v)
            | @foreach($layout_op_data_v as $variations_k => $variations_v)

            | @if(isset($variations_v['unnamed']))
            | @foreach($variations_v['unnamed'] as $unnamed_k => $unnamed_v)
            include ./tr_size.pug
            | @endforeach
            | @endif

            | @endforeach
            | @endforeach
            | @endif