tr
    | @php($product_index = current(array_get(current($unnamed_v), 'index')))
    | @php($present_partnership = (isset($products_selected['present_partnership'][$product_index]) ? $products_selected['present_partnership'][$product_index] : ""))
    | @php($extra_variation = [$present_partnership, (isset($products_selected['extra_variation'][$product_index]) ? $products_selected['extra_variation'][$product_index] : "")])
    | @php($variations = ((isset($products_selected['variations_name'][$product_index]) ? $products_selected['variations_name'][$product_index] : [])) + array_filter($extra_variation))
    | @php($total = 0)
    td.text-left
        span.display-block.font-small {{ extractProductName($product_id, $products_selected['products_id'], $products_selected['products_name']) }}  
            span.text-muted {{ implode(', ', $variations) }}
    | @if(count($unnamed_v) > 1)
    | @foreach($unnamed_v as $size_k => $size_v)
    | @php($quantity = arraySum($size_v['quantity'], 'piece'))
    | @php($total += $quantity)
    | @php($color = current(array_get($size_v, 'color')))
    td.text-center(class="{{ $color }}") {{ ($quantity == 0) ? '' : $quantity }}
    | @endforeach
    | @else
    | @php($quantity = arraySum(array_get(current($unnamed_v), 'quantity'), 'piece'))
    | @php($total += $quantity)
    | @php($color = current(array_get(current($unnamed_v), 'color')))
    td.text-center(colspan="8", class="{{ $color }}") {{ $quantity }}
    | @endif
    td.text-center
        span.text-semibold {{ $total }}