extends ../../layout.pug
block title
    title Tipos de Boletos - Cerebelo Curso nota 10
block page-title
    span.text-semibold Financeiro
    |  - Boletos
    |  - Tipos de Boletos
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/billet_settings.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Financeiro
    li Boletos
    li.active Tipos de Boletos
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Tipos de Boletos
            .heading-elements
                a.btn.btn-primary(type='button' href="{{ url('configurar_boleto/novo') }}")
                    i.icon-plus22
                    |  Cadastrar Tipo de Boleto
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th ID
                        th Banco
                        th Conta
                        th Padrão para emissão
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 5
                        - n++
                        tr
                            td 5
                            td Banco do Brasil
                            td 534
                            td
                                span.label.label-success Sim
                            td
                                span.label.label-success Ativo
                            +actions
                tfoot
                    tr
                        td.input-filter  ID
                        td.select-filter  Banco
                        td.input-filter Conta
                        td.select-filter Padrão para emissão
                        td.select-filter Status
                        td
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.editar(href="{{ url('configurar_boleto/editar') }}").text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar