.row
    .col-md-6
        fieldset
            legend.text-semibold
                i.icon-truck.position-left
                |  Dados do Fornecedor
            .form-group
                label.col-lg-3.control-label Tipo de Fornecedor
                .col-lg-9
                    label.radio-inline
                        input(type='radio', name='radio-unstyled-inline-left', checked='checked')
                        Pessoa Física
                    label.radio-inline
                        input(type='radio', name='radio-unstyled-inline-left')
                        Pessoa Jurídica
            .form-group
                label.col-lg-3.control-label CNAE - Ramo de Atividade:
                .col-lg-9
                    input.form-control(type='text', placeholder='eugene@kopyov.com')
            .form-group
                label.col-lg-3.control-label Razão Social:
                .col-lg-9
                    input.form-control(type='text', placeholder='eugene@kopyov.com')
            .form-group
                label.col-lg-3.control-label Nome Fantasia:
                .col-lg-9
                    input.form-control(type='text', placeholder='eugene@kopyov.com')
            .form-group
                .col-md-12
                    .row
                        .col-md-6
                            label.control-label CNPJ:
                            input.form-control(type='text', placeholder='Primeiro Nome')
                        .col-md-6
                            label.control-label Inscrição Estadual:
                            input.form-control(type='text', placeholder='Sobrenome')
            .form-group
                label.col-lg-3.control-label Observações
                .col-lg-9
                    textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
    .col-md-6
        fieldset
            legend.text-semibold
                i.icon-reading.position-left
                |  Informações de Contato
            .form-group
                label.col-lg-3.control-label Email:
                .col-lg-9
                    input.form-control(type='text', placeholder='eugene@kopyov.com')
            .form-group
                label.col-lg-3.control-label Telefone:
                .col-lg-9
                    input.form-control(type='text', placeholder='+99-99-9999-9999')
            .form-group
                label.col-lg-3.control-label Celular:
                .col-lg-9
                    input.form-control(type='text', placeholder='+99-99-9999-9999')
            .form-group
                label.col-lg-3.control-label Endereço:
                .col-lg-9
                    .row
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='CEP')
                        .col-md-12
                            input.form-control.mb-15(type='text', placeholder='Endereço')
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Número')
                            input.form-control(type='text', placeholder='Cidade')
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Complemento')
                            .mb-15
                                select.select(data-placeholder='Estado')
                                    option
                                    option(value='1') Canada
                                    option(value='2') USA
                                    option(value='3') Australia
                                    option(value='4') Germany
            .form-group
                label.col-lg-3.control-label Site:
                .col-lg-9
                    input.form-control(type='text', placeholder='eugene@kopyov.com')
.text-right
    button.btn.btn-default.fechar(type='submit')
        | Cancelar
        i.icon-cross3.position-right
    button.btn.btn-primary.salvar(type='submit')
        | Salvar
        i.icon-arrow-right14.position-right