extends ../../../../../CerebeloSettings/Resources/pug/layout.pug
block title
    title Listagem de Conta a Receber - Cerebelo Curso nota 10
block page-title
    span.text-semibold Contas a Receber
    |  - Listagem de Conta a Receber
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/incomings.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Contas a Receber
    li.active Listagem de Conta a Receber
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Contas a Receber
            .heading-elements
                .heading-form
                    .btn-group
                        button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
                            | Ações 
                            i.icon-menu7.position-right
                            span.caret
                        ul.dropdown-menu.dropdown-menu-right
                            li
                                a(href='#')
                                    i.icon-menu7
                                    |  Ação 
                            li
                                a(href='#')
                                    i.icon-screen-full
                                    |  Ação
                            li
                                a(href='#')
                                    i.icon-mail5
                                    |  Ação
                .heading-form 
                    a.btn.btn-primary(type='button' href="{{ url('contas_a_receber/novo') }}")
                        i.icon-plus22
                        |  Cadastrar Conta a Receber
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th
                        th Título
                        th Cliente
                        th Plano de Contas
                        th Valor
                        th Data Prevista
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td
                                .checkbox
                                    label
                                        input.styled(type='checkbox', checked='checked')
                            td Pedido 203490
                            td Ricardo de Souza
                            td Receita > Cliente > Pedido
                            td 180,00
                            td 14/07/2016
                            td
                                span.label.label-success Dentro do Vencimento
                            +actions
                tfoot
                    tr
                        td
                        td.input-filter Título
                        td.input-filter Cliente
                        td.input-filter Plano de Contas
                        td.input-filter Valor
                        td.input-filter Data Prevista
                        td.select-filter Status
                        td
    // /basic datatable
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.excluir(href='#').text-primary-800
                            i.icon-vcard
                            |  Dar Baixa
                    li
                        a.editar(href="{{ url('contas_a_receber/editar') }}").text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar