extends ../../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Editar Orçamento Unificado

block page-title

block theme-css-files
    style.
        div.navbar, div.sidebar, breadcrumb, div.footer {
            display: none;
        }

block theme-js-files
    script.
        $("input:hidden[name='delivery_cep']").val($("input:checkbox[name='address_id']:checked").attr('cep'));

    script(id="orders-routes", order-send-mail!="{{ route('cerebelo.orders.send_mail', $model->id) }}", consult-boxes="{{ route('cerebelo.orders.consult_boxes', 'join') }}", consult-freight="{{ route('cerebelo.orders.consult_freight') }}", remove-order-files="{{ route('cerebelo.orders.remove_file') }}", remove-order-comment="{{ route('cerebelo.orders.remove_comment') }}", add-block-product="{{ route('cerebelo.orders.add_block_product') }}", client-search-by-cpfcnpj="{{ route('cerebelo.customers.search_by_cpfcnpj') }}" load-addresses="{{ route('cerebelo.addresses.load_by_table') }}", load-tables="{{ route('cerebelo.customers.load_tables_by_client') }}" type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_form.js')) }}")
    script(id="orders-routes-budget", delivery-boxes="{{ json_encode(selectDeliveryBox(), true) }}", print-correios-label="{{ route('cerebelo.orders.print_correios_label', (isset($order_id) ? $order_id : 0)) }}" attributes-payments-forms="{{ json_encode(trans('attributes.payments_forms'), true) }}", attributes-payment-status="{{ json_encode(trans('attributes.payment_status'), true) }}", percentage-product-table="{{ route('cerebelo.orders.percentage') }}", product-upload-art="{{ route('cerebelo.orders.upload_art') }}", product-destroy-art="{{ route('cerebelo.orders.destroy_art') }}", product-op-name="{{ route('cerebelo.orders.op_name') }}", type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_budget.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_budget.js')) }}")

    script.
        var $transports = $("select[name='transports_id']");
        if (ordersWeight() > 0 && $transports.val() != "") {
            freightTransportsChange($transports);
            layoutCalcBoxes($("#delivery-boxes-load").attr("load"));
        }
        function editJoinCheckingCopy($this) {
            var route = $this.attr('href');
            $.ajax({
                url: route,
                type: "GET",
                dataType: "html",
                success: function (html) {
                    var modal_remote = $("#modal_remote");

                    modal_remote.modal('show').html(html);
                    $(".file-styled").uniform({
                        radioClass: 'choice',
                        fileDefaultHtml: "Nenhum arquivo selecionado",
                        fileButtonHtml: '<i class="icon-plus2"></i>'
                    });
                    $("form.formUploadCheckingCopy").ajaxForm({
                        dataType: "json",
                        beforeSubmit: function (formData, jqForm, options) {
                            $.blockUI({ message: '<h4>aguarde...</h4>' });
                        },
                        success: function (responseText, statusText, xhr, $form) {
                            $.unblockUI();
                            if (!responseText.error) {
                                modal_remote.modal('hide').html("");
                                new PNotify({
                                    title: 'Sucesso',
                                    text: responseText.message,
                                    addclass: 'bg-success alert-styled-right'
                                });
                            } else {
                                new PNotify({
                                    title: 'Atenção',
                                    text: responseText.message,
                                    addclass: 'bg-warning alert-styled-right'
                                });
                            }
                        }
                    });
                    $(".destroy-checking-copy").on('click', function (e) {
                        e.preventDefault();

                        var $this = $(this);
                        var div = $this.closest('div.col-lg-3');

                        $.ajax({
                            url: $(this).attr('href'),
                            type: "DELETE",
                            dataType: "json",
                            success: function (response) {
                                if (!response.error) {
                                    div.remove();
                                    new PNotify({
                                        title: 'Sucesso',
                                        text: response.message,
                                        addclass: 'bg-success alert-styled-right'
                                    });
                                } else {
                                    new PNotify({
                                        title: 'Atenção',
                                        text: response.message,
                                        addclass: 'bg-warning alert-styled-right'
                                    });
                                }
                            },
                            error: function () {

                            }
                        });
                    });
                },
                error: function () {

                }
            });
        }

        var $address_id = $("input:checkbox[name='address_id']");
        $address_id.on('click', function (e) {
            var $this = $(this);
            var index = $address_id.index($this);
            $("input:hidden[name='delivery_cep']").val($this.attr('cep'));
            var unchecked = $address_id.not(":eq(" + index + ")");
            unchecked.prop('checked', false);
            unchecked.uniform();
        });

        var $billing_address_id = $("input[name='billing_address_id']");
        $billing_address_id.on('click', function (e) {
            var $this = $(this);
            var index = $billing_address_id.index($this);
            var unchecked = $billing_address_id.not(":eq(" + index + ")");
            unchecked.prop('checked', false);
            unchecked.uniform();
        });

block breadcrumb

block content
    #modal_remote.modal
    fieldset.content-group
        legend.text-bold Produtos
        | @if(isset($model->id))
        | {{ Form::model($model, array('url' => route('cerebelo.orders.update_budget_unified', $model->id), 'method' => 'PATCH', 'id' => 'formOrder')) }}
        | {{ Form::hidden('order_id', $model->id) }}
        | {{ Form::hidden('delivery_address_id') }}
        | {{ Form::hidden('transport_type') }}
        | {{ Form::hidden('delivery_cep', null) }}
        #listProducts(session-old-input!="{{ json_encode(session()->getOldInput()) }}")
        .table-responsive
        table.table.table-lg.body-pdf
            thead
            tr
                th Descrição
                th.text-right.col-xs-2 Unidade
                th.text-center.col-sm-1 Quantidade
                th.text-right.col-xs-2 Total
            tbody
            | @php($total = 0)
            | @if(!empty($products_selected)) <!-- 0 inicio if $products_selected -->
            | @foreach($products_selected as $selected) <!-- 0 inicio foreach $products_selected -->
            | @foreach($selected['products_index'] as $index) <!-- 1 inicio foreach $selected['products_index'] -->
            | @php($products_name = $selected['products_name'][$index])
            | @php($unit_price = $selected['unit_price'][$index])
            | @php($quantity = $selected['quantity'][$index])
            | @php($subtotal = $selected['subtotal'][$index])
            | @php($volume = $selected['volume'][$index])
            tr
                td {{ $products_name }}
                td.text-right {{ $unit_price }}
                td.text-center {{ $quantity }}
                td.text-right {{ $subtotal }}
                | {{ Form::hidden('volume[' . $index . ']', old('volume.' . $index, $volume)) }}
                | {{ Form::hidden('subtotal[' . $index . ']', moneyUnFormat($subtotal), ['disable']) }}

            | @endforeach <!-- 1 fim foreach $selected['products_index'] -->
            | @endforeach <!-- 0 fim foreach $products_selected -->
            | @endif <!-- 0 fim if $products_selected -->

        legend.text-bold Endereços Salvos

        .row#listAddresses
            | @foreach($addresses as $address)
            .col-xs-6(class!="{{ ($errors->has('address_id') || $errors->has('billing_address_id')) ? ' has-error' : '' }}")
                .panel(class!="{{ ((isset($featured_address) && in_array($address->id, $featured_address)) ? 'alert-primary' : '') }}")
                    .panel-body
                        .col-xs-6
                            .checkbox
                                label
                                    | {{ Form::checkbox('address_id', $address->id, (($address->id == old('address_id', (isset($model) ? $model->delivery_address_id : null))) ? true : false), ['cep' => $address->cep, 'class' => 'styled']) }} 
                                    | Usar como Entrega ({{ $address->local }})
                        .col-xs-6
                            .checkbox
                                label
                                    | {{ Form::checkbox('billing_address_id', $address->id, (($address->id == old('billing_address_id', (isset($model) ? $model->billing_address_id : null))) ? true : false), ['cep' => $address->cep, 'class' => 'styled']) }} 
                                    | Usar como Faturamento ({{ $address->local }})
                        p
                            | CEP: {{ $address->cep }}
                        p
                            | {{ $address->street . ', ' . $address->number . ', ' . $address->complement }}
                        p
                            | {{ $address->neighborhood . ' - ' . $address->city . '/' . $address->state }}
                | @if ($errors->has('address_id') || $errors->has('billing_address_id'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('address_id') }}
                    |  {{ $errors->first('billing_address_id') }}
                | @endif
            | @endforeach

        legend.text-bold Frete

        .content-group
            .form-group
                .row
                    .col-xs-3
                        .form-group(class!="{{ $errors->has('transports_id') ? ' has-error' : '' }}")
                            label 
                                | Frete
                                i.text-danger *
                            | {{ Form::select2('transports_id', $transports, old('transports_id', ((isset($model) && !empty($model)) ? $model->transports_id : null)), ['class' => 'select', 'data-placeholder' => 'Forma de envio']) }}
                            | @if ($errors->has('transports_id'))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('transports_id') }}
                            | @endif
                            | @if ($errors->has('transport_freight'))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('transport_freight') }}
                            | @endif
                    .col-xs-2
                        .form-group(class!="{{ $errors->has('transports_id') ? ' has-error' : '' }}")
                            label CIF/FOB
                            | {{ Form::select('freight_cif_fob', ['CIF'=>'CIF', 'FOB' => 'FOB'], old('freight_cif_fob'), ['class' => 'select']) }}
                    .col-xs-3
                        label Peso
                        | {{ Form::text('volumes', old('volumes'), ['class' => 'form-control', 'placeholder' => 'Peso', 'readonly']) }}

            .row
                .col-lg-12
                    .form-group#delivery-boxes-load(load!="{{ (empty($model->delivery_boxes) ? 'A' : 'M') }}")
                        button.btn.btn-primary.btn-xs(type="button", onclick="correiosCostFreight();")
                            i.icon-truck.position-left
                            | Calcular Frete
                        button.btn.btn-default.btn-xs(type="button", onclick="layoutCalcBoxes('A');")
                            i.icon-box.position-left.text-indigo
                            span.text-indigo Calcular Caixas (Automático)
                        button.btn.btn-default.btn-xs(type="button", onclick="layoutCalcBoxes('M');")
                            i.icon-box.position-left.text-brown
                            span.text-brown Carregar Caixas (Manual)

            .row
                .col-xs-12
                    #boxes_infos
            .row
                .col-xs-12
                    #transport_infos

            .form-group(id="correios_type_freight")

            .row
                .col-xs-3
                    label Entrega em até (dias)
                    | {{ Form::number('transport_deadline', old('transport_deadline'), ['class' => 'form-control', 'placeholder' => 'Dias']) }}

        legend.text-bold Total

        .content-group
            .row
                .col-xs-3
                    .content-group
                        h6.text-semibold.no-margin
                            i.icon-cash3.position-left
                            span#total-order
                                | {{ moneyFormat(old('total_order', 0)) }}
                            | {{ Form::hidden('total_order', 0.00) }}
                        span.text-size-small Subtotal do Pedido

            .row
                .col-xs-2
                    label Tipo de Desconto
                    | {{ Form::select('discount_type', trans('attributes.discount_type'), old('discount_type'), ['class' => 'select']) }}

                .col-xs-2
                    label Desconto
                    | {{ Form::text('discount_value', old('discount_value', ((isset($model) && !empty($model)) ? $model->discount_value : null)), ['class' => 'form-control decimal', 'placeholder' => 'Desconto']) }}

        .content-group
            .row
                .col-xs-3
                    .form-group.form-group-material
                        .input-group
                            span.input-group-addon
                                i.icon-truck.position-left.text-slate
                            | {{ Form::text('cost_freight', old('cost_freight', ((isset($model) && !empty($model)) ? $model->cost_freight : null)), ['class' => 'form-control decimal', 'placeholder' => 'Valor do Frete']) }}
                        span.text-muted.text-size-small Valor do Frete

            .row
                .col-xs-2
                    .content-group
                        h6.text-semibold.no-margin.text-warning
                            i.icon-cash3.position-left.text-warning
                            span#final-total-order
                                | {{ moneyFormat(old('final_total_order', 0)) }}
                            | {{ Form::hidden('final_total_order', 0.00) }}
                        span.text-size-small Total do Pedido

        legend.text-bold Forma de Pagamento

        .content-group
            .row
                .col-xs-4
                    .form-group(class!="{{ $errors->has('to_charge') ? ' has-error' : '' }}")
                        .checkbox.checkbox-switchery.switchery-lg.switchery-double
                            label
                                | Cobrar
                                | {{ Form::checkbox('to_charge', old('to_charge'), $model->to_charge, ['class' => 'switchery', 'title' => 'to charge']) }}
                        | @if ($errors->has('to_charge'))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('to_charge') }}
                        | @endif
            .row
                .col-xs-3
                    .form-group(class!="{{ $errors->has('payments_form_id') ? ' has-error' : '' }}")
                        label
                            | Forma de pagamento
                            i.text-danger *
                        | {{ Form::select2('payments_form_id', $payments_forms, old('payments_form_id', ((isset($model) && !empty($model)) ? $model->payments_form_id : null)), ['class' => 'select', 'old' => old('payments_form_id')]) }}
                        | @if ($errors->has('payments_form_id'))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('payments_form_id') }}
                        | @endif
                .col-xs-3
                    .form-group(class!="{{ $errors->has('portion') ? ' has-error' : '' }}")
                        label Parcelas
                        | {{ Form::hidden('', old('portion', ((isset($model) && !empty($model)) ? $model->paymentsInstallments->count() : null)), ['id' => 'portion']) }}
                        | {{ Form::select('portion', [], old('portion'), ['class' => 'form-control']) }}
                        | @if ($errors->has('portion'))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('portion') }}
                        | @endif

            .row#list-value-plots-payments-form
                include ./_installments_join.pug
        .content-group
            .row
                .col-xs-6
                    .form-group.text-left
                        | {{ Form::button('<i class="icon-checkmark position-left"></i> Salvar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
                .col-xs-6
                    .form-group.text-right
                        | {{ Form::button('<i class="icon-file-pdf"></i> Gerar PDF', ['onclick' => 'popUpWin(\'' . $urlPdf . '\', \'900\', \'1000\');return false;', 'class' => 'btn btn-default', 'type' => 'button']) }}
        | {{ Form::close() }}
        | @else
        .alert.alert-warning.no-border.no-print
            span.text-semibold Atenção, nenhum orçamento foi localizado.
        | @endif