| @if(count(old('plots')) > 0)
| @for($i = 1; $i <= count(old('plots')); $i++)
| @setvar('bg_success', installmentsBGStatus(old('plots_status.' . $i)))
| @setvar('display', in_array(old('plots_payment_form.' . $i), ['BLT', 'CHQ']) ? 'display: block;' : 'display: none;')
.form-group
    .row
        .col-lg-1.col-md-1.col-sm-1
            | @if(old('plots_status.' . $i) != 'PG')
            <a title="Remover" onclick="$(this).closest('.port-line').remove();"><i class="icon-cross2 text-danger"></i></a>
            | @endif
            | {{ $i }}ª Parcela
        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
            | {{ Form::text('plots[' . $i . ']', old('plots.' . $i), ['onkeyup' => 'recalculatePortions($(this));', 'class' => $bg_success . 'form-control decimal', 'placeholder' => 'Parcela ' . $i, 'index' => $i]) }}
            | {{ Form::hidden('plots_id[' . $i . ']', old('plots_id.' . $i)) }}
            | {{ Form::hidden('bg_success[' . $i . ']', old('bg_success.' . $i)) }}
        .col-lg-2.col-md-2.col-sm-2(style='width: 120px; {{ $display }}')
            | {{ Form::text('plots_expiration_date[' . $i . ']', old('plots_expiration_date.' . $i), ['class' => $bg_success . 'form-control', 'maxlength' => '10', 'placeholder' => 'Prazo']) }}
        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
            | {{ Form::text('plots_date[' . $i . ']', old('plots_date.' . $i), ['class' => $bg_success . 'form-control date datepicker', 'maxlength' => '10', 'placeholder' => 'Data Pgto.']) }}
        .col-lg-2.col-md-2.col-sm-2(style='width: 150px;')
            | {{ Form::select('plots_payment_form[' . $i . ']', trans('attributes.payments_forms'), old('plots_payment_form.' . $i), ['class' => 'plots_payment_form ' . $bg_success . 'form-control']) }}
        .col-lg-2.col-md-2.col-sm-2
            | {{ Form::select('plots_status[' . $i . ']', trans('attributes.payment_status'), old('plots_status.' . $i), ['class' => $bg_success . 'form-control', 'id' => old('plots_id.' . $i), 'href' => route('cerebelo.orders.edit_checking_copy', old('plots_id.' . $i))]) }}
        .col-lg-1.col-md-1.col-sm-1.plots_file
            | @if(old('plots_id.' . $i) && old('plots_status.' . $i) == 'PG')
            button.btn(title="Comprovante", data-original-title="Comprovante", data-popup="tooltip", class="{{ $bg_success }}", type='button', href!="{{ route('cerebelo.orders.edit_checking_copy', old('plots_id.' . $i)) }}", onclick="editCheckingCopy($(this));")
                i.icon-image3
            | @endif
| @endfor

| @else
| @foreach($model->paymentsInstallments as $portion)
| @setvar('bg_success', installmentsBGStatus($portion->status))
| @setvar('display', in_array($portion->payment_form, ['BLT', 'CHQ']) ? 'display: block' : 'display: none')
.form-group
    .row
        .col-lg-1.col-md-1.col-sm-1
            | @if($portion->status != 'PG')
            <a title="Remover" onclick="$(this).closest('.port-line').remove();"><i class="icon-cross2 text-danger"></i></a>
            | @endif
            | {{ $portion->portion }}ª Parcela
        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
            | {{ Form::text('plots[' . $portion->portion . ']', old('plots.' . $portion->portion, $portion->value), ['onkeyup' => 'recalculatePortions($(this));', 'class' => $bg_success . 'form-control decimal', 'placeholder' => 'Parcela ' . $portion->portion, 'index' => $portion->portion]) }}
            | {{ Form::hidden('plots_id[' . $portion->portion . ']', old('plots_id.' . $portion->portion, $portion->id)) }}
            | {{ Form::hidden('bg_success[' . $portion->portion . ']', $bg_success) }}
        .col-lg-2.col-md-2.col-sm-2(style='width: 120px; {{ $display }}')
            | {{ Form::text('plots_expiration_date[' . $portion->portion . ']', old('plots_expiration_date.' . $portion->portion, $portion->expiration_date), ['class' => $bg_success . 'form-control', 'maxlength' => '10', 'placeholder' => 'Prazo']) }}
        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
            | {{ Form::text('plots_date[' . $portion->portion . ']', old('plots_date.' . $portion->portion, $portion->date), ['class' => $bg_success . 'form-control date datepicker', 'maxlength' => '10', 'placeholder' => 'Data Pgto.']) }}
        .col-lg-2.col-md-2.col-sm-2(style='width: 150px;')
            | {{ Form::select('plots_payment_form[' . $portion->portion . ']', trans('attributes.payments_forms'), old('plots_payment_form.' . $portion->portion, $portion->payment_form), ['class' => 'plots_payment_form ' . $bg_success . 'form-control']) }}
        .col-lg-2.col-md-2.col-sm-2
            | {{ Form::select('plots_status[' . $portion->portion . ']', trans('attributes.payment_status'), old('plots_status.' . $portion->portion, $portion->status), ['class' => $bg_success . 'form-control', 'id' => $portion->id, 'href' => route('cerebelo.orders.edit_checking_copy', $portion->id)]) }}
        .col-lg-1.col-md-1.col-sm-1.plots_file
            | @if($portion->status == 'PG')
            button.btn(title="Comprovante", data-original-title="Comprovante", data-popup="tooltip", class="{{ $bg_success }}", type='button', href!="{{ route('cerebelo.orders.edit_checking_copy', $portion->id) }}", onclick="editCheckingCopy($(this));")
                i.icon-image3
            | @endif
| @endforeach
| @endif