| @if(isset($model->id))
.panel.panel-white#section-to-print(storage_path="{{ storage_path('app') }}")
    .panel-heading.no-print
        h6.panel-title Orçamento
        .heading-elements
    .panel-body.no-padding-bottom.no-padding-top
        .row
            .col-lg-12
                table.table-lg
                    tr
                        td.col-lg-12
                            img.img-order(src="{{ asset('assets/images/header-print-orders.png') }}?{{ filemtime(public_path('assets/images/header-print-orders.png')) }}")

        .row.date-number
            .col-sm-6.content-group
                h5.text-uppercase.text-semibold Orçamento {{ "#" . $model->full_order_number }}
                ul.list-condensed.list-unstyled
                    li
                        | Data de Emissão: 
                        span.text-semibold {{ $model->created_at }}

        .row.data-pdf
            .table-responsive
                table.table-data.table.table-lg
                    tr
                        td.text-center(colspan="3")
                            .table-responsive
                                table.text-center.table-data.spacing-table
                                    tr
                                        td(colspan="2")
                                            span.text-semibold.featured Dados Bancários:
                                    tr
                                        td.col-lg-6.border-right.border-slate-300 Caixa Economica Federal
                                        td.col-lg-6 Banco do Brasil
                                    tr
                                        td.border-right.border-slate-300 Agência 1536
                                        td Agência 0024-8
                                    tr
                                        td.border-right.border-slate-300 C. Corrente 2985-0 Op 003
                                        td C. Corrente 122755-6
                                    tr
                                        td.border-right.border-slate-300 ERT CYCLE SPORT
                                        td ERT CYCLE SPORT
                                    tr
                                        td.border-right.border-slate-300 CNPJ 27.518.639/0001-10
                                        td CNPJ 27.518.639/0001-10

                    tr
                        td.border-right.border-slate-300.col-lg-6
                            span.margin-featured.text-semibold.featured Informações para Nota Fiscal:
                            table.spacing-table
                                | @if(strlen($model_client->cpf_cnpj) <= "14")
                                tr
                                    td Nome:
                                    td {{ $model_client->fantasy_name }}
                                tr
                                    td CPF:
                                    td {{ $model_client->cpf_cnpj }}
                                tr
                                    td RG:
                                    td {{ $model_client->rg }}
                                | @else
                                tr
                                    td(width="125") Nome Fantasia:
                                    td {{ $model_client->fantasy_name }}
                                tr
                                    td Razão Social:
                                    td {{ $model_client->company_name }}
                                tr
                                    td Inscrição Estadual:
                                    td {{ $model_client->state_registration }}
                                tr
                                    td CNPJ:
                                    td {{ $model_client->cpf_cnpj }}
                                | @endif
                                | @setvar('billingAddress', (isset($model->billingAddress->street) ? $model->billingAddress : $model->deliveryAddress))
                                | @if(isset($billingAddress->street))
                                tr
                                    td Endereço:
                                    td {{ $billingAddress->street }}, {{ $billingAddress->number }} - {{ $billingAddress->complement }}, {{ $billingAddress->neighborhood }} - {{ $billingAddress->city }}, {{ $billingAddress->state }} - {{ $billingAddress->cep }}                                
                                | @endif
                                tr
                                    td Telefones:
                                    td {{ $model_client->phone }} - {{ $model_client->phone2 }}
                                tr
                                    td E-mail:
                                    td {{ $model_client->email }}

                        td.border-right.border-slate-300.col-lg-3
                            span.text-semibold.featured Endereço para entrega:
                            table.spacing-table
                                | @if(!empty($model->deliveryAddress))
                                | @setvar('deliveryAddress', $model->deliveryAddress)
                                tr
                                    td {{ $deliveryAddress->street }}, {{ $deliveryAddress->number }} - {{ $deliveryAddress->complement }}, {{ $deliveryAddress->neighborhood }}
                                tr
                                    td {{ $deliveryAddress->city }}, {{ $deliveryAddress->state }} - {{ $deliveryAddress->cep }}
                                | @endif

                        td.border-slate-300.col-lg-3
                            span.text-semibold.featured Mais Informações:
                            table.spacing-table
                                tr
                                    td Atendente:
                                    td {{ (!isset($model->client->attendant->name)) ? "" : $model->client->attendant->name }}
                                tr
                                    td Designer:
                                    td {{ (!isset($model->client->designer->name)) ? "" : $model->client->designer->name }}
                                tr
                                    td Representante:
                                    td {{ (!isset($model->client->representative->fantasy_name)) ? "" : $model->client->representative->fantasy_name }}

    .table-responsive
        table.table.table-lg.body-pdf
            tbody
                tr
                    td Descrição
                    td.text-right.col-lg-2 Unidade
                    td.text-center.col-sm-1 Quantidade
                    td.text-right.col-lg-2 Total
                | @setvar('total', 0)
                | @if(!empty($products_selected))
                | @foreach($products_selected['products_index'] as $index)

                | @php($defined_size = false)
                | @if(isset($products_selected['sizes'][$index]))
                | @foreach($products_selected['sizes'][$index] as $key => $value)
                | @if($value > 0)
                | @php($defined_size = true)
                | @setvar('sizes_name', $products_selected['sizes_name'][$index][$key])

                | @setvar('name', $products_selected['products_name'][$index])
                | @setvar('unit_price', $products_selected['unit_price'][$index])
                | @setvar('quantity', $value)
                | @setvar('subtotal', $unit_price * $quantity)

                | @if(isset($products_selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($products_selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($products_selected['variations_name'][$index] + [$products_selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $products_selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name . " TAM. " . $sizes_name }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($products_selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $products_selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)

                | @endif
                | @endforeach
                | @endif

                | @if($defined_size == false)
                | @setvar('name', $products_selected['products_name'][$index])
                | @setvar('unit_price', $products_selected['unit_price'][$index])
                | @setvar('quantity', $products_selected['quantity'][$index])
                | @setvar('subtotal', moneyUnFormat($products_selected['subtotal'][$index]))

                | @if(isset($products_selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($products_selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($products_selected['variations_name'][$index] + [$products_selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $products_selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($products_selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $products_selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)
                | @endif

                | @endforeach
                | @endif
    .panel-body.footer-budget
        .table-responsive
            table.table.table-borderless.no-border
                tbody
                    tr
                        td.col-lg-5

                        td.col-lg-7.text-right
                            table.table.table-borderless.padding-total-td
                                tr
                                    td.padding-total.text-right Subtotal: 
                                    td R$ {{ moneyFormat($total) }}
                                tr
                                    td.padding-total.text-right Desconto: 
                                    td {{ moneyOrPercentage($model->discount_value, $model->discount_type) }}
                                tr
                                    td.padding-total.text-right
                                        span.display-block Frete:
                                    td
                                        | R$ {{ $model->cost_freight }}
                                tr
                                    td.padding-total.text-right
                                        span.text-regular {{ (isset($model->transport->name) ? $model->transport->name . ((!empty($model->transport_type)) ? " (" . $model->transport_type . ")" : "") : "" ) }}
                                        span.text-regular {{ " - " . $model->freight_cif_fob }}
                                    td
                                tr
                                    td.padding-total.text-right Prazo de Entrega: 
                                    td {{ $model->transport_deadline }} dias úteis
                                tr
                                    td.padding-total.text-primary.text-right
                                        h5.text-semibold Total:
                                    td.text-primary
                                        h5.text-semibold R$ {{ moneyFormat(calculateFinalOrder($total, moneyUnFormat($model->discount_value), $model->discount_type) + moneyUnFormat($model->cost_freight)) }}
                                tr
                                    | @if($model->paymentsInstallments->count() > 0)
                                    td(colspan="2")
                                        span.text-semibold.featured Pagamento:
                                        .table-responsive.oveflow-print-order
                                            table.table
                                                | @foreach($model->paymentsInstallments as $portion)
                                                | {{ paymentsInstallmentsHtml($portion) }}
                                                | @endforeach
                                    | @endif

        h6 Outras Informações
        | @if($model->paymentsInstallments->count() > 1)
        //p.text-muted
            | Forma de Pagamento: 50% no ato do pedido e 50% na conclusão, não enviamos o pedido sem estar todo quitado.
        | @endif
        p.text-muted Para o pedido entrar em produção precisamos de: desenho aprovado, grade de tamanho e comprovante de pagamento.
        // p.text-muted ATENÇÃO 1: Por determinação da receita federal o prazo máximo para cancelamento de notas fiscais é de 24 horas após a emissão.
        p.text-muted ATENÇÃO 1: Por favor conferir todas as informações acima, pois não é possível cancelar a nota fiscal.
        p.text-muted ATENÇÃO 2: Todas as logomarcas e grafismos presentes no layout são de responsabilidade daquele que solicita sua inclusão.
        p.text-muted ATENÇÃO 3: Este orçamento não preve incidência de impostos estaduais. Caso incida a responsabilidade do pagamento é do comprador.

        | {{ Form::model($model, array('url' => route('cerebelo.orders.update', $order_id) . '#justified-badges-tab2', 'method' => 'PATCH', 'id' => 'formOrderForClient')) }}
        .row
            .col-md-12
                .table-responsive.oveflow-print-order
                    table.table.padding-total-td
                        tr
                            td(width="110") PRE ENVIO
                            td Nome:
                            td {{ Form::text('pre_shipment_name', old('pre_shipment_name'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Data:
                            td {{ Form::text('pre_shipment_date', old('pre_shipment_date'), ['class' => 'form-control input-print date', 'pattern' => '[0-9]{2}/[0-9]{2}/[0-9]{4}', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Hora:
                            td {{ Form::time('pre_shipment_hour', old('pre_shipment_hour'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Forma:
                            td {{ Form::text('pre_shipment_form', old('pre_shipment_form'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar', 'placeholder' => 'Ex: Telefone | E-mail | WhatsApp']) }}
        | {{ Form::close() }}

        p
        p.text-muted.text-center ORÇAMENTO VÁLIDO PARA 30 DIAS À PARTIR DA DATA DE EMISSÃO.

.row.no-print
    .col-md-12
        ul.fab-menu.fab-menu-fixed.fab-menu-bottom-right(data-fab-toggle='hover')
            li
              a.fab-menu-btn.btn.bg-blue-600.btn-float.btn-rounded.btn-icon
                i.fab-icon-open.icon-paragraph-justify3
                i.fab-icon-close.icon-cross2
              ul.fab-menu-inner
                li
                  div(data-fab-label='Fechar')
                    a.btn.btn-default.btn-rounded.btn-icon.btn-float(href="{{ route('cerebelo.orders.index') }}")
                        i.icon-exit2
                li
                  div(data-fab-label='Novo Pedido')
                    a.btn.btn-default.btn-rounded.btn-icon.btn-float(href="{{ route('cerebelo.orders.create') }}")
                        i.icon-file-plus2
                li
                  div(data-fab-label='Arquivos do Cliente')
                    a.btn.btn-default.btn-rounded.btn-icon.btn-float(href!="{{ route('cerebelo.customers.files_index', $model->client->id) }}", class="btnClientFiles")
                        i.icon-archive
                li
                  div(data-fab-label='Enviar E-mail')
                    a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderSendMail();")
                        i.icon-envelope
                li
                  div(data-fab-label='Imprimir')
                    a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderPrintArea();")
                        i.icon-printer2
                li
                  div(data-fab-label='Baixar')
                    a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderDownload();return false;")
                        i.icon-file-pdf
| @else
.alert.alert-warning.no-border.no-print
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif