.row
    .col-md-6
        .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.name') }}
                i.text-danger *
            | {{ Form::text('name', old('name'), ['class' => "form-control", 'maxlength' => '50', 'placeholder' => trans('attributes.name') ]) }}
            | @if ($errors->has('name'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('name') }}
            | @endif