extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Status do Pedido

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Status do Pedido

block theme-js-files
    script(type="text/javascript", id="route-orders-status", route-datatable="{{ route('cerebelo.orders_status.datatable') }}", ordination="{{ route('cerebelo.orders_status.ordination') }}", src="{{ Module::asset('cerebeloordersstatus:js/orders_status/index.js') }}?{{ filemtime(Module::assetPath('cerebeloordersstatus/js/orders_status/index.js')) }}")

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Status do Pedido

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista Status do Pedido
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.orders_status.create') }}")
                            i.icon-import.position-left
                            |  Novo Status

                .panel-body
                    p Segure e arraste (cima/baixo) para ordenar os status
                    
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th(style='width: 20px;') 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.name') }}