.row
    .col-xs-6
        .row
            .col-xs-12
                .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                    label
                        | {{ trans('attributes.product') }}
                        i.text-danger *
                    | {{ Form::text('name', old('name'), ['class' => "form-control", 'maxlength' => '250', 'placeholder' => trans('attributes.product') ]) }}
                    | @if ($errors->has('name'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('name') }}
                    | @endif
        .row
            .col-xs-6
                .form-group(class!="{{ $errors->has('price') ? ' has-error' : '' }}")
                    label
                        | {{ trans('attributes.price') }}
                        i.text-danger *
                    | {{ Form::text('price', old('price'), ['class' => "form-control decimal", 'placeholder' => trans('attributes.price') ]) }}
                    | @if ($errors->has('price'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('price') }}
                    | @endif
            .col-xs-6
                .form-group(class!="{{ $errors->has('weight') ? ' has-error' : '' }}")
                    label
                        | {{ trans('cerebeloproducts::attributes.weight') }}
                        i.text-danger *
                    | {{ Form::text('weight', old('weight'), ['class' => "form-control weight", 'placeholder' => trans('cerebeloproducts::attributes.weight') ]) }}
                    span.help-inline Exemplo(0,020 = 20 gramas | 1,000 = 1 Kg)
                    | @if ($errors->has('weight'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('weight') }}
                    | @endif

    .col-xs-6
        .row
            .col-xs-12
                .form-group(class!="{{ $errors->has('categories') ? ' has-error' : '' }}")
                    label
                        | {{ trans('attributes.categories') }}
                        i.text-danger *
                    .input-group
                        | @php($selected_categories = (!isset($model->categories)) ? null : $model->categories->pluck('id')->toArray())
                        | {{ Form::select('categories[]', $categories, $selected_categories, ['id' => 'categories', 'multiple' => 'multiple', 'select_cat_olds' => json_encode(old('categories', []))]) }}
                        a.input-group-addon(onclick="ProductCategories.index(this)", categories!="{{ $categories->toJson() }}", url="{{ route('cerebelo.products.categories') }}", data-popup="tooltip", data-title="Gerenciar Categorias", data-placement="left", title="")
                            i.icon-cog3
                    span.help-inline.text-info
                        p Nova Categoria: Digitar a categoria clicar nela para selecionar.
                        p Categoria Pré-existente: Só selecionar a(s) opção(ões) desejada(s).
                    | @if ($errors->has('categories'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('categories') }}
                    | @endif

.row
    .col-xs-12
        .form-group(class!="{{ $errors->has('sizes_code') ? ' has-error' : '' }}")
            label Código ERT por Tamanho
            .row
                | @foreach($sizes as $size)
                .col-xs-2
                    .input-group
                        span.input-group-addon
                            | {{ $size->name }}
                        | {{ Form::text('sizes_code[' . $size->id . ']', old('sizes_code.' . $size->id), ['class' => "form-control " . $size->hex_color, 'placeholder' => $size->name]) }}
                | @endforeach
            | @if ($errors->has('sizes_code'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('sizes_code') }}
            | @endif