extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Produto

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Produto

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebeloproducts:js/products/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/_form.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloproducts:js/products/_category.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/_category.js')) }}")
    | {!! $validator !!}


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Produto

block content
    .row
        .col-lg-12
            | {{ Form::open(array('url' => route('cerebelo.products.store'), 'method' => 'POST', 'id' => 'formCreateProduct')) }}
            .panel.panel-flat
                .panel-body
                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar Produto', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                    include ./_form.pug

                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar Produto', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}