extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Edição de Produto

block page-title
    span.text-semibold Cadastros
    |  - Edição de Produto

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebeloproducts:js/products/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/_form.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloproducts:js/products/_category.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/_category.js')) }}")
    script(type="text/javascript", id="main-routes", json-column-headers="{{ json_encode($column_headers) }}", route-update="{{ route('cerebelo.tablesvalues.update') }}", route-datatable!="{{ route('cerebelo.tablesvalues.datatable', ['product' => $model->id]) }}", src="{{ Module::asset('cerebelotablesvalues:js/tablesvalues/index.js') }}?{{ filemtime(Module::assetPath('cerebelotablesvalues/js/tablesvalues/index.js')) }}")
    | {!! $validator !!}


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Edição de Produto

block content
    .row
        .col-lg-12
            | {{ Form::model($model, array('url' => route('cerebelo.products.update', $model->id), 'method' => 'PATCH', 'id' => 'formEditProduct')) }}
            .panel.panel-flat
                .panel-body
                    .form-group.text-right
                            | {{ Form::button('<i class="icon-import position-left"></i> Salvar Produto', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                    include ./_form.pug

                    .form-group.text-right
                            | {{ Form::button('<i class="icon-import position-left"></i> Salvar Produto', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}

    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th
                                    | @foreach($column_headers as $key => $value)
                                    th
                                        | {{ $value }}
                                    | @endforeach