extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Lista de Produtos

block page-title
    span.text-semibold Cadastros
    |  - Lista de Produtos

block theme-js-files
    script(type="text/javascript", id="route-datatable", route-datatable="{{ route('cerebelo.products.datatable') }}", src="{{ Module::asset('cerebeloproducts:js/products/index.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/index.js')) }}")


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Lista de Produtos

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista de Produtos
                    .heading-elements
                        ul.list-inline.heading-text
                            li
                                button.btn.bg-brown(onclick="popUpWin('{{ route('cerebelo.products.import_isapa') }}', 800, 600)")
                                    i.icon-file-excel.position-left
                                    |  Importar Planilha ISAPA
                            li
                                button.btn.border-slate.text-slate-800(onclick="popUpWin('{{ route('cerebelo.products.import') }}', 600, 400)")
                                    i.icon-file-excel.position-left
                                    |  Importar Planilha
                            li
                                a.btn.btn-primary(href="{{ route('cerebelo.products.create') }}")
                                    i.icon-import.position-left
                                    |  Adicionar Produto

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.name') }}
                                    th 
                                        | {{ trans('cerebeloproducts::attributes.weight') }}
                                    th 
                                        | {{ trans('attributes.value') }}
                                    th 
                                        | {{ trans('attributes.created_at') }}