extends ../../../../../CerebeloSettings/Resources/pug/popup.pug

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebeloproducts:js/products/isapa.js') }}?{{ filemtime(Module::assetPath('cerebeloproducts/js/products/isapa.js')) }}")
    | {!! $validator !!}

block content
    .row
        .col-lg-12
            | {{ Form::open(array('url' => route('cerebelo.products.import_isapa'), 'method' => 'POST', 'id' => 'formIsapaImport', 'files' => true)) }}
            .panel.panel-primary
                .panel-heading
                    h6.panel-title Importação ISAPA

                .panel-body

                    .row
                        .col-xs-12
                            .alert.alert-warning.alert-bordered
                                p - Um pedido/orçamento é gerado com os dados da importação feita nessa seção.
                                p - O cabeçalho obrigatório do arquivo (
                                    b Cod Fornecedor|
                                    b Descrição|
                                    b Quantidade|
                                    b Preço Unit
                                    | )

                    .row
                        .col-xs-12
                            .form-group(class!="{{ $errors->has('clients_id') ? ' has-error' : '' }}")
                                label {{ trans('attributes.client') }}
                                    i.text-danger *
                                | {{ Form::select('clients_id', [], old('clients_id'), ['id' => 'clients_id', 'url' => route('cerebelo.customers.search_by_query')]) }}
                                | @if ($errors->has('clients_id'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('clients_id') }}
                                | @endif

                    .row
                        .col-xs-6
                            .form-group(class!="{{ $errors->has('price_table_id') ? ' has-error' : '' }}")
                                label {{ trans('attributes.table') }}
                                    i.text-danger *
                                | {{ Form::select('price_table_id', $tables, old('price_table_id'), ['class' => 'select-search']) }}
                                | @if ($errors->has('price_table_id'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('price_table_id') }}
                                | @endif
                        .col-xs-6
                            .form-group(class!="{{ $errors->has('categories') ? ' has-error' : '' }}")
                                label
                                    | {{ trans('attributes.categories') }}
                                    i.text-danger *
                                | {{ Form::select('categories[]', $categories, old('categories'), ['id' => 'categories', 'multiple' => 'multiple']) }}
                                span.help-inline.text-info
                                    p Nova Categoria: Digitar a categoria clicar ou ENTER nela para selecionar.
                                    p Categoria Pré-existente: Só selecionar a(s) opção(ões) desejada(s).
                                | @if ($errors->has('categories'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('categories') }}
                                | @endif

                    .row
                        .col-xs-12
                            .form-group(class!="{{ $errors->has('models') ? ' has-error' : '' }}")
                                label Modelos
                                    i.text-danger *
                                | {{ Form::select('models[]', $models, old('models'), ['id' => 'models', 'multiple' => 'multiple']) }}
                                span.help-inline.text-info
                                    p Digitar o modelo clicar ou ENTER nela para selecionar.
                                | @if ($errors->has('models'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('models') }}
                                | @endif

                    .row
                        .col-xs-12
                            .form-group(class!="{{ $errors->has('file') ? ' has-error' : '' }}")
                                label {{ trans('attributes.file') }}
                                    i.text-danger *  
                                    span
                                        a(href="{{ asset('assets/exemplo_importacao_isapa.xlsx') }}")
                                            | (Baixar exemplo)
                                |{{ Form::file('file', ['class' => 'form-control file-styled', 'placeholder' => trans('attributes.file')]) }}
                                | @if ($errors->has('file'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('file') }}
                                | @endif

                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}