extends ../../layout.pug
block title
    title Editar Conta a Receber - Cerebelo Curso nota 10
block page-title
    span.text-semibold Contas a Receber
    |  - Editar Conta a Receber
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/incomings_create.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Contas a Receber
    li.active Editar Conta a Receber
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Editar Conta a Receber
        .panel-body
            form.form-horizontal(action='#')
                include _form.pug