extends ../../../../../CerebeloSettings/Resources/pug/layout.pug
block title
    title Cadastrar Fornecedor - Cerebelo Curso nota 10
block page-title
    span.text-semibold Financeiro
    |  - Cadastrar Fornecedor
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/suppliers_create.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Financeiro
    li Fornecedores
    li.active Cadastrar Fornecedor
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Fornecedor
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            form.form-horizontal(action='#')
                include _form.pug