extends ../../../../../CerebeloSettings/Resources/pug/layout.pug
block title
    title Listagem de Fornecedores - Cerebelo Curso nota 10
block page-title
    span.text-semibold Financeiro
    |  - Listagem de Fornecedores
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/suppliers.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Financeiro
    li Fornecedores
    li.active Listagem de Fornecedores
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Fornecedores
            .heading-elements
                a.btn.btn-primary(type='button' href="{{ url('fornecedores/novo') }}")
                    i.icon-plus22
                    |  Cadastrar Fornecedor
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Nome
                        th Tipo
                        th Email
                        th Telefone
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td Catracas SA
                            td Pessoa Jurídica
                            td catracas@gmail.com
                            td (32) 3215-3548
                            td
                                span.label.label-success Ativo
                            +actions
                tfoot
                    tr
                        td.input-filter  Nome
                        td.select-filter  Tipo
                        td.input-filter Email
                        td.input-filter Telefone
                        td.select-filter Status
                        td
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.editar(href="{{ url('fornecedores/editar') }}").text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar