legend.text-bold Porcentagem do Representante
.row
    .col-md-4
        .form-group(class!="{{ $errors->has('percentage') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.percentage') }}
                i.text-danger *
            | {{ Form::text('percentage', old('percentage'), ['class' => "form-control", 'placeholder' => trans('attributes.percentage'), 'maxlength' => '3' ]) }}
            | @if ($errors->has('percentage'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('percentage') }}
            | @endif

legend.text-bold Dados do Representante
.row
    .col-md-4
        .form-group(class!="{{ $errors->has('person_type') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.person_type') }}
                i.text-danger *
            | {{ Form::select('person_type', trans('attributes.person_types'), old('person_type'), ['class' => 'select']) }}
            | @if ($errors->has('person_type'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('person_type') }}
            | @endif
    .col-md-5
        .form-group(class!="{{ $errors->has('cpf_cnpj') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.cpf_cnpj') }}
                i.text-danger *
            | {{ Form::text('cpf_cnpj', old('cpf_cnpj'), ['class' => "form-control", 'placeholder' => trans('attributes.cpf_cnpj') ]) }}
            | @if ($errors->has('cpf_cnpj'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('cpf_cnpj') }}
            | @endif
    .col-md-3
        .form-group(class!="{{ $errors->has('prefix') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.prefix') }}
            | {{ Form::text('prefix', old('prefix'), ['class' => "form-control", 'placeholder' => trans('attributes.prefix') ]) }}
            | @if ($errors->has('prefix'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('prefix') }}
            | @endif
    .col-md-6(class="person_type_pj")
        .form-group(class!="{{ $errors->has('state_registration') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.state_registration') }}
                i.text-danger *
            | {{ Form::text('state_registration', old('state_registration'), ['class' => "form-control", 'placeholder' => trans('attributes.state_registration') ]) }}
            | @if ($errors->has('state_registration'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('state_registration') }}
            | @endif
    .col-md-6(class="person_type_pj")
        .form-group(class!="{{ $errors->has('company_name') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.company_name') }}
                i.text-danger *
            | {{ Form::text('company_name', old('company_name'), ['class' => "form-control", 'placeholder' => trans('attributes.company_name') ]) }}
            | @if ($errors->has('company_name'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('company_name') }}
            | @endif
    .col-md-6(class="person_type_pj")
        .form-group(class!="{{ $errors->has('fantasy_name') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.fantasy_name') }}
                i.text-danger *
            | {{ Form::text('fantasy_name', old('fantasy_name'), ['class' => "form-control", 'placeholder' => trans('attributes.fantasy_name') ]) }}
            | @if ($errors->has('fantasy_name'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('fantasy_name') }}
            | @endif
    .col-md-6(class="person_type_pf")
        .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.name') }}
                i.text-danger *
            | {{ Form::text('name', old('name', (isset($model->fantasy_name) ? $model->fantasy_name : null)), ['class' => "form-control", 'placeholder' => trans('attributes.name') ]) }}
            | @if ($errors->has('name'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('name') }}
            | @endif
    .col-md-3(class="person_type_pf")
        .form-group(class!="{{ $errors->has('rg') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.rg') }}
                i.text-danger *
            | {{ Form::text('rg', old('rg'), ['class' => "form-control", 'placeholder' => trans('attributes.rg'), 'maxlength' => '18' ]) }}
            | @if ($errors->has('rg'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('rg') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('phone') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.phone') }}
                i.text-danger *
            | {{ Form::text('phone', old('phone'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone'), 'maxlength' => '15']) }}
            | @if ($errors->has('phone'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('phone') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('phone2') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.phone2') }}
            | {{ Form::text('phone2', old('phone2'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone2'), 'maxlength' => '15']) }}
            | @if ($errors->has('phone2'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('phone2') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('email') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.email') }}
                i.text-danger *
            | {{ Form::email('email', old('email'), ['class' => "form-control", 'placeholder' => trans('attributes.email') ]) }}
            | @if ($errors->has('email'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('email') }}
            | @endif

legend.text-bold Endereço do Representante
.row
    .col-md-4
        .form-group(class!="{{ $errors->has('cep') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.cep') }}
                i.text-danger *
            | {{ Form::text('cep', (isset($model->address->cep) ? $model->address->cep : old('cep')), ['class' => "form-control cep", 'placeholder' => trans('attributes.cep'), 'maxlength' => '9']) }}
            | {{ Form::hidden('table', 'representatives') }}
            | {{ Form::hidden('type', 'C') }}
            | @if (isset($model->address->cep))
            | {{ Form::hidden('address_id', $model->address->id) }}
            | @endif
            | @if ($errors->has('cep'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('cep') }}
            | @endif
    .col-md-6
        .form-group(class!="{{ $errors->has('street') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.street') }}
                i.text-danger *
            | {{ Form::text('street', (isset($model->address->cep) ? $model->address->street : old('street')), ['class' => "form-control", 'placeholder' => trans('attributes.street'), 'maxlength' => '250']) }}
            | @if ($errors->has('street'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('street') }}
            | @endif
    .col-md-2
        .form-group(class!="{{ $errors->has('number') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.number') }}
                i.text-danger *
            | {{ Form::text('number', (isset($model->address->cep) ? $model->address->number : old('number')), ['class' => "form-control", 'placeholder' => trans('attributes.number'), 'maxlength' => '50']) }}
            | @if ($errors->has('number'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('number') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('complement') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.complement') }}
            | {{ Form::text('complement', (isset($model->address->cep) ? $model->address->complement : old('complement')), ['class' => "form-control", 'placeholder' => trans('attributes.complement'), 'maxlength' => '50']) }}
            | @if ($errors->has('complement'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('complement') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('neighborhood') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.neighborhood') }}
                i.text-danger *
            | {{ Form::text('neighborhood', (isset($model->address->cep) ? $model->address->neighborhood : old('neighborhood')), ['class' => "form-control", 'placeholder' => trans('attributes.neighborhood'), 'maxlength' => '150']) }}
            | @if ($errors->has('neighborhood'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('neighborhood') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('city') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.city') }}
                i.text-danger *
            | {{ Form::text('city', (isset($model->address->cep) ? $model->address->city : old('city')), ['class' => "form-control", 'placeholder' => trans('attributes.city'), 'maxlength' => '150']) }}
            | @if ($errors->has('city'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('city') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('state') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.state') }}
                i.text-danger *
            | {{ Form::text('state', (isset($model->address->cep) ? $model->address->state : old('state')), ['class' => "form-control", 'placeholder' => trans('attributes.state'), 'maxlength' => '2']) }}
            | @if ($errors->has('state'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('state') }}
            | @endif