extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Edição de Representante

block page-title
    span.text-semibold Cadastros
    |  - Edição de Representante

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebelorepresentatives:js/representatives/_form.js') }}?{{ filemtime(Module::assetPath('cerebelorepresentatives/js/representatives/_form.js')) }}")
    | {!! $validator !!}

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Edição de Representante

block content
    .row
        .col-lg-12
            | {{ Form::model($model, array('url' => route('cerebelo.representatives.update', $model->id), 'method' => 'PATCH', 'id' => 'formEditRepresentative')) }}
            .panel.panel-flat
                .panel-body
                    .form-group.text-right
                        button.btn.btn-primary(type='submit')
                            i.icon-import.position-left
                            |  Salvar Representante
                    fieldset.content-group

                        include ./_form.pug

                    .form-group.text-right
                        button.btn.btn-primary(type='submit')
                            i.icon-import.position-left
                            |  Salvar Representante
            | {{ Form::close() }}