extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Lista de Representante

block page-title
    span.text-semibold Cadastros
    |  - Lista de Representante

block theme-js-files
    script(type="text/javascript", id="script-route", data-route="{{ route('cerebelo.representatives.datatable') }}", src="{{ Module::asset('cerebelorepresentatives:js/representatives/index.js') }}?{{ filemtime(Module::assetPath('cerebelorepresentatives/js/representatives/index.js')) }}")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Lista de Representantes

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista Representantes
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.representatives.create') }}")
                            i.icon-import.position-left
                            |  Adicionar Representantes

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th {{ trans('attributes.id') }}
                                    th {{ trans('attributes.percentage') }}
                                    th {{ trans('attributes.cpf_cnpj') }}
                                    th {{ trans('attributes.fantasy_name') }}
                                    th {{ trans('attributes.phone') }}
                                    th {{ trans('attributes.email') }}
                                    th {{ trans('attributes.created_at') }}
