fieldset.content-group
    legend.text-bold Informações
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('logo') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.logo') }}
                    i.text-danger *
                | {{ Form::file('logo', ['class' => 'form-control file-styled', 'placeholder' => trans('attributes.logo')]) }}
                | @if ($errors->has('logo'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('logo') }}
                | @endif
    .row
        .col-md-3
            | {{ Form::hidden('dataX', null, ['id' => 'dataX']) }}
            | {{ Form::hidden('dataY', null, ['id' => 'dataY']) }}
            | {{ Form::hidden('dataHeight', null, ['id' => 'dataHeight']) }}
            | {{ Form::hidden('dataWidth', null, ['id' => 'dataWidth']) }}
            | {{ Form::hidden('dataScaleX', null, ['id' => 'dataScaleX']) }}
            | {{ Form::hidden('dataScaleY', null, ['id' => 'dataScaleY']) }}
            | @if(isset($model->logo) && !empty($model->logo))
            .thumbnail
                .thumb
                    img(style="max-width: 100%;", src!="{{ route('storage.files', ['filename' => $model->logo]) }}")
            | @endif
            //.image-cropper-container.content-group
                | @if(isset($model->logo) && !empty($model->logo))
                img(style="max-width: 100%;", src!="{{ route('storage.files', ['filename' => $model->logo]) }}")
                | @endif
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('cnpj') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.cnpj') }}
                    i.text-danger *
                | {{ Form::text('cnpj', old('cnpj'), ['class' => "form-control mask_cnpj", 'placeholder' => trans('attributes.cnpj'), 'maxlength' => '18' ]) }}
                | @if ($errors->has('cnpj'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('cnpj') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('state_registration') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.state_registration') }}
                    i.text-danger *
                | {{ Form::text('state_registration', old('state_registration'), ['class' => "form-control", 'placeholder' => trans('attributes.state_registration'), 'maxlength' => '17' ]) }}
                | @if ($errors->has('state_registration'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('state_registration') }}
                | @endif
    .row
        .col-md-6
            .form-group(class!="{{ $errors->has('corporate_name') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.company_name') }}
                    i.text-danger *
                | {{ Form::text('corporate_name', old('corporate_name'), ['class' => "form-control", 'placeholder' => trans('attributes.company_name'), 'maxlength' => '150' ]) }}
                | @if ($errors->has('corporate_name'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('corporate_name') }}
                | @endif
        .col-md-6
            .form-group(class!="{{ $errors->has('fantasy_name') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.fantasy_name') }}
                    i.text-danger *
                | {{ Form::text('fantasy_name', old('fantasy_name'), ['class' => "form-control", 'placeholder' => trans('attributes.fantasy_name'), 'maxlength' => '150' ]) }}
                | @if ($errors->has('fantasy_name'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('fantasy_name') }}
                | @endif
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('email') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.email') }}
                    i.text-danger *
                | {{ Form::email('email', old('email'), ['class' => "form-control", 'placeholder' => trans('attributes.email'), 'maxlength' => '150' ]) }}
                | @if ($errors->has('email'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('email') }}
                | @endif
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('phone') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.phone') }}
                    i.text-danger *
                | {{ Form::text('phone', old('phone'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone'), 'maxlength' => '15']) }}
                | @if ($errors->has('phone'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('phone') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('phone2') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.phone2') }}
                | {{ Form::text('phone2', old('phone2'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone2'), 'maxlength' => '15']) }}
                | @if ($errors->has('phone2'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('phone2') }}
                | @endif

    legend.text-bold Endereço
    .row
        .col-md-4
            .form-group(class!="{{ $errors->has('type.0') ? ' has-error' : '' }}")
                label
                    | {{ trans('attributes.type') }}
                    i.text-danger *
                | {{ Form::select('type[0]', trans('attributes.address_types'), old('type.0', (isset($model->address) ? $model->address->type : null)), ['class' => 'select']) }}
                | @if ($errors->has('type.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('type.0') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('cep.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.cep') }}
                    i.text-danger *
                | {{ Form::text('cep[0]', old('cep.0', (isset($model->address) ? $model->address->cep : null)), ['class' => "form-control cep", 'placeholder' => trans('attributes.cep'), 'maxlength' => '9']) }}
                | {{ Form::hidden('table[0]', 'companies') }}
                | @if ($errors->has('cep.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('cep.0') }}
                | @endif
        .col-md-6
            .form-group(class!="{{ $errors->has('street.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.street') }}
                    i.text-danger *
                | {{ Form::text('street[0]', old('street.0', (isset($model->address) ? $model->address->street : null)), ['class' => "form-control", 'placeholder' => trans('attributes.street'), 'maxlength' => '250']) }}
                | @if ($errors->has('street.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('street.0') }}
                | @endif
        .col-md-2
            .form-group(class!="{{ $errors->has('number.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.number') }}
                    i.text-danger *
                | {{ Form::text('number[0]', old('number.0', (isset($model->address) ? $model->address->number : null)), ['class' => "form-control", 'placeholder' => trans('attributes.number'), 'maxlength' => '50']) }}
                | @if ($errors->has('number.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('number.0') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('complement.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.complement') }}
                | {{ Form::text('complement[0]', old('complement.0', (isset($model->address) ? $model->address->complement : null)), ['class' => "form-control", 'placeholder' => trans('attributes.complement'), 'maxlength' => '50']) }}
                | @if ($errors->has('complement.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('complement.0') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('neighborhood.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.neighborhood') }}
                    i.text-danger *
                | {{ Form::text('neighborhood[0]', old('neighborhood.0', (isset($model->address) ? $model->address->neighborhood : null)), ['class' => "form-control", 'placeholder' => trans('attributes.neighborhood'), 'maxlength' => '150']) }}
                | @if ($errors->has('neighborhood.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('neighborhood.0') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('city.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.city') }}
                    i.text-danger *
                | {{ Form::text('city[0]', old('city.0', (isset($model->address) ? $model->address->city : null)), ['class' => "form-control", 'placeholder' => trans('attributes.city'), 'maxlength' => '150']) }}
                | @if ($errors->has('city.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('city.0') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('state.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.state') }}
                    i.text-danger *
                | {{ Form::text('state[0]', old('state.0', (isset($model->address) ? $model->address->state : null)), ['class' => "form-control", 'placeholder' => trans('attributes.state'), 'maxlength' => '2']) }}
                | @if ($errors->has('state.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('state.0') }}
                | @endif
        .col-md-4
            .form-group(class!="{{ $errors->has('local.0') ? ' has-error' : '' }}")
                label 
                    | {{ trans('attributes.local') }}
                | {{ Form::text('local[0]', old('local.0', (isset($model->address) ? $model->address->local : null)), ['class' => "form-control", 'placeholder' => trans('attributes.local'), 'maxlength' => '150']) }}
                span.help-block (ex: Minha casa, Trabalho, Casa da avó)
                | @if ($errors->has('local.0'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('local.0') }}
                | @endif