extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Empresa (Nota Fiscal)

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Empresa (Nota Fiscal)

block theme-js-files
    script(type="text/javascript", src="{{ Module::asset('cerebelocompanies:js/companies/_form.js') }}?{{ filemtime(Module::assetPath('cerebelocompanies/js/companies/_form.js')) }}")

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Empresa (Nota Fiscal)

block content
    .row
        .col-lg-12
            | {{ Form::open(array('url' => route('cerebelo.companies.store'), 'method' => 'POST', 'class' => '', 'files' => true)) }}
            .panel.panel-flat            
                .panel-body                
                    .text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                    include ./_form.pug

                    .text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}  