extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Empresas (Nota Fiscal)

block page-title
    span.text-semibold Cadastros
    |  - Empresas (Nota Fiscal)

block theme-js-files
    script(type="text/javascript", id="route-companies", datatable="{{ route('cerebelo.companies.datatable') }}", src="{{ Module::asset('cerebelocompanies:js/companies/index.js') }}?{{ filemtime(Module::assetPath('cerebelocompanies/js/companies/index.js')) }}")


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Empresas (Nota Fiscal)

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista de Empresas (Nota Fiscal)
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.companies.create') }}")
                            i.icon-import.position-left
                            |  Adicionar Empresa

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.cnpj') }}                                
                                    th 
                                        | {{ trans('attributes.fantasy_name') }}                                
                                    th 
                                        | {{ trans('attributes.phone') }}