.row
    .col-xs-12
        table.table.table-lg
            tr
                td.col-xs-12
                    img.img-order(src="{{ asset('assets/images/header-print-orders.png') }}")

.row.data-pdf
    .col-xs-12.text-right.content-group
        span Data de Emissão: {{ date("d/m/Y H:i:s") }}
    .col-xs-12
        .table-responsive
                table.table.table-lg.body-pdf
                    tbody
                        tr.border-bottom.border-grey-300.text-black
                            td Informações do Pedido
                            td Material
                            td.text-center Quantidade de Peças

                        | @foreach($orders as $object)
                        tr.border-bottom.border-grey-300
                            td
                                | @php($client_name = (isset($object->client->company_name)) ? (empty($object->client->company_name) ? $object->client->fantasy_name : $object->client->company_name) : "")
                                .media-left
                                    a.text-default.text-semibold {{ $client_name }}
                                    .text-size-small
                                        a.text-default.text-semibold
                                            span.position-left {{ $object->order_number }}
                            td {{ $object->group }}
                            td.text-center {{ $object->qty_piece }}
                        | @endforeach