extends ../layout.pug

block title
    title Pedidos - Fila de Pedidos

block page-title
    span.text-semibold Pedidos
    |  - Fila de Pedidos

block theme-css-files

block theme-js-files
    script(type="text/javascript", id="route-orderqueue", store="{{ route('cerebelo.orderqueue.store') }}", update="{{ route('cerebelo.orderqueue.update') }}", datatable="{{ route('cerebelo.orders.datatable') }}", src="{{ Module::asset('cerebeloorderqueue:js/orderqueue/_index.js') }}?{{ filemtime(Module::assetPath('cerebeloorderqueue/js/orderqueue/_index.js')) }}")

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Pedidos
    li.active Fila de Pedidos

block content
    .alert.alert-info.no-border
        p.text-semibold Para que tenha algum pedido na tabela abaixo:
        p - Você precisa definir o grupo como "producao" nos setores/sub-setores referentes a Produção no menu de Setores.
        p - A data de entrega do pedido deve ser definida.

    #modal_remote.modal

    #modal-form-filter.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Filtro
                .modal-body
                    | {{ Form::open(array('url' => route('cerebelo.orders.datatable'), 'method' => 'get', 'id' => 'formSearchOrders')) }}
                    | {{ Form::hidden('queue', true) }}
                    .row
                        .col-xs-12
                            .form-group(class!="{{ $errors->has('sectors') ? ' has-error' : '' }}")
                                label Setor
                                | {{ Form::select('sectors[]', $sectors, old('sectors'), ['class' => 'select', 'multiple']) }}
                                | @if ($errors->has('sectors'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('sectors') }}
                                | @endif
                        //.col-xs-4
                            .form-group(class!="{{ $errors->has('status_id') ? ' has-error' : '' }}")
                                label Status
                                | {{ Form::select('status_id[]', $orders_status, old('status_id'), ['class' => 'select', 'multiple']) }}
                                | @if ($errors->has('status_id'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('status_id') }}
                                | @endif
                    .form-group.text-right
                        button.btn.bg-grey-300.btn-labeled(type="button")
                            b
                                i.icon-close2.position-left
                            | Limpar
                        button.btn.bg-slate-300.btn-labeled(type="submit")
                            b
                                i.icon-filter3.position-left
                            | Buscar
                    | {{ Form::close() }}

    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista Pedidos
                    .heading-elements
                        .heading-btn
                            button.btn.bg-primary-300(type="button", onclick="btnPrintSelected(this);", href="{{ route('cerebelo.orderqueue.printer') }}")
                                b
                                    i.icon-file-pdf.position-left
                                | Imprimir Selecionados

                .panel-body
                    p.text-info.text-black.text-center Segure e arraste (cima/baixo) para alterar a Fila de Pedido

                    .table-responsive
                        table.table.text-nowrap.table-hover.text-size-small#datatable
                            thead
                                tr
                                    th {{ Form::checkbox('', null, false, ['id' => 'check_order']) }}
                                    th Fila
                                    th.col-xs-2 Informações do Pedido
                                    th.col-xs-1 Material
                                    th.col-xs-3.text-center Qtde. Peças
                                    th
                                    th
                                    th
                                    th Entrega
                                    //th.col-xs-1 Status
                                    th.col-xs-1 Evento Indicar
                                    th.col-xs-1.text-center Setor Atual
                                    th.col-xs-1.text-center Ação

        .col-lg-12
            ul.fab-menu.fab-menu-fixed.fab-menu-bottom-right(data-fab-toggle='hover', data-popup="tooltip", title, data-original-title="Filtro", data-placement="left")
                li
                    a.fab-menu-btn.btn.bg-blue-600.btn-float.btn-rounded.btn-icon(onclick="btnFormFilter()")
                        i.fab-icon-open.icon-filter4
                        i.fab-icon-close.icon-filter3