extends ../../layout.pug

block title
    title Home - Dashboard Financial

block page-title
    span.text-semibold Home
    |  - Dashboard Financial

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li.active Dashboard Financial

block content
    .col-lg-6
        .panel.panel-flat
            .panel-heading
                h6
                    | Boletos do dia
                    small
                        |  dd/mm/aaaa
                
                .heading-elements
                    .heading-text
                        span.badge.bg-primary
                            | 06 Boletos


            .table-responsive.max-height-table
                table.table.text-nowrap
                    thead
                        tr
                            th Cliente
                            th Empresa
                            th Valor
                            th
                    tbody
                        tr
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa Contratante
                            td
                                span.text-muted.text-size-small Empresa ERT
                            td
                                h6.text-semibold.no-margin R$ 1.200,00
                            td
                                button.btn.btn-danger.btn-xs(type='button')
                                    i.icon-arrow-right7.position-left
                                    |  Ação
                        tr
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa Contratante
                            td
                                span.text-muted.text-size-small Empresa ERT
                            td
                                h6.text-semibold.no-margin R$ 1.200,00
                            td
                                button.btn.btn-danger.btn-xs(type='button')
                                    i.icon-arrow-right7.position-left
                                    |  Ação
                        tr
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa Contratante
                            td
                                span.text-muted.text-size-small Empresa ERT
                            td
                                h6.text-semibold.no-margin R$ 1.200,00
                            td
                                button.btn.btn-danger.btn-xs(type='button')
                                    i.icon-arrow-right7.position-left
                                    |  Ação
                        tr
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa Contratante
                            td
                                span.text-muted.text-size-small Empresa ERT
                            td
                                h6.text-semibold.no-margin R$ 1.200,00
                            td
                                button.btn.btn-danger.btn-xs(type='button')
                                    i.icon-arrow-right7.position-left
                                    |  Ação
                        tr
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa Contratante
                            td
                                span.text-muted.text-size-small Empresa ERT
                            td
                                h6.text-semibold.no-margin R$ 1.200,00
                            td
                                button.btn.btn-danger.btn-xs(type='button')
                                    i.icon-arrow-right7.position-left
                                    |  Ação
                        tr
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa Contratante
                            td
                                span.text-muted.text-size-small Empresa ERT
                            td
                                h6.text-semibold.no-margin R$ 1.200,00
                            td
                                button.btn.btn-danger.btn-xs(type='button')
                                    i.icon-arrow-right7.position-left
                                    |  Ação
        
                                
        .panel.panel-flat
            .panel-heading
                h6.panel-title Controle S.N
            
            .table-responsive
                table.table.text-nowrap
                    tbody
                        tr.bg-green-800
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa 1
                            td
                                h6.text-semibold.no-margin
                                 | R$ 1.200.000,00
                        tr.bg-orange
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa 2
                            td
                                h6.text-semibold.no-margin
                                    | R$ 300.000,00
                        tr.bg-danger
                            td

                                .media-body
                                    .media-heading
                                        .letter-icon-title Empresa 3
                            td
                                h6.text-semibold.no-margin
                                    | R$ 500,00
            

    
    .col-lg-6
        .panel.panel-flat
            .panel-heading
                h6
                    | Contas a pagar do dia
                    small
                        |  dd/mm/aaaa
                
                .heading-elements
                    buttom.btn.bg-slate
                        | Baixa nos Selecionados
              
            #accordion1.panel-group.content-group-lg
                .panel-heading.bg-teal
                    h6.panel-title
                        a(data-toggle='collapse', data-parent='#accordion1', href='#accordion-group1')
                            strong
                                | Empresa 1
                    .heading-elements
                        span.label.text-success.heading-text.bg-white
                            span
                                | Em caixa | 
                            | 30.000,00
                        span.label.text-danger.heading-text.bg-white
                            span
                                | A pagar | 
                            | 30.000,00

                #accordion-group1.panel-collapse.collapse.in
                    
                    .panel-body
                        .table-responsive
                            table.table.text-nowrap
                                tbody
                                    tr
                                        td.col-md-8
                                            h6.text-semibold.no-margin
                                                | Conta x
                                        td
                                            span.text-success.text-size-base.media-left
                                                span
                                                    | Em caixa | 
                                                | 30.000,00
                                            span.text-danger.text-size-base.media-left
                                                span
                                                    | A pagar | 
                                                | 30.000,00
                                        td
                                            a.pull-right(href="#", data-toggle="modal", data-target="#modal_transfer", title="Transferência")
                                                i.icon-transmission
                            .panel-body.custom-padding-top
                                table.table.text-nowrap.custom-padding
                                    thead
                                        tr
                                            th 
                                            th A pagar
                                            th Valor
                                            th
                                    tbody
                                        tr
                                            td.col-md-1
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52

                            table.table.text-nowrap
                                tbody
                                    tr
                                        td.col-md-8
                                            h6.text-semibold.no-margin
                                                | Conta x
                                        td
                                            span.text-success.text-size-base.media-left
                                                span
                                                    | Em caixa | 
                                                | 30.000,00
                                            span.text-danger.text-size-base.media-left
                                                span
                                                    | A pagar | 
                                                | 30.000,00
                                        td
                                            a.pull-right(href="#", data-toggle="modal", data-target="#modal_transfer", title="Transferência")
                                                i.icon-transmission
                            .panel-body.custom-padding-top
                                table.table.text-nowrap.custom-padding
                                    tbody
                                        tr
                                            td.col-md-1
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52

                .panel-heading.bg-orange
                    h6.panel-title
                        a(data-toggle='collapse', data-parent='#accordion2', href='#accordion-group2')
                            strong
                                | Empresa 2
                    .heading-elements
                        span.label.text-success.heading-text.bg-white
                            span
                                | Em caixa | 
                            | 30.000,00
                        span.label.text-danger.heading-text.bg-white
                            span
                                | A pagar | 
                            | 30.000,00

                #accordion-group2.panel-collapse.collapse
                    .panel-body
                        .table-responsive
                            table.table.text-nowrap
                                tbody
                                    tr
                                        td.col-md-8
                                            h6.text-semibold.no-margin
                                                | Conta x
                                        td
                                            span.text-success.text-size-base.media-left
                                                span
                                                    | Em caixa | 
                                                | 30.000,00
                                            span.text-danger.text-size-base.media-left
                                                span
                                                    | A pagar | 
                                                | 30.000,00
                                        td
                                            a.pull-right(href="#", data-toggle="modal", data-target="#modal_transfer", title="Transferência")
                                                i.icon-transmission
                            .panel-body.custom-padding-top
                                table.table.text-nowrap.custom-padding
                                    thead
                                        tr
                                            th 
                                            th A pagar
                                            th Valor
                                            th
                                    tbody
                                        tr
                                            td.col-md-1
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52

                            table.table.text-nowrap
                                tbody
                                    tr
                                        td.col-md-8
                                            h6.text-semibold.no-margin
                                                | Conta x
                                        td
                                            span.text-success.text-size-base.media-left
                                                span
                                                    | Em caixa | 
                                                | 30.000,00
                                            span.text-danger.text-size-base.media-left
                                                span
                                                    | A pagar | 
                                                | 30.000,00
                                        td
                                            a.pull-right(href="#", data-toggle="modal", data-target="#modal_transfer", title="Transferência")
                                                i.icon-transmission
                            .panel-body.custom-padding-top
                                table.table.text-nowrap.custom-padding
                                    tbody
                                        tr
                                            td.col-md-1
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52

                .panel-heading.bg-slate
                    h6.panel-title
                        a(data-toggle='collapse', data-parent='#accordion3', href='#accordion-group3')
                            strong
                                | Empresa 3
                    .heading-elements
                        span.label.text-success.heading-text.bg-white
                            span
                                | Em caixa | 
                            | 30.000,00
                        span.label.text-danger.heading-text.bg-white
                            span
                                | A pagar | 
                            | 30.000,00

                #accordion-group3.panel-collapse.collapse
                    .panel-body
                        .table-responsive
                            table.table.text-nowrap
                                tbody
                                    tr
                                        td.col-md-8
                                            h6.text-semibold.no-margin
                                                | Conta x
                                        td
                                            span.text-success.text-size-base.media-left
                                                span
                                                    | Em caixa | 
                                                | 30.000,00
                                            span.text-danger.text-size-base.media-left
                                                span
                                                    | A pagar | 
                                                | 30.000,00
                                        td
                                            a.pull-right(href="#", data-toggle="modal", data-target="#modal_transfer", title="Transferência")
                                                i.icon-transmission
                            .panel-body.custom-padding-top
                                table.table.text-nowrap.custom-padding
                                    thead
                                        tr
                                            th 
                                            th A pagar
                                            th Valor
                                            th
                                    tbody
                                        tr
                                            td.col-md-1
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52

                            table.table.text-nowrap
                                tbody
                                    tr
                                        td.col-md-8
                                            h6.text-semibold.no-margin
                                                | Conta x
                                        td
                                            span.text-success.text-size-base.media-left
                                                span
                                                    | Em caixa | 
                                                | 30.000,00
                                            span.text-danger.text-size-base.media-left
                                                span
                                                    | A pagar | 
                                                | 30.000,00
                                        td
                                            a.pull-right(href="#", data-toggle="modal", data-target="#modal_transfer", title="Transferência") 
                                                i.icon-transmission
                            .panel-body.custom-padding-top
                                table.table.text-nowrap.custom-padding
                                    tbody
                                        tr
                                            td.col-md-1
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                            td
                                                | Luz
                                            td
                                                | R$ 150,00
                                            td
                                                a.pull-right(href="#", data-toggle="modal", data-target="#modal_low", title="Baixa")
                                                    i.icon-arrow-down52
                                                    
                                                    
                                                   
    // transferência modal
    #modal_transfer.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Transferência entre contas
                .modal-body       
                    .form-group
                        label Valor
                        input.form-control.input-lg(type='text', placeholder='R$')
                    .row
                        .col-md-6
                            .form-group
                                label De:
                                select.form-control(name='select')
                                    option(value='opt1') Conta 1
                                    option(value='opt2') Conta 2
                                    option(value='opt3') Conta 3
                                    option(value='opt4') Conta 4
                        .col-md-6
                            .form-group
                                label Para:
                                select.form-control(name='select')
                                    option(value='opt1') Conta 1
                                    option(value='opt2') Conta 2
                                    option(value='opt3') Conta 3
                                    option(value='opt4') Conta 4
                        
                            
                .modal-footer
                    button.btn.btn-link(type='button', data-dismiss='modal') Sair
                    button.btn.btn-primary(type='button') Transferir
    // /transferência modal
    
    // low modal
    #modal_low.modal.fade
        .modal-dialog.modal-full
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Realizar Baixa
                .modal-body
                    code
                        | Quando o pagamento for parcial, e o usuário marcar a opção de gerar nova conta, uma nova conta deve ser criada com o valor que faltou no pagamento.
                    table.table.text-nowrap
                        tbody
                            tr
                                td
                                    h6.text-semibold.no-margin
                                        | Luz
                                td
                                    h6.text-semibold.no-margin
                                        | R$ 120,00
                                td
                                    .form-group
                                        label Valor Pago
                                        input.form-control.input-lg(type='text', placeholder='R$')
                                    .checkbox
                                        label
                                            | Gerar Nova conta
                                            input.styled(type='checkbox', checked='checked')
                                td
                                    .form-group
                                        label Tipo:
                                        select.form-control(name='select')
                                            option(value='opt1') Cheque
                                            option(value='opt2') Dinheiro
                                            option(value='opt3') Depósito
                                td
                                    .form-group
                                        label Valor da Nota
                                        input.form-control.input-lg(type='text', placeholder='R$')
                                td
                                    .form-group
                                        label Data do Pagamento
                                        input.form-control.input-lg(type='text', placeholder='dd/mm/aaaa')
                                td
                                    .form-group
                                        label Conta:
                                        select.form-control(name='select')
                                            option(value='opt1') Conta 1
                                            option(value='opt2') Conta 2
                                            option(value='opt3') Conta 3
                                            option(value='opt4') Conta 4
                                td
                                    .form-group
                                        label Empresa:
                                        select.form-control(name='select')
                                            option(value='opt1') Empresa 1
                                            option(value='opt2') Empresa 2
                                            option(value='opt3') Empresa 3
                            tr
                                td
                                    h6.text-semibold.no-margin
                                        | Luz
                                td
                                    h6.text-semibold.no-margin
                                        | R$ 120,00
                                td
                                    .form-group
                                        label Valor Pago
                                        input.form-control.input-lg(type='text', placeholder='R$')
                                    .checkbox
                                        label
                                            | Gerar Nova conta
                                            input.styled(type='checkbox', checked='checked')
                                td
                                    .form-group
                                        label Tipo:
                                        select.form-control(name='select')
                                            option(value='opt1') Cheque
                                            option(value='opt2') Dinheiro
                                            option(value='opt3') Depósito
                                td
                                    .form-group
                                        label Valor da Nota
                                        input.form-control.input-lg(type='text', placeholder='R$')
                                td
                                    .form-group
                                        label Data do Pagamento
                                        input.form-control.input-lg(type='text', placeholder='dd/mm/aaaa')
                                td
                                    .form-group
                                        label Conta:
                                        select.form-control(name='select')
                                            option(value='opt1') Conta 1
                                            option(value='opt2') Conta 2
                                            option(value='opt3') Conta 3
                                            option(value='opt4') Conta 4
                                td
                                    .form-group
                                        label Empresa:
                                        select.form-control(name='select')
                                            option(value='opt1') Empresa 1
                                            option(value='opt2') Empresa 2
                                            option(value='opt3') Empresa 3
                                            
                            
                    
                        
                            
                .modal-footer
                    button.btn.btn-link(type='button', data-dismiss='modal') Sair
                    button.btn.btn-primary(type='button') Realizar Baixa
    // /low modal