h6 Dados Pessoais
fieldset
    .row
        .col-md-6
            .form-group
                label.col-lg-3.control-label Foto:
                .col-lg-9.mb-15
                    input.file-styled(type='file')
            .form-group
                label.col-lg-3.control-label Data de contratação:
                .col-lg-9
                    .row
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='contratação')
            .form-group
                label.col-lg-3.control-label Nome:
                .col-lg-9
                    .row
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Primeiro Nome')
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Sobrenome')
            .form-group
                label.col-lg-3.control-label Sexo:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='-')
            .form-group
                label.col-lg-3.control-label Data de Nascimento:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='dd/mm/aaaa')
        .col-md-6
            .form-group
                label.col-lg-3.control-label CPF:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='000.000.000-00')
            .form-group
                label.col-lg-3.control-label RG:
                .col-lg-9
                    .row
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Número')
                            input.form-control.mb-15(type='text', placeholder='Órgão Expedidor')
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Data de Expedição')
                            .mb-15
                                select.select(data-placeholder='UF')
                                    option
                                    option(value='1') MG
                                    option(value='2') RG
                                    option(value='3') SP
                                    option(value='4') ES
            .form-group
                label.col-lg-3.control-label Estado Cívil:
                .col-lg-9
                    input.form-control(type='text', placeholder='-')
h6 Dados de Contato
fieldset
    .row
        .col-md-6
            .form-group
                label.col-lg-3.control-label Email:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='eugene@kopyov.com')
            .form-group
                label.col-lg-3.control-label Telefone 01:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
            .form-group
                label.col-lg-3.control-label Telefone 02:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
            .form-group
                label.col-lg-3.control-label Celular:
                .col-lg-9
                    input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
        .col-md-6
            .form-group
                label.col-lg-3.control-label Endereço:
                .col-lg-9
                    .row
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='CEP')
                        .col-md-12
                            input.form-control.mb-15(type='text', placeholder='Endereço')
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Número')
                            input.form-control(type='text', placeholder='Cidade')
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Complemento')
                            .mb-15
                                select.select(data-placeholder='Estado')
                                    option
                                    option(value='1') Canada
                                    option(value='2') USA
                                    option(value='3') Australia
                                    option(value='4') Germany
h6 Dados Profissionais
fieldset
    .row
        .col-md-6
            .form-group
                label.col-lg-3.control-label Setor:
                .col-lg-9.mb-15
                    select.select(data-placeholder='UF')
                        option
                        option(value='1') MG
                        option(value='2') RG
                        option(value='3') SP
                        option(value='4') ES
            .form-group
                label.col-lg-3.control-label Cargo:
                .col-lg-9.mb-15
                    select.select(data-placeholder='UF')
                        option
                        option(value='1') MG
                        option(value='2') RG
                        option(value='3') SP
                        option(value='4') ES
            .form-group
                label.col-lg-3.control-label Função:
                .col-lg-9.mb-15
                    select.select(data-placeholder='UF')
                        option
                        option(value='1') MG
                        option(value='2') RG
                        option(value='3') SP
                        option(value='4') ES
            .form-group
                label.col-lg-3.control-label Nível:
                .col-lg-9.mb-15
                    select.select(data-placeholder='UF')
                        option
                        option(value='1') MG
                        option(value='2') RG
                        option(value='3') SP
                        option(value='4') ES
            .form-group
                label.col-lg-3.control-label Turno(s):
                .col-lg-9.mb-15
                    select.select(data-placeholder='UF')
                        option
                        option(value='1') MG
                        option(value='2') RG
                        option(value='3') SP
                        option(value='4') ES
            
        //.col-md-12
            .panel-heading
                h6.text-semibold
                    | Remuneração e Benefícios

            .col-md-6
                .form-group
                    label.col-lg-3.control-label Remuneração:
                    .col-lg-9
                        input.form-control(type='text')
            .col-md-6
                .form-group
                    label.text-semibold.col-md-12 Benefício(s)
                    .col-md-4
                        .checkbox
                            label
                                input(type='checkbox', checked='checked')
                                | Vale Alimentação
                        .checkbox
                            label
                                input(type='checkbox')
                                | Plano de Saúde
                        .checkbox
                            label
                                input(type='checkbox', checked='checked')
                                | Plano ...
                    .col-md-4
                        .checkbox
                            label
                                input(type='checkbox', checked='checked')
                                | Vale Alimentação
                        .checkbox
                            label
                                input(type='checkbox')
                                | Plano de Saúde
                        .checkbox
                            label
                                input(type='checkbox', checked='checked')
                                | Plano ...
h6 Informações Adicionais
fieldset
    .row
        .col-md-6
            .form-group
                label.col-lg-3.control-label Possui dependentes?
                .col-lg-9
                    label.radio-inline
                        input(type='radio', name='radio-unstyled-inline-left', checked='checked')
                        | Sim
                    label.radio-inline
                        input(type='radio', name='radio-unstyled-inline-left')
                        | Não
            .form-group
                label.col-lg-12.control-label Cadastrar Dependente:
                .col-lg-12
                    .row
                        .col-md-6
                            input.form-control.mb-15(type='text', placeholder='Nome')
                        .col-md-6
                            .mb-15
                                select.select(data-placeholder='Parentesco')
                                    option
                                    option(value='1') Canada
                                    option(value='2') USA
                                    option(value='3') Australia
                                    option(value='4') Germany
            .col-lg-12.text-right
                button.btn.btn-primary(type='submit')
                    | Adicionar Dependente
                    i.icon-arrow-right14.position-right
        .col-md-6
            .form-group
                label Observações
                textarea.form-control(name='additional-info', rows='5', cols='5', placeholder='If you want to add any info, do it here.')