extends ../../layout.pug
block title
    title Listagem de Funcionários - Cerebelo Curso nota 10
block page-title
    span.text-semibold Funcionários
    |  - Cadastrar Funcionário
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/employees.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Financeiro
    li Funcionários
    li.active Listagem de Funcionários
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Funcionários
            .heading-elements
                a.btn.btn-primary(type='button' href="{{ url('funcionarios/novo') }}")
                    i.icon-plus22
                    |  Cadastrar Funcionário
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.table-responsive.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Nome
                        th Setor
                        th Cargo
                        th Turno(s)
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td
                                .media-left
                                    img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                                .media-left
                                    | Flávio Henrique
                            td Administrativo
                            td Sercretário
                            td Manhã e Tarde
                            td
                                span.label.label-success Ativo
                            +actions
                tfoot
                    tr
                        td.input-filter Nome
                        td.select-filter Setor
                        td.select-filter Cargo
                        td.select-filter Turno(s)
                        td.select-filter Status
                        td
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.efetuar-matricula(href='#').text-primary-800
                            i.icon-vcard
                            |  Efetuar Matrícula
                    li
                        a.editar(href="{{ url('funcionarios/editar') }}").text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar