.row
    .col-md-6
        .form-group
            label.col-lg-3.control-label Nome da Conta:
            .col-lg-9
                input.form-control(type='text', placeholder='eugene@kopyov.com')
        .form-group
            label.col-lg-3.control-label Empresa 
            .col-lg-9.select-plano-de-contas
                select.select
                    option(value='AZ' class='cat2' disabled='disabled') Arizona
                    option(value='CO' class='cat3') Colorado
                    option(value='ID' class='cat3') Idaho
                    option(value='WY' class='cat3') Wyoming
        .form-group
            label.col-lg-3.control-label Plano de Contas
            .col-lg-9.select-plano-de-contas
                select.select
                    optgroup(label='Despesas Fixas' class='cat1')
                        option(value='AZ' class='cat2' disabled='disabled') Arizona
                        option(value='CO' class='cat3') Colorado
                        option(value='ID' class='cat3') Idaho
                        option(value='WY' class='cat3') Wyoming
                        option(value='AZ' class='cat2' disabled='disabled') Arizona
                        option(value='CO' class='cat3') Colorado
                        option(value='ID' class='cat3') Idaho
                        option(value='WY' class='cat3') Wyoming
                    optgroup(label='Despesas Extras' class='cat1')
                        option(value='AZ' class='cat2' disabled='disabled') Arizona
                        option(value='CO' class='cat3') Colorado
                        option(value='ID' class='cat3') Idaho
                        option(value='WY' class='cat3') Wyoming
        .form-group
            label.col-lg-3.control-label Tipo (mudar nome, não é sugestivo)
            .col-lg-9
                select.select
                    option(value='AZ') Fornecedor
                    option(value='CO') Funcionário
        .form-group
            label.col-lg-3.control-label Fornecedor (ou Funcionário)
            .col-lg-9
                select.select
                    optgroup(label='Professor' class='cat1')
                        option(value='AZ' class='cat2' disabled='disabled') Arizona
                        option(value='CO') Colorado
                        option(value='ID') Idaho
                        option(value='WY') Wyoming
                    optgroup(label='Secertárias')
                        option(value='AL') Alabama
                        option(value='AR') Arkansas
                        option(value='KS') Kansas
                        option(value='KY') Kentucky
        .form-group
            label.col-lg-3.control-label Tipo de Negociação
            .col-lg-9
                select.select
                    option(value='AZ') Normal
                    option(value='CO') Permuta
                    
        .form-group
            label.col-lg-3.control-label Forma de lançamento
            .col-lg-9
                select.select
                    option Lançamento simples
                    option Lançamento recorrente
    .col-md-6
        h4.no-margin
            | Simples
        .form-group
            label.col-lg-3.control-label Parcelas
            .col-lg-9
                select.select
                    option 01
                    option 02
        .form-group
            label.col-lg-3.control-label Parcela 01:
            .col-lg-9
                .row
                    .col-md-5
                        input.form-control.mb-15(type='text', placeholder='Valor')
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Vencimento')
                    .col-md-3
                        select.select
                            option Dinheiro
                            option Cheque
                            option Depósito
                            option Boleto
        .form-group
            label.col-lg-3.control-label Alterações:
            .col-lg-9
                .row
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Juros')
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Acréscimos')
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Descontos')
        .form-group
            label.col-lg-3.control-label Observações
            .col-lg-9
                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                
                
        h4.no-margin
            | Recorrente
            
        .form-group
            label.col-lg-3.control-label Valor/Vencimento:
            .col-lg-9
                .row
                    .col-md-7
                        input.form-control.mb-15(type='text', placeholder='Valor')
                    .col-md-5
                        input.form-control.mb-15(type='text', placeholder='dd/mm/aaaa')
        .form-group
            label.col-lg-3.control-label Alterações:
            .col-lg-9
                .row
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Juros')
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Acréscimos')
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Descontos')
                        
        .form-group
            label.col-lg-3.control-label Repetição:
            .col-lg-9
                .row
                    .col-lg-3
                        select.select
                            option Dias da semana
                            option Semanal
                            option Mensal
                            option Anual
                    .col-lg-9
                        .checkbox
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	D
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	S
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	T
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	Q
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	Q
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	S
                            label.checkbox-inline
                                input.styled(type='checkbox', checked='checked')
                                | 	S
                                
        .form-group
            label.col-lg-3.control-label Repete a cada:
            .col-lg-9
                select.select
                    option 01
                    option 02
                    option 03
                    option 04
                span.help-block
                    | Semana/Mês/Ano
            
        .form-group
            label.col-lg-3.control-label Detalhes:
            .col-lg-9
                .row
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='Início em:')
                    .col-md-4
                        select.select
                            option Nunca termina
                            option Termina na data:
                            option Terminar por ocorrência
                    .col-md-4
                        input.form-control.mb-15(type='text', placeholder='-')
        .form-group
            label.col-lg-3.control-label Observações
            .col-lg-9
                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                
                
.text-right
    button.btn.btn-default.fechar(type='submit')
        | Cancelar
        i.icon-cross3.position-right
    a.btn.btn-primary.salvar(href="{{ url('contas_a_pagar') }}")
        | Salvar
        i.icon-arrow-right14.position-right
    //button.btn.btn-primary.salvar(type='submit')
        | Salvar
        i.icon-arrow-right14.position-right