extends ../../layout.pug
block title
    title Editar Conta a Pagar - Cerebelo Curso nota 10
block page-title
    span.text-semibold Contas a Pagar
    |  - Editar Conta a Pagar
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/payments_create.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Contas a Pagar
    li.active Editar Conta a Pagar
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Editar Conta a Pagar
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            form.form-horizontal(action='#')
                include _form.pug