| @setvar('_briefings_find', "")
| @setvar('_briefings_saved', '')
| @if((isset($model) && !empty($model)))
| @setvar('_briefings_find', $model->briefings->find($id))
| @if(!empty($_briefings_find))
| @setvar('_briefings_saved', $_briefings_find->getOriginal('pivot_value'))
| @endif
| @endif

| @if($field_type === 'text')

| @if(!empty($title))
.form-group
    | {{ $title }}
    | {{ Form::text('answers[' . $id . ']', old('answers.' . $id, $_briefings_saved), ['class' => 'form-control input-lg', 'placeholder' => $title]) }}
| @else
| @if($id == 2)
| {{ Form::text('answers[' . $id . ']', (!empty($model->group) ? $model->group : old('answers.' . $id, $_briefings_saved)), ['class' => 'form-control input-lg', 'placeholder' => $title]) }}
| @else
| {{ Form::text('answers[' . $id . ']', old('answers.' . $id, $_briefings_saved), ['class' => 'form-control input-lg', 'placeholder' => $title]) }}
| @endif
| @if(!empty($description))
p.text-muted.text-size-small
    | {{ $description }}
| @endif
| @endif
    
| @elseif($field_type === 'checkbox')

| @if(empty($relationship))
.checkbox
    label
        | {{ Form::checkbox('answers[' . $id . ']', old('answers.' . $id), (!empty($_briefings_saved) ? true : false), ['class' => 'styled']) }}
        | @if(!empty($title))
        | {{ $title }}
        | @endif
| @else
| @if($relationship === "products_from_budget")
div(id="{{ $relationship }}")
    ul.media-list.media-list-bordered
        | @if(isset($products_selected['products_index']))
        | @php($products_ids = [])
        | @foreach($products_selected['products_index'] as $product)
        | @php($products_id = $products_selected['products_id'][$product])
        | @if(!in_array($products_id, $products_ids))
        li.media
            .media-body
                .col-md-3
                    label {{ $products_selected['products_name'][$product] }}
                | @if(isset($products_selected['variations_name'][$product]))
                | @foreach($products_selected['variations_id'][$product] as $variation)
                | @setvar('variations_name', $products_selected['variations_name'][$product][$variation])
                | @setvar('variations_pivot_id', $products_selected['variations_pivot_id'][$product][$variation])
                | @setvar('variations_pivot_position', $products_selected['variations_pivot_position'][$product][$variation])
                .col-md-3
                    label {{ $variations_name }}
                        | {{ Form::text('variations_position[' . $variations_pivot_id . ']', old('variations_position.' . $variations_pivot_id, $variations_pivot_position), ['class' => 'form-control input-lg', 'placeholder' => 'Posição']) }}
                | @endforeach
                | @endif
        | @php(array_push($products_ids, $products_id))
        | @endif
        | @endforeach
        | @endif
| @endif
| @endif

| @elseif($field_type === 'radio')

label.radio-inline
    | {{ Form::radio('answers[' . $parent_id . '][0]', $id, old('answers.' . $parent_id . '.0'), ['class' => 'styled', (!empty($_briefings_find) ? 'checked' : '')]) }}
    | {{ $title }}
| @if(!empty($description))
p.text-muted.text-size-small
    | {{ $description }}
| @endif

| @elseif($field_type === 'textarea')

| @if(!empty($description))
p.text-muted.text-size-small
    | {{ $description }}
| @endif
| {{ Form::textarea('answers[' . $id . ']', old('answers.' . $id, $_briefings_saved), ['rows' => '5', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'Descreva']) }}

| @endif