| @if(isset($model->id))
| {{ Form::model($model, array('url' => route('cerebelo.orders.update_briefing', $order_id) . '#justified-badges-tab3', 'method' => 'PATCH', 'id' => 'formOrder')) }}
| {{ Form::hidden('_tab', 3) }}

include ./_buttons_right.pug

//I ----------------------------------------------- Level 1
| @foreach($briefings as $questions)

| @setvar('id', $questions->id)
| @setvar('parent_id', $questions->parent_id)
| @setvar('title', $questions->title)
| @setvar('field_type', $questions->field_type)
| @setvar('relationship', $questions->relationship)
| @setvar('description', $questions->description)
| @setvar('class_content', $questions->class_content)
| @setvar('answers', $questions->answers)

.form-group
    h3 
        | {{ $title }}
    
    .form-group
        | @if(!empty($description))
        p.text-muted.text-size-small
            | {{ $description }}
        | @endif

        //I ----------------------------------------------- Level 2
        | @if(isset($answers))
        div(class="{{ $class_content }}")
            | @foreach($answers as $answer)
            | @setvar('id', $answer->id)
            | @setvar('parent_id', $answer->parent_id)
            | @setvar('title', $answer->title)
            | @setvar('field_type', $answer->field_type)
            | @setvar('relationship', $answer->relationship)
            | @setvar('description', $answer->description)
            | @setvar('class_content', $answer->class_content)
            | @setvar('parents', $answer->answers)

            div(class="{{ $class_content }}")
                include ./_briefing_fields.pug
                
                //I ----------------------------------------------- Level 3
                | @if(isset($parents))
                | @foreach($parents as $parent)

                | @setvar('id', $parent->id)
                | @setvar('parent_id', $parent->parent_id)
                | @setvar('title', $parent->title)
                | @setvar('field_type', $parent->field_type)
                | @setvar('relationship', $parent->relationship)
                | @setvar('description', $parent->description)
                | @setvar('class_content', $parent->class_content)
                | @setvar('end_parents', $parent->answers)

                div(class="{{ $class_content }}")
                    include ./_briefing_fields.pug

                    //I ----------------------------------------------- Level 4
                    | @if(isset($end_parents))
                    | @foreach($end_parents as $end_parent)

                    | @setvar('id', $end_parent->id)
                    | @setvar('parent_id', $end_parent->parent_id)
                    | @setvar('title', $end_parent->title)
                    | @setvar('field_type', $end_parent->field_type)
                    | @setvar('relationship', $end_parent->relationship)
                    | @setvar('description', $end_parent->description)
                    | @setvar('class_content', $end_parent->class_content)
                    
                    div(class="{{ $class_content }}")
                        include ./_briefing_fields.pug

                    | @endforeach
                    | @endif
                    //F ----------------------------------------------- Level 4

                | @endforeach
                | @endif
                //F ----------------------------------------------- Level 3

            | @endforeach
        | @endif
        //F ----------------------------------------------- Level 2

| @endforeach

include ./_buttons_right.pug
                
| {{ Form::close() }}
| @else
.alert.alert-warning.no-border
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif