| @if(isset($model->id))
| {{ Form::model($model, array('url' => route('cerebelo.orders.update_budget', $order_id) . '#justified-badges-tab2', 'method' => 'PATCH', 'id' => 'formOrder', 'files' => true)) }}

| {{ Form::hidden('order_id', $order_id) }}
| {{ Form::hidden('_tab', 2) }}
| {{ Form::hidden('delivery_address_id') }}
| {{ Form::hidden('delivery_cep', $model->deliveryAddress->cep) }}
| {{ Form::hidden('billing_address_id') }}
| {{ Form::hidden('transport_type') }}

.row.text-center
    .col-md-12
        .content-group(title="Cotação do Dolar", data-popup="tooltip")
            h5.text-semibold.no-margin
                i.icon-cash3.position-left.text-slate
                | ${{ $dolar_value }}
            span.text-muted.text-size-small
                | {{ $dolar_date }}

.alert.alert-warning.no-border.text-light
    p.text-semibold - CPF/CNPJ do Cliente: {{ $model->client->cpf_cnpj }}
    p.text-semibold - Endereço de Entrega do Cliente: {{ formatAddress($model->deliveryAddress) }}
    p.text-semibold - Atenção, salvar todas as alterações antes de prosseguir.
    p.text-semibold - Card de Produto do tipo 
        mark Brinde/Parceria 
        | deve fica antes do card do tipo 
        mark Infantil

include ./_buttons_right.pug

.panel-body
    fieldset.content-group
        .row
            .col-md-4
                .form-group(class!="{{ $errors->has('group') ? ' has-error' : '' }}")
                    label
                        | Material
                    | {{ Form::text('group', old('group'), ['class' => "form-control", 'maxlength' => '150', 'placeholder' => 'Material' ]) }}
                    | @if ($errors->has('group'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('group') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('companies_id') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.companies_id') }}
                    | {{ Form::select('companies_id', $companies, old('companies_id'), ['class' => 'select-search']) }}
                    | @if ($errors->has('companies_id'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('companies_id') }}
                    | @endif
        .row
            .col-lg-6#budget-tables-selected(budget_tables_selected="{{ json_encode($budget_tables_selected) }}")
                .form-group(class!="{{ $errors->has('price_table_id') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.table') }}
                        i.text-danger *
                    | {{ Form::select2('price_table_id', $budget_tables_selected, old('price_table_id', ((isset($model) && !empty($model)) ? $model->price_table_id : '')), ['class' => 'select', 'old_price_table_id' => old('price_table_id', ((isset($model) && !empty($model)) ? $model->price_table_id : ''))]) }}
                    | @if ($errors->has('price_table_id'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('price_table_id') }}
                    | @endif
            .col-md-6
                .form-group(class!="{{ $errors->has('event_date') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.event_date') }}
                    | {{ Form::text('event_date', old('event_date'), ['class' => "form-control date datepicker", 'maxlength' => '10', 'placeholder' => trans('attributes.event_date') ]) }}
                    | @if ($errors->has('event_date'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('event_date') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('management_analysis') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.management_analysis') }}
                    | {{ Form::select('management_analysis', $admin_users, old('management_analysis'), ['class' => 'select-search']) }}
                    | @if ($errors->has('management_analysis'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('management_analysis') }}
                    | @endif
            .col-md-4(style="display: none;")
                .form-group(class!="{{ $errors->has('status_id') ? ' has-error' : '' }}")
                    label
                        | {{ trans('attributes.order_status') }}
                    | {{ Form::select('status_id', $orders_status, old('status_id'), ['class' => 'select-search']) }}
                    | @if ($errors->has('status_id'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('status_id') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('delivery_date') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.delivery_date') }}
                    | {{ Form::text('delivery_date', old('delivery_date'), ['class' => "form-control date datepicker", 'maxlength' => '10', 'placeholder' => trans('attributes.delivery_date') ]) }}
                    | @if ($errors->has('delivery_date'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('delivery_date') }}
                    | @endif
            .col-xs-12
                .form-group(class!="{{ $errors->has('urgent') ? ' has-error' : '' }}")
                    label {{ Form::checkbox('urgent', null, old('urgent', (!isset($model->urgent) || $model->urgent == 'N') ? false : true), ['class' => 'styled']) }} Urgente
                    | @if ($errors->has('urgent'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('urgent') }}
                    | @endif

    fieldset.content-group
        legend.text-bold Pedido

        //PRODUTO
        .row-sortable#listProducts(session-old-input!="{{ json_encode(session()->getOldInput()) }}")
            | @setvar('session_old_input', (empty(session()->getOldInput())) ? $products_selected : session()->getOldInput())
            | @setvar('_budget_tables_selected', $budget_tables_selected)
            include ./_product.pug

        .text-center
            button.btn.btn-black.btn-rounded.btn-lg(type='button', id='btnAddProduct')
                i.icon-plus3.position-left
                | Adicionar Mais Produtos


        legend.text-bold Frete

        .form-group
            .form-group
                .row
                    .col-lg-3
                        .form-group(class!="{{ $errors->has('transports_id') ? ' has-error' : '' }}")
                            label 
                                | Frete
                                i.text-danger *
                            | {{ Form::select2('transports_id', $transports, old('transports_id', ((isset($model) && !empty($model)) ? $model->transports_id : null)), ['class' => 'select', 'data-placeholder' => 'Forma de envio']) }}
                            | @if ($errors->has('transports_id'))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('transports_id') }}
                            | @endif
                            | @if ($errors->has('transports_id'))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('transports_id') }}
                            | @endif
                    .col-lg-2
                        .form-group(class!="{{ $errors->has('freight_cif_fob') ? ' has-error' : '' }}")
                            label CIF/FOB
                            | {{ Form::select('freight_cif_fob', ['CIF'=>'CIF', 'FOB' => 'FOB'], old('freight_cif_fob'), ['class' => 'select']) }}
                    .col-lg-3
                        label Peso
                        | {{ Form::text('volumes', old('volumes'), ['class' => 'form-control', 'placeholder' => 'Peso', 'readonly']) }}

            .row
                .col-lg-12
                    .form-group#delivery-boxes-load(load!="{{ (empty($model->delivery_boxes) ? 'A' : 'M') }}")
                        button.btn.btn-primary.btn-xs(type="button", onclick="correiosCostFreight();")
                            i.icon-truck.position-left
                            | Calcular Frete
                        button.btn.btn-default.btn-xs(type="button", onclick="layoutCalcBoxes('A');")
                            i.icon-box.position-left.text-indigo
                            span.text-indigo Calcular Caixas (Automático)
                        button.btn.btn-default.btn-xs(type="button", onclick="layoutCalcBoxes('M');")
                            i.icon-box.position-left.text-brown
                            span.text-brown Carregar Caixas (Manual)

            .row
                .col-lg-12
                    #boxes_infos
            .row
                .col-lg-12
                    #transport_infos
                        | @if(!empty($model->transport_type))
                        .col-xs-6.col-sm-3
                            .list-group.no-border
                                a.list-group-item
                                    | {{ Form::radio('transport_freight', $model->transport_type, old('transport_freight'), ['class' => 'styled', 'checked']) }}
                                    |  Tipo: {!! correiosFreightName($model->transport_type) !!}
                                a.list-group-item
                                    i.icon-cash
                                    |  Valor: R$ {!! $model->cost_freight !!}
                                    input(type='hidden', name!='transport_price_{!! $model->transport_type !!}', value!='{!! moneyUnFormat($model->cost_freight) !!}')
                                a.list-group-item
                                    i.icon-home
                                    |  Entrega em até: {!! $model->transport_deadline !!} dias úteis.
                                    input(type='hidden', name!='transport_deadline_{!! $model->transport_type !!}', value!='{!! $model->transport_deadline !!}')
                        | @endif
                | @if ($errors->has('transport_freight'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('transport_freight') }}
                | @endif

        .form-group(id="correios_type_freight")
            //.row
                //.col-lg-3
                    //| {{ Form::select('correios_type_freight', $correios_types_freight, null, ['class' => 'select', 'placeholder' => trans('attributes.correios_type_freight')]) }}

        .row
            .col-lg-2
                    label Entrega em até (dias)
                    | {{ Form::number('transport_deadline', old('transport_deadline'), ['class' => 'form-control', 'placeholder' => 'Dias']) }}

        legend.text-bold Total 

        .content-group
            .row
                .col-md-2
                    .content-group
                        h6.text-semibold.no-margin
                            i.icon-cash3.position-left
                            span#total-order
                                | {{ moneyFormat(old('total_order', 0)) }}
                            | {{ Form::hidden('total_order', 0.00) }}
                        span.text-size-small Subtotal do Pedido

            .row
                .col-md-2
                    label Tipo de Desconto
                    | {{ Form::select('discount_type', trans('attributes.discount_type'), old('discount_type'), ['class' => 'select']) }}

                .col-md-2
                    label Desconto
                    | {{ Form::text('discount_value', old('discount_value', ((isset($model) && !empty($model)) ? $model->discount_value : null)), ['class' => 'form-control decimal', 'placeholder' => 'Desconto']) }}

        .content-group
            .row
                .col-md-3
                    .form-group.form-group-material
                        .input-group
                            span.input-group-addon
                                i.icon-truck.position-left.text-slate
                            | {{ Form::text('cost_freight', old('cost_freight', ((isset($model) && !empty($model)) ? $model->cost_freight : null)), ['class' => 'form-control decimal', 'placeholder' => 'Valor do Frete']) }}
                        span.text-muted.text-size-small Valor do Frete
            .row
                .col-xs-3
                    label Valor do Crédito Anterior
                    .form-group.form-group-material
                        .input-group
                            span.input-group-addon
                                | {{ Form::checkbox('use_credit_value', null, ((isset($model->credit_value) && !empty($model->credit_value) && $model->credit_value > 0) ? true : false), ['class' => 'styled']) }}
                            | {{ Form::text('credit_value', old('credit_value', ((isset($model->credit_value) && !empty($model->credit_value) && moneyUnFormat($model->credit_value) > 0) ? $model->credit_value : $model->client->last_credit_value)), ['class' => 'form-control decimal', 'placeholder' => 'Valor do Crédito Anterior', 'readonly', 'disabled']) }}
                        span.text-muted.text-size-small Obs: Para usar o valor você deve marcar a opção

            .row
                .col-md-2
                    .content-group
                        h6.text-semibold.no-margin.text-warning
                            i.icon-cash3.position-left.text-warning
                            span.text-size-large#final-total-order
                                | {{ moneyFormat(old('final_total_order', 0)) }}
                            | {{ Form::hidden('final_total_order', 0.00) }}
                        span.text-size-small Total do Pedido

        legend.text-bold Forma de Pagamento 

        .content-group
            .row
                .col-lg-2.col-md-3.col-sm-4.col-xs-5
                    .form-group(class!="{{ $errors->has('to_charge') ? ' has-error' : '' }}")
                        .checkbox.checkbox-switchery.switchery-lg.switchery-double
                            label
                                | Cobrar
                                | {{ Form::checkbox('to_charge', old('to_charge'), $model->to_charge, ['class' => 'switchery', 'title' => 'to charge']) }}
                        | @if ($errors->has('to_charge'))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('to_charge') }}
                        | @endif
            .row
                .col-lg-2
                    .form-group(class!="{{ $errors->has('payments_form_id') ? ' has-error' : '' }}")
                        label 
                            | Forma de pagamento
                            i.text-danger *
                        | {{ Form::select2('payments_form_id', $payments_forms, old('payments_form_id', ((isset($model) && !empty($model)) ? $model->payments_form_id : null)), ['class' => 'form-control', 'old' => old('payments_form_id')]) }}
                        | @if ($errors->has('payments_form_id'))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('payments_form_id') }}
                        | @endif
                .col-lg-1
                    .form-group(class!="{{ $errors->has('portion') ? ' has-error' : '' }}")
                        label Parcelas
                        | {{ Form::hidden('', old('portion', ((isset($model) && !empty($model)) ? $model->paymentsInstallments->count() : null)), ['id' => 'portion']) }}
                        | {{ Form::select('portion', [], old('portion'), ['class' => 'form-control']) }}
                        | @if ($errors->has('portion'))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('portion') }}
                        | @endif

            .row#list-value-plots-payments-form
                | @if(count(old('plots')) > 0)
                | @for($i = 1; $i <= count(old('plots')); $i++)
                | @setvar('bg_success', installmentsBGStatus(old('plots_status.' . $i)))
                | @setvar('display', in_array(old('plots_payment_form.' . $i), ['BLT', 'CHQ']) ? 'display: block;' : 'display: none;')
                .form-group.text-left.port-line
                    .row
                        .col-lg-1.col-md-1.col-sm-1
                            | @if(old('plots_status.' . $i) != 'PG')
                            <a title="Remover" onclick="$(this).closest('.port-line').remove();"><i class="icon-cross2 text-danger"></i></a>
                            | @endif
                            | {{ $i }}ª Parcela
                        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
                            | {{ Form::text('plots[' . $i . ']', old('plots.' . $i), ['onkeyup' => 'recalculatePortions($(this));', 'class' => $bg_success . 'form-control decimal', 'placeholder' => 'Parcela ' . $i, 'index' => $i]) }}
                            | {{ Form::hidden('plots_id[' . $i . ']', old('plots_id.' . $i)) }}
                            | {{ Form::hidden('bg_success[' . $i . ']', old('bg_success.' . $i)) }}
                        .col-lg-2.col-md-2.col-sm-2(style='width: 120px; {{ $display }}')
                            | {{ Form::text('plots_expiration_date[' . $i . ']', old('plots_expiration_date.' . $i), ['class' => $bg_success . 'form-control', 'maxlength' => '10', 'placeholder' => 'Prazo']) }}
                        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
                            | {{ Form::text('plots_date[' . $i . ']', old('plots_date.' . $i), ['class' => $bg_success . 'form-control date datepicker', 'maxlength' => '10', 'placeholder' => 'Data Pgto.']) }}
                        .col-lg-2.col-md-2.col-sm-2(style='width: 150px;')
                            | {{ Form::select('plots_payment_form[' . $i . ']', trans('attributes.payments_forms'), old('plots_payment_form.' . $i), ['class' => 'plots_payment_form ' . $bg_success . 'form-control']) }}
                        .col-lg-2.col-md-2.col-sm-2
                            | {{ Form::select('plots_status[' . $i . ']', trans('attributes.payment_status'), old('plots_status.' . $i), ['class' => $bg_success . 'form-control', 'id' => old('plots_id.' . $i), 'href' => route('cerebelo.orders.edit_checking_copy', old('plots_id.' . $i))]) }}
                        .col-lg-1.col-md-1.col-sm-1.plots_file
                            | @if(old('plots_id.' . $i) && old('plots_status.' . $i) == 'PG')
                            button.btn(title="Comprovante", data-original-title="Comprovante", data-popup="tooltip", class="{{ $bg_success }}", type='button', href!="{{ route('cerebelo.orders.edit_checking_copy', old('plots_id.' . $i)) }}", onclick="editCheckingCopy($(this));")
                                i.icon-image3
                            | @endif
                | @endfor

                | @else
                | @foreach($model->paymentsInstallments as $portion)
                | @setvar('bg_success', installmentsBGStatus($portion->status))
                | @setvar('display', in_array($portion->payment_form, ['BLT', 'CHQ']) ? 'display: block' : 'display: none')
                .form-group.text-left.port-line
                    .row
                        .col-lg-1.col-md-1.col-sm-1
                            | @if($portion->status != 'PG')
                            <a title="Remover" onclick="$(this).closest('.port-line').remove();"><i class="icon-cross2 text-danger"></i></a>
                            | @endif
                            | {{ $portion->portion }}ª Parcela
                        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
                            | {{ Form::text('plots[' . $portion->portion . ']', old('plots.' . $portion->portion, $portion->value), ['onkeyup' => 'recalculatePortions($(this));', 'class' => $bg_success . 'form-control decimal', 'placeholder' => 'Parcela ' . $portion->portion, 'index' => $portion->portion]) }}
                            | {{ Form::hidden('plots_id[' . $portion->portion . ']', old('plots_id.' . $portion->portion, $portion->id)) }}
                            | {{ Form::hidden('bg_success[' . $portion->portion . ']', $bg_success) }}
                        .col-lg-2.col-md-2.col-sm-2(style='width: 120px; {{ $display }}')
                            | {{ Form::text('plots_expiration_date[' . $portion->portion . ']', old('plots_expiration_date.' . $portion->portion, $portion->expiration_date), ['class' => $bg_success . 'form-control', 'maxlength' => '10', 'placeholder' => 'Prazo']) }}
                        .col-lg-2.col-md-2.col-sm-2(style='width: 120px;')
                            | {{ Form::text('plots_date[' . $portion->portion . ']', old('plots_date.' . $portion->portion, $portion->date), ['class' => $bg_success . 'form-control date datepicker', 'maxlength' => '10', 'placeholder' => 'Data Pgto.']) }}
                        .col-lg-2.col-md-2.col-sm-2(style='width: 150px;')
                            | {{ Form::select('plots_payment_form[' . $portion->portion . ']', trans('attributes.payments_forms'), old('plots_payment_form.' . $portion->portion, $portion->payment_form), ['class' => 'plots_payment_form ' . $bg_success . 'form-control']) }}
                        .col-lg-2.col-md-2.col-sm-2
                            | {{ Form::select('plots_status[' . $portion->portion . ']', trans('attributes.payment_status'), old('plots_status.' . $portion->portion, $portion->status), ['class' => $bg_success . 'form-control', 'id' => $portion->id, 'href' => route('cerebelo.orders.edit_checking_copy', $portion->id)]) }}
                        .col-lg-1.col-md-1.col-sm-1.plots_file
                            | @if($portion->status == 'PG')
                            button.btn(title="Comprovante", data-original-title="Comprovante", data-popup="tooltip", data-placement="top", class="{{ $bg_success }}", type='button', href!="{{ route('cerebelo.orders.edit_checking_copy', $portion->id) }}", onclick="editCheckingCopy($(this));")
                                i.icon-image3
                            | @endif
                | @endforeach
                | @endif

    fieldset.content-group
        legend.text-bold Observações de Nota Fiscal

        .form-group
            label Observações
            | {{ Form::textarea('payment_notes', old('payment_notes'), ['rows' => '5', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'Observações']) }}

include ./_buttons_right.pug

| {{ Form::close() }}
| @else
.alert.alert-warning.no-border
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif