.row
    .col-md-6.text-right
    .col-md-5.text-right
        | @if(isset($model->id) && !empty($model))
        .col-md-7
            | {!! actionsOptionsSelect($model, $waitActions, $select2) !!}
        .col-md-5
            | {!! waitAction($model) !!}
        | @endif
    .col-md-1.text-right
        | {{ Form::button('<i class="icon-checkmark position-left"></i> Salvar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}