| @setvar('model_addresses', (!isset($model->client->addresses) ? (isset($model_addresses) ? $model_addresses : [] ) : $model->client->addresses))
| @setvar('model_contacts', (!isset($model->client->contacts) ? (isset($model_contacts) ? $model_contacts : [] ) : $model->client->contacts->load('address')))
| @setvar('tables_selected', (!isset($tables_selected) ? [] : $tables_selected))

| @if(isset($model->id))
| @setvar('model_client', (!isset($model->client) ? [] : $model->client))
| {{ Form::model($model_client, array('url' => route('cerebelo.orders.update_client_data', $order_id) . '#justified-badges-tab1', 'method' => 'PATCH', 'id' => 'formOrder')) }}
| {{ Form::hidden('order_id', $order_id) }}
| @else
| {{ Form::model($model_client, array('url' => route('cerebelo.orders.store_client_data') . '#justified-badges-tab1', 'method' => 'POST', 'id' => 'formOrder')) }}
| @endif

| {{ Form::hidden('id') }}
| {{ Form::hidden('_tab', 1) }}

.alert.alert-warning.no-border
    span.text-semibold Atenção, salvar todas as alterações antes de prosseguir.

include ./_buttons_right.pug

.panel-body

    | {{ Form::hidden('clients_id', old('clients_id', (!isset($model_client->id)) ? null : $model_client->id), ['select_address' => old('address_id'), 'select_tables' => json_encode($tables_selected)]) }}
    fieldset
        legend.text-bold Endereços do Cliente
        | {{ Form::hidden('delivery_address_id') }}
        .row#listAddresses
            | @foreach($model_addresses as $address)
            .col-xs-4(class!="{{ ($errors->has('address_id') || $errors->has('billing_address_id')) ? ' has-error' : '' }}")
                .panel(class!="{{ ((isset($featured_address) && ($featured_address[0] == $address->id || $featured_address[1] == $address->id)) ? 'alert alert-primary' : '') }}")
                    .panel-body
                        .col-xs-6
                            .checkbox
                                label
                                    | {{ Form::checkbox('address_id', $address->id, (($address->id == old('address_id', (isset($model) ? $model->delivery_address_id : null))) ? true : false), ['cep' => $address->cep, 'class' => 'styled']) }}
                                    | Usar como Entrega ({{ $address->local }})
                        .col-xs-6
                            .checkbox
                                label
                                    | {{ Form::checkbox('billing_address_id', $address->id, (($address->id == old('billing_address_id', (isset($model) ? $model->billing_address_id : null))) ? true : false), ['cep' => $address->cep, 'class' => 'styled']) }}
                                    | Usar como Faturamento ({{ $address->local }})
                        p
                            | CEP: {{ $address->cep }}
                        p
                            | {{ $address->street . ', ' . $address->number . ', ' . $address->complement }}
                        p
                            | {{ $address->neighborhood . ' - ' . $address->city . '/' . $address->state }}
                | @if ($errors->has('address_id') || $errors->has('billing_address_id'))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('address_id') }}
                    |  {{ $errors->first('billing_address_id') }}
                | @endif
            | @endforeach

    fieldset.content-group
        legend.text-bold Contatos/Faturamento
        .row#listContacts
            | @foreach($model_contacts as $contact)
            include ./client_data/_panel_contact.pug
            | @endforeach

    fieldset.content-group
        legend.text-bold Informações para a Nota Fiscal
        .row
            .col-md-3
                .form-group(class!="{{ $errors->has('international') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.international') }}
                        i.text-danger *
                    | {{ Form::select('international', trans('attributes.array_no_yes'), old('international'), ['class' => 'select', 'required']) }}
                    | @if ($errors->has('international'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('international') }}
                    | @endif
        .row
            .col-md-4
                .form-group(class!="{{ $errors->has('person_type') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.person_type') }}
                        i.text-danger *
                    | {{ Form::select('person_type', trans('attributes.person_types'), old('person_type'), ['class' => 'select']) }}
                    | @if ($errors->has('person_type'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('person_type') }}
                    | @endif
            .col-md-6
                .form-group(class!="{{ $errors->has('cpf_cnpj') ? ' has-error' : '' }}")
                    label(id="ctx_cpf_cnpj")
                        | {{ trans('attributes.cpf_cnpj') }}
                        i.text-danger *
                    | {{ Form::text('cpf_cnpj', old('cpf_cnpj'), ['class' => "form-control", 'maxlength' => '18', 'placeholder' => trans('attributes.cpf_cnpj'), 'id' => 'cpfcnpj-select-remote-data']) }}
                    span.label.text-left
                        a(target="_blank", href="https://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicitacao2.asp") Receita Federal
                    | @if ($errors->has('cpf_cnpj'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('cpf_cnpj') }}
                    | @endif
            .col-md-6(class="person_type_pj")
                .form-group(class!="{{ $errors->has('state_registration') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.state_registration') }}
                        i.text-danger *
                    | {{ Form::text('state_registration', old('state_registration'), ['class' => "form-control", 'placeholder' => trans('attributes.state_registration') ]) }}
                    | @if ($errors->has('state_registration'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('state_registration') }}
                    | @endif
            .col-md-6(class="person_type_pj")
                .form-group(class!="{{ $errors->has('company_name') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.company_name') }}
                        i.text-danger *
                    | {{ Form::text('company_name', old('company_name'), ['class' => "form-control", 'placeholder' => trans('attributes.company_name') ]) }}
                    | @if ($errors->has('company_name'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('company_name') }}
                    | @endif
            .col-md-6(class="person_type_pj")
                .form-group(class!="{{ $errors->has('fantasy_name') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.fantasy_name') }}
                    | {{ Form::text('fantasy_name', old('fantasy_name'), ['class' => "form-control", 'placeholder' => trans('attributes.fantasy_name') ]) }}
                    | @if ($errors->has('fantasy_name'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('fantasy_name') }}
                    | @endif
            .col-md-6(class="person_type_pf")
                .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.name') }}
                        i.text-danger *
                    | {{ Form::text('name', old('name', (isset($model_client->fantasy_name) ? $model_client->fantasy_name : null)), ['class' => "form-control", 'placeholder' => trans('attributes.name') ]) }}
                    | @if ($errors->has('name'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('name') }}
                    | @endif
            .col-md-3(class="person_type_pf")
                .form-group(class!="{{ $errors->has('rg') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.rg') }}
                        i.text-danger *
                    | {{ Form::text('rg', old('rg'), ['class' => "form-control", 'placeholder' => trans('attributes.rg'), 'maxlength' => '18' ]) }}
                    | @if ($errors->has('rg'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('rg') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('phone') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.phone') }}
                        i.text-danger *
                    | {{ Form::text('phone', old('phone'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone'), 'maxlength' => '15']) }}
                    | @if ($errors->has('phone'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('phone') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('phone2') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.phone2') }}
                    | {{ Form::text('phone2', old('phone2'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone2'), 'maxlength' => '15']) }}
                    | @if ($errors->has('phone2'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('phone2') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('email') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.email') }}
                        i.text-danger *
                    | {{ Form::email('email', old('email'), ['class' => "form-control", 'placeholder' => trans('attributes.email') ]) }}
                    | @if ($errors->has('email'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('email') }}
                    | @endif

        legend.text-bold Tabelas
        .form-group(class!="{{ $errors->has('tables_id') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.tables_id') }}
            | {{ Form::select('tables_id[]', $tables, $tables_selected, ['class' => 'select', 'multiple']) }}
            | @if ($errors->has('tables_id'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('tables_id') }}
            | @endif

        legend.text-bold Responsáveis
        .row
            .col-md-4
                .form-group(class!="{{ $errors->has('attendant_id') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.attendant_id') }}
                        i.text-danger *
                    | {{ Form::select('attendant_id', $attendant_users, old('attendant_id'), ['class' => 'select-search', 'placeholder' => trans('attributes.attendant_id')]) }}
                    | @if ($errors->has('attendant_id'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('attendant_id') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('representative_id') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.representative_id') }}
                        i.text-danger *
                    | {{ Form::select('representative_id', $representatives, old('representative_id'), ['class' => 'select-search', 'placeholder' => trans('attributes.representative_id')]) }}
                    | @if ($errors->has('representative_id'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('representative_id') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('designer_id') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.designer_id') }}
                        i.text-danger *
                    | {{ Form::select('designer_id', $designer_users, old('designer_id'), ['class' => 'select-search', 'placeholder' => trans('attributes.designer_id')]) }}
                    | @if ($errors->has('designer_id'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('designer_id') }}
                    | @endif


        legend.text-bold Endereço do Cliente
        .row
            .col-md-4
                .form-group(class!="{{ $errors->has('type.0') ? ' has-error' : '' }}")
                    label
                        | {{ trans('attributes.type') }}
                        i.text-danger *
                    | {{ Form::select('type[0]', trans('attributes.address_types'), old('type.0'), ['class' => 'select']) }}
                    | @if ($errors->has('type.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('type.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('cep.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.cep') }}
                        i.text-danger *
                    | {{ Form::text('cep[0]', old('cep.0'), ['class' => "form-control cep", 'placeholder' => trans('attributes.cep'), 'maxlength' => '9']) }}
                    | {{ Form::hidden('table[0]', 'clients') }}
                    | @if ($errors->has('cep.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('cep.0') }}
                    | @endif
            .col-md-6
                .form-group(class!="{{ $errors->has('street.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.street') }}
                        i.text-danger *
                    | {{ Form::text('street[0]', old('street.0'), ['class' => "form-control", 'placeholder' => trans('attributes.street'), 'maxlength' => '250']) }}
                    | @if ($errors->has('street.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('street.0') }}
                    | @endif
            .col-md-2
                .form-group(class!="{{ $errors->has('number.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.number') }}
                        i.text-danger *
                    | {{ Form::text('number[0]', old('number.0'), ['class' => "form-control", 'placeholder' => trans('attributes.number'), 'maxlength' => '50']) }}
                    | @if ($errors->has('number.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('number.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('complement.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.complement') }}
                    | {{ Form::text('complement[0]', old('complement.0'), ['class' => "form-control", 'placeholder' => trans('attributes.complement'), 'maxlength' => '50']) }}
                    | @if ($errors->has('complement.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('complement.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('neighborhood.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.neighborhood') }}
                        i.text-danger *
                    | {{ Form::text('neighborhood[0]', old('neighborhood.0'), ['class' => "form-control", 'placeholder' => trans('attributes.neighborhood'), 'maxlength' => '150']) }}
                    | @if ($errors->has('neighborhood.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('neighborhood.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('city.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.city') }}
                        i.text-danger *
                    | {{ Form::text('city[0]', old('city.0'), ['class' => "form-control", 'placeholder' => trans('attributes.city'), 'maxlength' => '150']) }}
                    | @if ($errors->has('city.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('city.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('state.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.state') }}
                        i.text-danger *
                    | {{ Form::text('state[0]', old('state.0'), ['class' => "form-control", 'placeholder' => trans('attributes.state'), 'maxlength' => '100']) }}
                    | @if ($errors->has('state.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('state.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('country.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.country') }}
                    | {{ Form::text('country[0]', old('country.0'), ['class' => "form-control", 'placeholder' => trans('attributes.country'), 'maxlength' => '100']) }}
                    span.help-block (ex: Brasil, BR, Espanha, ES, Portugal, PT)
                    | @if ($errors->has('country.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('country.0') }}
                    | @endif
            .col-md-4
                .form-group(class!="{{ $errors->has('local.0') ? ' has-error' : '' }}")
                    label 
                        | {{ trans('attributes.local') }}
                    | {{ Form::text('local[0]', old('local.0'), ['class' => "form-control", 'placeholder' => trans('attributes.local'), 'maxlength' => '150']) }}
                    span.help-block (ex: Minha casa, Trabalho, Casa da avó)
                    | @if ($errors->has('local.0'))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('local.0') }}
                    | @endif

    fieldset.content-group
        legend.text-bold Observações do Cliente

        .form-group
            label Observações
            | {{ Form::textarea('comment', null, ['rows' => '5', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'Observações']) }}
            span.label.label-block.label-warning.text-left As observações cadastradas, serão visualizadas apenas no cadastro do cliente

    include ./_buttons_right.pug

    | {{ Form::close() }}