.row
    | {{ Form::hidden('', auth()->user()->sector->name, ['id' => 'file_sector']) }}
    .col-md-6
        h4 
            | Observações do pedido
        .form-group
            | {{ Form::textarea('', null, ['rows' => '5', 'cols' => '5', 'class' => 'form-control', 'id' => 'text_comment', 'placeholder' => 'Observações']) }}
        .form-group
            .text-right
                button.btn.btn-primary(type='button', id='btn_add_comment')
                  i.icon-import.position-left
                  |  Adicionar Observação

        .alert.alert-info.no-border
            i.icon-mouse-left
            | Duplo clique no comentário para excluir
        .well#order_comments
            dl.dl-horizontal
                | @if((isset($model) && !empty($model)))
                | @foreach($model->auditing as $value)
                dt
                    | {{ $value->pivot->created_at }}
                dd
                    a.rmComment(id!="{{ $value->pivot->id }}")
                        | {{ $value->pivot->message }}
                | @endforeach
                | @endif

    .col-md-6
        h4 
            | Arquivos

        .form-group
            label Nome do Arquivo
            | {{ Form::text('', null, ['class' => 'form-control', 'id' => 'file_name', 'placeholder' => 'Nome do Arquivo']) }}
        .form-group
            label Texto para cliente
            | {{ Form::textarea('', null, ['rows' => '5', 'cols' => '5', 'class' => 'form-control', 'id' => 'customer_text', 'placeholder' => 'Texto para cliente']) }}
        .form-group
            | {{ Form::file('', ['class' => 'file-styled', 'id' => 'file']) }}
        .form-group
            .text-right
                button.btn.btn-primary(type='button', id='btn_add_file')
                  i.icon-upload4.position-left
                  |  Adicionar Arquivo

        //.table-responsive
        table.table.text-nowrap#files_table
            thead
                tr
                    th Identificação

                    th.col-md-2 Setor

                    th.col-md-2 Data

                    th.text-center(style='width: 20px;')
                        i.icon-arrow-down12

            tbody
                | @if((isset($model) && !empty($model)))
                | @foreach($model->manyFiles as $value)
                tr
                    td
                        .media-left
                            div
                                text-default.text-semibold(href='#') {{ $value->name }}
                    td
                        span
                            | {{ $value->user->sector->name }}
                    td
                        span
                            | {{ $value->created_at }}
                    td.text-center
                        ul.icons-list
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                    i.icon-menu7

                                ul.dropdown-menu.dropdown-menu-right
                                    li
                                        a(href!="{{ route('storage.files', ['filename' => $value->file, 'download' => true]) }}")
                                            i.icon-pencil5
                                            |  Baixar

                                    li
                                        a(rel="nofollow", data-method="delete", data-confirm="{{ trans('messages.remove') }}", data-msg="{{ trans('messages.nonrecoverable') }}", href!="{{ route('cerebelo.orders.remove_file', ['id' => $value->id, '_token' => csrf_token()]) }}")
                                            i.icon-printer2
                                            |  Excluir
                | @endforeach
                | @endif
                //tr
                    td

                        .media-left
                            div
                                text-default.text-semibold(href='#') Arte
                    td
                        span
                            |  Design
                    td
                        span
                            |  01/01/2017

                    td.text-center
                        ul.icons-list
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                    i.icon-menu7

                                ul.dropdown-menu.dropdown-menu-right
                                    li
                                        a(href="/novo-pedido")
                                            i.icon-pencil5
                                            |  Baixar

                                    li
                                        a(href='#')
                                            i.icon-printer2
                                            |  Excluir