.row
    .col-md-12
        .tabbable.content-group
            ul.nav.nav-tabs.nav-tabs-highlight.nav-justified.no-print
                li.active
                    a(href='#justified-badges-tab1', data-toggle='tab')
                        //span(title="Campos em branco").badge.badge-danger.position-left 0
                        |  Dados do Cliente
                li
                    a(href='#justified-badges-tab2', data-toggle='tab')
                        //span(title="Campos em branco").badge.badge-danger.position-left 0
                        | Orçamento
                li
                    a(href='#justified-badges-tab3', data-toggle='tab')
                        span(title="Campos em branco")
                        //.badge.badge-danger.position-left 0
                        | Briefing
                //li
                    a(href='#justified-badges-tab4', data-toggle='tab')
                        | Arquivos e Observações
                li
                    a(href='#justified-badges-tab5', data-toggle='tab')
                        | Orçamento para Cliente
                li
                    a(href='#justified-badges-tab6', data-toggle='tab')
                        | Ordem de Produção
        .tab-content
            #justified-badges-tab1.tab-pane.active
                include ./_client_data.pug
            #justified-badges-tab2.tab-pane
                include ./_budget.pug
            #justified-badges-tab3.tab-pane
                include ./_briefing.pug
            //#justified-badges-tab4.tab-pane
                include ./_files_notes.pug
            #justified-badges-tab5.tab-pane
                include ./_print_for_client.pug
            #justified-badges-tab6.tab-pane
                //include ./_tabs_production_order.pug
                include ./tab_production_order/for_ert/print.pug