| @if(isset($model->id))
.panel.panel-white#section-to-print(storage_path="{{ storage_path('app') }}")
    .panel-heading.no-print
        h6.panel-title Orçamento
        .heading-elements
    .panel-body.no-padding-bottom.no-padding-top
        include ./order_client/_header_print.pug

    .table-responsive
        table.table.table-lg.body-pdf
            tbody
                tr
                    td Descrição
                    td.text-right.col-lg-2 Unidade
                    td.text-center.col-sm-1 Quantidade
                    td.text-right.col-lg-2 Total
                | @setvar('total', 0)
                | @php($qty_piece = 0)
                | @if(!empty($products_selected)) <!-- 0 inicio if !empty($products_selected) -->
                | @foreach($products_selected as $selected) <!-- 0 inicio foreach $products_selected -->
                | @foreach($selected['products_index'] as $index) <!-- 1 inicio foreach $selected['products_index'] -->

                | @php($defined_size = false)
                | @if(!isset($selected['op_name'][$index]))
                // TAMANHO NORMAL

                | @if(isset($selected['sizes'][$index])) <!-- 1 inicio if isset($selected['sizes'][$index]) -->
                | @foreach($selected['sizes'][$index] as $key => $value) <!-- 2 inicio foreach $selected['sizes'][$index] -->
                | @if($value > 0) <!-- 2 inicio if $value > 0 -->
                | @php($defined_size = true)
                | @setvar('sizes_name', $selected['sizes_name'][$index][$key])
                | @setvar('size_code', (!empty($selected['sizes_code'][$index][$key]) ? " - Cód. " . $selected['sizes_code'][$index][$key] : ""))

                | @setvar('name', $selected['products_name'][$index])
                | @setvar('unit_price', $selected['unit_price'][$index])
                | @setvar('quantity', $value)
                | @php($qty_piece += $quantity)
                | @setvar('subtotal', $unit_price * $quantity)

                | @if(isset($selected['variations_total'][$index])) <!-- 3 inicio if isset($selected['variations_total'][$index]) -->
                | @setvar('variations_total', array_sum($selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($selected['variations_name'][$index] + [$selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $selected['extra_variation'][$index])
                | @endif <!-- 3 fim if isset($selected['variations_total'][$index]) -->
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name . " TAM. " . $sizes_name . $size_code }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($selected['present_partnership'][$index])) <!-- 4 inicio if !empty($selected['present_partnership'][$index]) -->
                        | - 
                        span.label.bg-blue-400 {{ $selected['present_partnership'][$index] }}
                        | @endif <!-- 4 fim if !empty($selected['present_partnership'][$index]) -->
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)

                | @endif <!-- 2 fim if $value > 0 -->
                | @endforeach <!-- 2 fim foreach $selected['sizes'][$index] -->
                | @endif <!-- 1 fim if isset($selected['sizes'][$index]) -->

                | @else
                // TAMANHO OP COM NOME
                | @if(isset($selected['op_name'][$index]))
                | @foreach($selected['op_name'][$index] as $key => $value)
                | @if(!empty($value))
                | @php($defined_size = true)
                | @setvar('sizes_name', $key)
                | @setvar('sizes_id', array_flip($selected['sizes_name'][$index])[$key])
                | @setvar('size_code', (!empty($selected['sizes_code'][$index][$sizes_id]) ? " - Cód. " . $selected['sizes_code'][$index][$sizes_id] : ""))

                | @setvar('name', $selected['products_name'][$index])
                | @setvar('unit_price', $selected['unit_price'][$index])
                | @php($op_quantity = array_sum($selected['op_quantity'][$index][$sizes_name]))
                | @setvar('quantity', $op_quantity)
                | @php($qty_piece += $quantity)
                | @setvar('subtotal', $unit_price * $quantity)

                | @if(isset($selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($selected['variations_name'][$index] + [$selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name . " TAM. " . $sizes_name . $size_code }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)

                | @endif
                | @endforeach
                | @endif

                | @endif

                | @if($defined_size == false)
                | @setvar('name', $selected['products_name'][$index])
                | @setvar('unit_price', $selected['unit_price'][$index])
                | @setvar('quantity', $selected['quantity'][$index])
                | @php($qty_piece += $quantity)
                | @setvar('subtotal', moneyUnFormat($selected['subtotal'][$index]))

                | @if(isset($selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($selected['variations_name'][$index] + [$selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)
                | @endif

                | @endforeach <!-- 1 fim foreach $selected['products_index'] -->
                | @endforeach <!-- 0 fim foreach $products_selected -->
                | @endif <!-- 0 fim if !empty($products_selected) -->
    .panel-body.footer-budget
        include ./order_client/_total_order.pug

        | @if(isset($nums_order_unified))
        h6.text-center.text-danger ESTE ORÇAMENTO INCLUI AS OPS: {{ $nums_order_unified }}
        | @endif

        h6 Outras Informações
        | @if($model->to_charge == true && $model->paymentsInstallments->count() > 1)
        //p.text-muted
            | Forma de Pagamento: 50% no ato do pedido e 50% na conclusão, não enviamos o pedido sem estar todo quitado.
        | @endif
        p.text-muted Para o pedido entrar em produção precisamos de: desenho aprovado, grade de tamanho e comprovante de pagamento.
        p.text-muted ATENÇÃO 1: Por determinação da receita federal o prazo máximo para cancelamento de notas fiscais é de 24 horas após a emissão.
        p.text-muted ATENÇÃO 2: Todas as logomarcas e grafismos presentes no layout são de responsabilidade daquele que solicita sua inclusão.
        p.text-muted ATENÇÃO 3: Este orçamento não preve incidência de impostos estaduais. Caso incida a responsabilidade do pagamento é do comprador.

        | {{ Form::model($model, array('url' => route('cerebelo.orders.update', $order_id) . '#justified-badges-tab2', 'method' => 'PATCH', 'id' => 'formOrderForClient')) }}
        .row
            .col-md-12
                .table-responsive.oveflow-print-order
                    table.table.padding-total-td
                        tr
                            td(width="110") PRE ENVIO
                            td Nome:
                            td {{ Form::text('pre_shipment_name', old('pre_shipment_name'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Data:
                            td {{ Form::text('pre_shipment_date', old('pre_shipment_date'), ['class' => 'form-control input-print date', 'pattern' => '[0-9]{2}/[0-9]{2}/[0-9]{4}', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Hora:
                            td {{ Form::time('pre_shipment_hour', old('pre_shipment_hour'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Forma:
                            td {{ Form::text('pre_shipment_form', old('pre_shipment_form'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar', 'placeholder' => 'Ex: Telefone | E-mail | WhatsApp']) }}
        | {{ Form::close() }}

        p
        p.text-muted.text-center ORÇAMENTO VÁLIDO PARA 30 DIAS À PARTIR DA DATA DE EMISSÃO.

.row.no-print
    .col-md-12
        .text-right
            .btn-group.dropup
                button.btn.bg-slate-300.btn-labeled.dropdown-toggle(type='button', data-toggle='dropdown')
                    b
                        i.icon-menu7
                    | Opções
                    span.caret
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(onclick="orderDownload();return false;")
                            i.icon-file-pdf
                            | Baixar
                    li
                        a(onclick="orderPrintArea();")
                            i.icon-printer2
                            | Imprimir
                    li
                        a(onclick="orderSendMail();")
                            i.icon-envelope
                            | Enviar E-mail
                    li
                        a(href!="{{ route('cerebelo.customers.files_index', $model->client->id) }}", class="btnClientFiles")
                            i.icon-archive
                            | Arquivos do Cliente

| @else
.alert.alert-warning.no-border.no-print
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif