.row.no-print
    .col-md-12
        ul.fab-menu.fab-menu-fixed.fab-menu-bottom-right(data-fab-toggle='hover')
            li
                a.fab-menu-btn.btn.bg-slate-300.btn-float.btn-rounded.btn-icon
                    i.fab-icon-open.icon-paragraph-justify3
                    i.fab-icon-close.icon-cross2
                ul.fab-menu-inner
                    li
                        div(data-fab-label='Imprimir Ordem')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderPrintProdutionOrder();")
                                i.icon-printer2
                    li
                        div(data-fab-label='Imprimir e Enviar para Setor')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderPrintAndSendToSector();")
                                i.icon-printer4
                    li
                        div(data-fab-label='Anexar Arquivos e Imprimir')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="attachClientFilesOP(this);", url!="{{ route('cerebelo.orders.datatable_client_files', $model->client->id) }}?orders_id={{ $model->id }}", routeAttachFiles!="{{ route('cerebelo.orders.attach_files', $model->id) }}")
                                i.icon-attachment
                    li
                        div(data-fab-label='Enviar Tamanhos (Cliente)')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="sendOrderToClient();")
                                i.icon-envelope
                    li
                        div
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float.dropdown-toggle(data-toggle="dropdown")
                                i.icon-menu
                            ul.dropdown-menu
                                li
                                    a(href="{{ route('cerebelo.orders.create') }}")
                                        i.icon-file-plus2
                                        | Novo Pedido
                                li
                                    a(href="{{ route('cerebelo.orders.index') }}")
                                        i.icon-exit2
                                        | Fechar