| @if(isset($model->id))
#section-to-print.content-group-sm.section-to-print-production
    .panel.panel-white
        .panel-heading.no-print
            h6.panel-title Ordem de Produção com Nome
            .heading-elements
        .panel-body.no-padding-bottom
            .row
                .col-sm-12
                    table.table.table-lg
                        tr
                            td.col-lg-12
                                img.img-order(src="{{ asset('assets/images/header-print-orders.png') }}?{{ filemtime(public_path('assets/images/header-print-orders.png')) }}")
            .row
                .data-pdf
                    .table-responsive
                        table.table-data.table.table-lg
                            tr
                                td.border-right.border-default.col-lg-3
                                    table.spacing-table
                                        tr
                                            td Representante:
                                            td {{ (!isset($model->client->representative->fantasy_name)) ? "" : $model->client->representative->fantasy_name }}
                                        tr
                                            td Atendente:
                                            td {{ (!isset($model->client->attendant->name)) ? "" : $model->client->attendant->name }}
                                        tr
                                            td Designer:
                                            td {{ (!isset($model->client->designer->name)) ? "" : $model->client->designer->name }}
                                        tr
                                            td Cliente:
                                            td {{ !empty($model->client->fantasy_name) ? $model->client->fantasy_name : $model->client->company_name }}
                                        tr
                                            td Material:
                                            td {{ $model->group }}
                                        tr
                                            td Pré-Impressor:
                                            td {{ $prepress_users[$model->prepress] }}
                                        tr
                                            td Revisão Grade

                                td.col-lg-6
                                    table.spacing-table
                                        tr
                                            td Orçamento: 
                                            td {{ "#" . $model->order_number }}
                                        tr
                                            td Emissão:
                                            td {{ date("d/m/Y") }}
                                        tr
                                            td Entrega:
                                            td {{ $model->delivery_date }}
        .table-responsive.oveflow-print
            table.table.table-bordered
                tbody
                    tr
                        th.text-center(colspan="3") PRODUTO
                    tr
                        th.text-center(colspan="3") {{ $model->ordersProducts[0]->name }}
                    tr
                        th.text-center Nome
                        th.text-center Quantidade
                        th.text-center Tamanho
                    | @forelse($op_names as $value)
                    tr
                        td.text-center {{ $value->name }}
                        td.text-center {{ $value->quantity }}
                        td.text-center(class!="{{ $sizes[$value->size] }}") {{ $value->size }}
                    | @empty
                    tr
                        td.text-center(colspan="3") Nenhum arquivo foi carregado.
                    | @endforelse
        .table-responsive.oveflow-print
            table.table.table-bordered
                tbody
                    tr
                        th.text-center Processo
                        th.text-center.col-sm-1 Exportado
                        th.text-center.col-sm-1 Revisão Exportação
                        th.text-center.col-sm-1 Impressão
                        th.text-center.col-sm-1 Calandra Frete
                        th.text-center.col-sm-1 Calandra Recolha
                        th.text-center.col-sm-1 Contagem Costura
                        th.text-center.col-sm-1 Costura
                        th.text-center.col-sm-1 Arremate | Revisão
                        th.text-center.col-sm-1 Encaixotamento
                    tr
                        td
                            | Data de Saída
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                    tr
                        td
                            | Responsável
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                    tr
                        td
                            | Impressora
                        td.text-center(colspan="3")
                            | {{ trans('attributes.printer_options')[$model->printer_option] }}
                        td.text-center(colspan="6")
                            samp
                                | CALANDRA ( )1 - ( )2 - ( )3

| @else
.alert.alert-warning.no-border.no-print
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif