.table-responsive.oveflow-print
    table.table.table-bordered.table-xxs
        thead
            tr
                th.text-center Processo
                th.text-center.col-sm-1 Exportado
                th.text-center.col-sm-1 Revisão Exportação
                th.text-center.col-sm-1 Impressão
                th.text-center.col-sm-1 Calandra Frete
                th.text-center.col-sm-1 Calandra Recolha
                th.text-center.col-sm-1 Contagem Costura
                th.text-center.col-sm-1 Costura
                th.text-center.col-sm-1 Arremate | Revisão
                th.text-center.col-sm-1 Encaixotamento
        tbody
            tr
                td
                    | Data de Saída
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
            tr
                td
                    | Responsável
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
            tr
                td
                    | Impressora
                td.text-center(colspan="3")
                    | {{ Form::select('printer_option', trans('attributes.printer_options'), old('printer_option', $model->printer_option), ['class' => '', 'url' => route('cerebelo.orders.update_printer', $model->id)]) }}
                td.text-center(colspan="6")
                    samp
                        | CALANDRA ( )1 - ( )2 - ( )3