#section-to-print.content-group-sm.section-to-print-production
    .pagebreak
        .panel.panel-white
            .panel-heading.no-print
                h6.panel-title Ordem de Produção
                .heading-elements

            include ./_print_production_order_header.pug

            include ./production_order/_common_products.pug

            include ./_print_production_order_footer.pug

    include ./production_order/art_sizes.pug

include ./_op_floating_buttons.pug