extends ../../../../../CerebeloSettings/Resources/pug/print.pug

block theme-css-files
    link(href="{{ Module::asset('cerebeloorders:css/orders/_order_print_area.css') }}?{{ filemtime(Module::assetPath('cerebeloorders/css/orders/_order_print_area.css')) }}", rel="stylesheet", type="text/css")
    
block content
    .row.hidden-print
        button.btn.btn-default.btn-xs.heading-btn(onclick="window.print();")
            i.icon-printer.position-left
            | Imprimir
            
    .row#section-to-print
        table.table.table-borderless.table-xs
            tbody
                tr
                    td.text-center
                        img(src!="{{ route('storage.files', ['filename' => $order_product->image_art]) }}", alt="")
                tr
                    td.text-center
                        table.table.table-xs.table-bordered
                            thead
                                tr
                                    th.text-left Produto
                                    | @foreach($order_product->sizes as $size)
                                    th.text-center.col-sm-1 {{ $size->name }}
                                    | @endforeach
                                    th.text-center.col-sm-1 Total
                            tbody
                                tr
                                    td.text-left 
                                        h6.no-margin {{ $order_product->product->name }}
                                        span.text-muted {{ implode(", ", $variations) }}
                                    | @setvar('total_sizes', 0)
                                    | @foreach($order_product->sizes as $size)
                                    td.text-center(class!="{{ $size->hex_color }}") 
                                        | {{ $size->pivot->quantity }}
                                    | @setvar('total_sizes', $total_sizes += $size->pivot->quantity)
                                    | @endforeach
                                    td.text-center
                                        span.text-semibold {{ $total_sizes }}
    
    .row.hidden-print
        button.btn.btn-default.btn-xs.heading-btn(onclick="window.print();")
            i.icon-printer.position-left
            | Imprimir