block theme-css-files
    link(href="{{ Module::asset('cerebeloorders:css/orders/_order_print_area.css') }}?{{ filemtime(Module::assetPath('cerebeloorders/css/orders/_order_print_area.css')) }}", rel="stylesheet", type="text/css")
        
| @if(isset($model->id))
.row
    .col-md-12
        .tabbable.content-group
          ul.nav.nav-tabs.nav-justified
            li.active
              a(href='#print-badges-tab1', data-toggle='tab')
                |  Orçamento para Cliente
            li
              a(href='#print-badges-tab2', data-toggle='tab')
                |  Ordem de Produção
          .tab-content
                #print-badges-tab1.tab-pane.active
                    include ./_print_for_client.pug
                #print-badges-tab2.tab-pane
                    include ./_print_production_order.pug
| @else
.alert.alert-warning.no-border
    span.text-semibold Atenção, essa área é exibida após salvar o orçamento.
| @endif