#section-to-print.content-group-sm.section-to-print-production
    .pagebreak
        .panel.panel-white
            .panel-heading.no-print
                h6.panel-title Ordem de Produção
                .heading-elements

            include ./_print_production_order_header.pug

            include ./production_order/_common_products.pug

            include ./_print_production_order_footer.pug

    include ./production_order/_attached_files.pug

    | @foreach($products as $key => $product)
    | @setvar('variations', ((isset($products_selected['variations_name'][$product]) ? $products_selected['variations_name'][$product] : []) + [$products_selected['extra_variation'][$product]]))
    | @setvar('image_art', (isset($products_selected['image_art'][$product]) ? $products_selected['image_art'][$product] : ""))
    | @setvar('products_id', (isset($products_selected['products_id'][$product]) ? $products_selected['products_id'][$product] : ""))
    | @setvar('join_op_art', (isset($products_selected['join_op_art'][$products_id]) ? $products_selected['join_op_art'][$products_id] : []))
    | @if(!in_array($product, $join_op_art))
    | @php($quantity = $products_selected['quantity'][$product])
    | @php($have_sizes = $products_selected['have_sizes'][$product])
    .pagebreak
        .table-responsive
            table.table.table-borderless.table-xs
                tbody
                    tr
                        td.text-center(colspan="2")
                            img.img-product-order(src!="{{ route('storage.files', ['filename' => $image_art]) }}", alt="", style=" margin: 10px; 0px;")
                    tr
                        td.text-center(colspan="2")
                            .table-responsive
                                table.table.table-xs.table-bordered
                                    thead
                                        tr
                                            th.text-left Produto
                                            | @foreach($sizes as $size)
                                            th.text-center.col-sm-1 {{ $size->name }}
                                            | @endforeach
                                            th.text-center.col-sm-1 Total
                                    tbody
                                        include ./production_order/_tr_sizes_product.pug

                                        | @if(isset($products_selected['infantil'][$products_id]))
                                        tr
                                            | @php($array_infantil = $products_selected['infantil'][$products_id])
                                            | @php($total_sizes = 0)
                                            td.text-left
                                                span.display-block.font-small {{ $products_selected['products_name'][$product] }}  
                                                    span.text-muted Infantil
                                            | @if($have_sizes == 'Y')
                                            | @foreach($sizes as $size)
                                            | @php($size_qtd = 0)
                                            | @foreach($array_infantil as $infantil)
                                            | @if($infantil['size'][$size->id] > 0)
                                            | @php($size_qtd += $infantil['size'][$size->id])
                                            | @endif
                                            | @endforeach
                                            td.text-center(class!="{{ $size->hex_color }}")
                                                | {{ ($size_qtd == 0 || empty($size_qtd)) ? "" : $size_qtd }}
                                            | @php($total_sizes += $size_qtd)
                                            | @endforeach
                                            | @else
                                            td.text-center(class!="{{ $sizes[0]->hex_color }}", colspan="{{ count($sizes) }}")
                                                | {{ $quantity }}
                                                | @php($total_sizes = $quantity)
                                            | @endif
                                            td.text-center
                                                span.text-semibold {{ ($total_sizes == 0 || empty($total_sizes)) ? "" : $total_sizes }}
                                        | @endif
                    tr
                        td.text-left
                            .text-left
                                | Cliente: 
                                span.text-semibold {{ $model->client->name }}
                        td.text-right
                            .text-right
                                | Material: 
                                span.text-semibold {{ $model->group }}
    | @endif
    | @endforeach

include ./_op_floating_buttons.pug