| @if(isset($model->id))
.panel.panel-white#section-to-print(storage_path="{{ storage_path('app') }}", style="margin-bottom: 0px 20px !important;")
    .panel-heading.no-print
        h6.panel-title Orçamento
        .heading-elements
    .panel-body.no-padding-bottom.no-padding-top
        include ./order_client/_header_print.pug

    .table-responsive
        table.table.table-lg.body-pdf
            tbody
                tr
                    td Descrição
                    td.text-right.col-lg-2 Unidade
                    td.text-center.col-sm-1 Quantidade
                    td.text-right.col-lg-2 Total
                | @setvar('total', 0)
                | @php($qty_piece = 0)
                | @if(!empty($products_selected))
                | @foreach($products_selected['products_index'] as $index)

                | @php($defined_size = false)
                | @if(!isset($products_selected['op_name'][$index]))
                // TAMANHO NORMAL
                | @if(isset($products_selected['sizes'][$index]))
                | @foreach($products_selected['sizes'][$index] as $key => $value)
                | @if($value > 0)
                | @php($defined_size = true)
                | @setvar('sizes_name', $products_selected['sizes_name'][$index][$key])
                | @setvar('size_code', (!empty($products_selected['sizes_code'][$index][$key]) ? " - Cód. " . $products_selected['sizes_code'][$index][$key] : ""))

                | @setvar('name', $products_selected['products_name'][$index])
                | @setvar('unit_price', $products_selected['unit_price'][$index])
                | @setvar('quantity', $value)
                | @php($qty_piece += $quantity)
                | @setvar('subtotal', $unit_price * $quantity)

                | @if(isset($products_selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($products_selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($products_selected['variations_name'][$index] + [$products_selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $products_selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name . " TAM. " . $sizes_name . $size_code }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($products_selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $products_selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)

                | @endif
                | @endforeach
                | @endif

                | @else
                // TAMANHO OP COM NOME
                | @if(isset($products_selected['op_name'][$index]))
                | @foreach($products_selected['op_name'][$index] as $key => $value)
                | @if(!empty($value))
                | @php($defined_size = true)
                | @setvar('sizes_name', $key)
                | @setvar('sizes_id', array_flip($products_selected['sizes_name'][$index])[$key])
                | @setvar('size_code', (!empty($products_selected['sizes_code'][$index][$sizes_id]) ? " - Cód. " . $products_selected['sizes_code'][$index][$sizes_id] : ""))

                | @setvar('name', $products_selected['products_name'][$index])
                | @setvar('unit_price', $products_selected['unit_price'][$index])
                | @php($op_quantity = array_sum($products_selected['op_quantity'][$index][$sizes_name]))
                | @setvar('quantity', $op_quantity)
                | @php($qty_piece += $quantity)
                | @setvar('subtotal', $unit_price * $quantity)

                | @if(isset($products_selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($products_selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($products_selected['variations_name'][$index] + [$products_selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $products_selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name . " TAM. " . $sizes_name . $size_code }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($products_selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $products_selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)

                | @endif
                | @endforeach
                | @endif

                | @endif

                | @if($defined_size == false)
                | @setvar('name', $products_selected['products_name'][$index])
                | @setvar('unit_price', $products_selected['unit_price'][$index])
                | @setvar('quantity', $products_selected['quantity'][$index])
                | @php($qty_piece += $quantity)
                | @setvar('subtotal', moneyUnFormat($products_selected['subtotal'][$index]))

                | @if(isset($products_selected['variations_total'][$index]))
                | @setvar('variations_total', array_sum($products_selected['variations_total'][$index]))
                | @setvar('variations_name', implode(', ', ($products_selected['variations_name'][$index] + [$products_selected['extra_variation'][$index]])))
                | @else
                | @setvar('variations_total', 0)
                | @setvar('variations_name', $products_selected['extra_variation'][$index])
                | @endif
                tr.border-bottom.border-grey-300
                    td
                        h6.no-margin {{ $name }}
                        span.text-muted {{ $variations_name }}
                        | @if(!empty($products_selected['present_partnership'][$index]))
                        | - 
                        span.label.bg-blue-400 {{ $products_selected['present_partnership'][$index] }}
                        | @endif
                    td.text-right R$ {{ moneyFormat($unit_price) }}
                    td.text-center {{ $quantity }}
                    td.text-right
                        span.text-semibold R$ {{ moneyFormat($subtotal) }}
                | @setvar('total', $total + $subtotal)
                | @endif

                | @endforeach
                | @endif
    .panel-body.footer-budget(style="padding: 10px !important;")
        include ./order_client/_total_order.pug

        h6 Outras Informações
        | @if($model->to_charge == true && $model->paymentsInstallments->count() > 1)
        //p.text-muted
            | Forma de Pagamento: 50% no ato do pedido e 50% na conclusão, não enviamos o pedido sem estar todo quitado.
        | @endif
        p.text-muted Para o pedido entrar em produção precisamos de: desenho aprovado, grade de tamanho e comprovante de pagamento, prazo mínimo de 30 dias.
        // p.text-muted ATENÇÃO 1: Por determinação da receita federal o prazo máximo para cancelamento de notas fiscais é de 24 horas após a emissão.
        p.text-muted ATENÇÃO 1: Por favor conferir todas as informações acima, pois não é possível cancelar a nota fiscal.
        p.text-muted ATENÇÃO 2: Todas as logomarcas e grafismos presentes no layout são de responsabilidade daquele que solicita sua inclusão.
        p.text-muted ATENÇÃO 3: Este orçamento não preve incidência de impostos estaduais. Caso incida a responsabilidade do pagamento é do comprador.

        | {{ Form::model($model, array('url' => route('cerebelo.orders.update', $order_id) . '#justified-badges-tab2', 'method' => 'PATCH', 'id' => 'formOrderForClient')) }}
        .row
            .col-md-12
                .table-responsive.oveflow-print-order
                    table.table.padding-total-td
                        tr
                            td(width="110") PRE ENVIO
                            td Nome:
                            td {{ Form::text('pre_shipment_name', old('pre_shipment_name'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Data:
                            td {{ Form::text('pre_shipment_date', old('pre_shipment_date'), ['class' => 'form-control input-print date', 'pattern' => '[0-9]{2}/[0-9]{2}/[0-9]{4}', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Hora:
                            td {{ Form::time('pre_shipment_hour', old('pre_shipment_hour'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                            td Forma:
                            td {{ Form::text('pre_shipment_form', old('pre_shipment_form'), ['class' => 'form-control input-print', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar', 'placeholder' => 'Ex: Telefone | E-mail | WhatsApp']) }}
        | {{ Form::close() }}

        p
        p.text-muted.text-center ORÇAMENTO VÁLIDO PARA 30 DIAS À PARTIR DA DATA DE EMISSÃO.

.row.no-print
    .col-md-12
        ul.fab-menu.fab-menu-fixed.fab-menu-bottom-right(data-fab-toggle='hover')
            li
                a.fab-menu-btn.btn.bg-blue-600.btn-float.btn-rounded.btn-icon
                    i.fab-icon-open.icon-paragraph-justify3
                    i.fab-icon-close.icon-cross2
                ul.fab-menu-inner
                    li
                        div(data-fab-label='Imprimir')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderPrintArea();")
                                i.icon-printer2
                    li
                        div(data-fab-label='Baixar')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderDownload();return false;")
                                i.icon-file-pdf
                    li
                        div(data-fab-label='Enviar Para Cliente')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="orderSendMail();")
                                i.icon-envelope
                    li
                        div(data-fab-label='Arquivos do Cliente')
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float(href!="{{ route('cerebelo.customers.files_index', $model->client->id) }}", class="btnClientFiles")
                                i.icon-archive
                    li
                        div
                            a.btn.btn-default.btn-rounded.btn-icon.btn-float.dropdown-toggle(data-toggle="dropdown")
                                i.icon-menu
                            ul.dropdown-menu
                                li
                                    a(onclick="orderSendMailToFiscal(false, this);", url!="{{ route('cerebelo.orders.send_mail', $model->id) }}")
                                        i.icon-cash
                                        | Enviar Para Fiscal
                                li
                                    a(href="{{ route('cerebelo.orders.create') }}")
                                        i.icon-file-plus2
                                        | Novo Pedido
                                li
                                    a(href="{{ route('cerebelo.orders.index') }}")
                                        i.icon-exit2
                                        | Fechar
| @else
.alert.alert-warning.no-border.no-print
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif