| @setvar('forelse_session_old_input', (isset($session_old_input['products_index']) ? $session_old_input['products_index'] : []))
| @forelse($forelse_session_old_input as $input)
.panel.panel-black.panel-bordered
    .panel-heading
        .heading-form
            .form-group(class!="{{ $errors->has('products_id.' . $input) ? ' has-error' : '' }}")
                | {{ Form::select2('products_id[' . $input . ']', $products, $session_old_input['products_id'][$input], ['class' => 'select-search', 'data-placeholder' => 'Produto']) }}
                | @if ($errors->has('products_id.' . $input))
                span.help-block.text-danger
                    i.icon-cancel-circle2.position-left
                    |  {{ $errors->first('products_id.' . $input) }}
                | @endif

                | @setvar('orders_products_id', (isset($session_old_input['orders_products_id'][$input]) ? $session_old_input['orders_products_id'][$input] : null))
                | {{ Form::hidden('orders_products_id[' . $input . ']', $orders_products_id) }}
                | {{ Form::hidden('products_index[' . $input . ']', $input) }}
                | {{ Form::select2('', $variations, null, ['class' => 'clone-variation', 'style' => 'display: none', 'data-placeholder' => 'Variação']) }}
            .form-group
                button.btn.btn-default.btn-xs(type='button', onclick="duplicateProductCard(this);")
                    i.icon-copy3.position-left
                    | Duplicar

        .heading-elements
            | @if(!empty($orders_products_id))
            .btn-group
                button.btn.bg-slate.btn-labeled.btn-xs(type='button', onclick="productOpWithName($(this));")
                    b
                        i.icon-file-excel
                    | OP com Nome 

            .btn-group
                button.btn.bg-brown.btn-labeled.btn-xs(type='button', onclick="uploadProductArt($(this));")
                    b
                        i.icon-image3
                    | Upload Arte 
                    i(class!="{{ (empty($session_old_input['image_art'][$input]) || Storage::disk('local')->exists($session_old_input['image_art'][$input]) === false) ? '' : 'icon-attachment' }}")
            | @endif

            .btn-group
                button.btn.btn-info.btn-labeled.dropdown-toggle.btn-xs(type='button', data-toggle='dropdown')
                    b
                        i.icon-file-plus
                    |  Adicionar Variação 
                    span.caret
                ul.dropdown-menu.dropdown-menu-right
                    | @foreach($variations as $key => $value)
                    li
                        a(class='addVariationToProduct', id!='{{ $value["id"] }}')
                            |  {{ $value['name'] . " (" . $value['price'] . ")" }}
                    | @endforeach
            ul.icons-list
                li
                    | @if(!empty($orders_products_id))
                    button(class='close closeBlockProduct', href="{{ route('cerebelo.orders.destroy_product', $orders_products_id) }}", style="color: #ffffff;") 
                        i.icon-cross2
                    | @else
                    a(data-action='close', class='closeBlockProduct')
                    | @endif
                li
                    a(data-action='move', title='', data-original-title='Após mover o card você deve salvar as alterações.', data-placement='top', data-popup='tooltip')

    .panel-body
        .row.listVariations
            | @setvar('variations_session_old_input', (isset($session_old_input['variations_id'][$input]) ? $session_old_input['variations_id'][$input] : []))
            | @foreach($variations_session_old_input as $variation)
            .col-lg-6
                .form-group
                    .media-body
                        | {{ Form::select2('variations_id[' . $input . '][' . $variation . ']', $variations, $variation, ['class' => 'select']) }}
                    .media-right.media-middle
                        ul.icons-list
                            li
                                a.closeVariation
                                    i.icon-cross2
            | @endforeach

        .row
            .col-md-6
                .form-group
                    label 
                        | {{ trans('attributes.extra_variation') }}
                    | {{ Form::text('extra_variation[' . $input . ']', old('extra_variation.' . $input, $session_old_input['extra_variation'][$input]), ['class' => "form-control", 'maxlength' => '150', 'placeholder' => trans('attributes.extra_variation') ]) }}
                    span.text-muted.text-size-small Para definir como infantil, digite "Infantil" ou "infantil" (sem aspas)
        .row
            .col-md-6
                .form-group
                    label 
                        | {{ trans('attributes.custom_table') }}
                    | {{ Form::select2('custom_price_table_id[' . $input . ']', (!isset($session_old_input['_budget_tables_selected'][$input]) ? $_budget_tables_selected : $session_old_input['_budget_tables_selected'][$input]), old('custom_price_table_id.' . $input, (!isset($session_old_input['custom_price_table_id'][$input]) ? null : $session_old_input['custom_price_table_id'][$input])), ['class' => 'select']) }}
                    | {{ Form::hidden('price_table_value[' . $input . ']', old('price_table_value.' . $input, $session_old_input['price_table_value'][$input])) }}
            .col-md-6
                .form-group
                    label 
                        | {{ trans('attributes.presents_partnerships') }}
                    | {{ Form::select('presents_partnerships_id[' . $input . ']', $presents_partnerships, old('presents_partnerships_id.' . $input, $session_old_input['presents_partnerships_id'][$input]), ['class' => 'select']) }}

        legend.text-bold Quantidade por Tamanho
        .row
            .col-lg-3
                .col-lg-12
                    .form-group(class!="{{ $errors->has('quantity.' . $input) ? ' has-error' : '' }}")
                        label
                            | {{ trans('attributes.quantity') }}
                            i.text-danger *
                        | {{ Form::number('quantity[' . $input . ']', $session_old_input['quantity'][$input], ['class' => "form-control input-xs", 'min' => '0', 'placeholder' => trans('attributes.quantity')]) }}
                        | @if ($errors->has('quantity.' . $input))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('quantity.' . $input) }}
                        | @endif
                .col-lg-12
                    .form-group(class!="{{ $errors->has('have_sizes.' . $input) ? ' has-error' : '' }}")
                        .checkbox
                            label
                                | {{ Form::checkbox('have_sizes[' . $input . ']', null, old('have_sizes.' . $input, (!isset($session_old_input['have_sizes'][$input]) || $session_old_input['have_sizes'][$input] == 'N') ? true : false), ['class' => '']) }} Sem tamanhos
            .col-lg-9
                .row
                    label Tamanhos
                    | @setvar('op_with_name', (isset($session_old_input['op_name'][$input]) ? $session_old_input['op_name'][$input] : []))
                    .row.op-with-name-sizes
                        include ./_product_op_name_size.pug

                    | @setvar('sizes_style_display', ((count($op_with_name) > 0) ? 'display: none' : 'display: block'))
                    .row.sizes-name-with-op(style="{{ $sizes_style_display }}")
                        | @foreach($sizes as $size)
                        .col-lg-3
                            .form-group
                                .input-group
                                    span.input-group-addon
                                        | {{ $size->name }}
                                    | {{ Form::number('sizes[' . $input . '][' . $size->id . ']', $session_old_input['sizes'][$input][$size->id], ['class' => "form-control input-xs " . $size->hex_color, 'min' => '0', 'placeholder' => $size->name]) }}
                        | @endforeach
        .row
            .col-lg-2
                .form-group(class!="{{ $errors->has('unit_price.' . $input) ? ' has-error' : '' }}")
                    label
                        | {{ trans('attributes.unit_price') }}
                        i.text-danger *
                    | {{ Form::hidden('volume[' . $input . ']', old('volume.' . $input, $session_old_input['volume'][$input])) }}
                    | {{ Form::text('unit_price[' . $input . ']', old('unit_price.' . $input, $session_old_input['unit_price'][$input]), ['readonly', 'class' => "form-control input-xs decimal", 'placeholder' => trans('attributes.unit_price')]) }}
                    | @if ($errors->has('unit_price.' . $input))
                    span.help-block.text-danger
                        i.icon-cancel-circle2.position-left
                        |  {{ $errors->first('unit_price.' . $input) }}
                    | @endif
            .col-lg-2
                .form-group
                    label
                        | {{ trans('attributes.subtotal') }}
                        i.text-danger *
                    | {{ Form::text('subtotal[' . $input . ']', old('subtotal.' . $input, $session_old_input['subtotal'][$input]), ['readonly', 'class' => "form-control input-xs decimal", 'placeholder' => trans('attributes.subtotal')]) }}
            .col-lg-2
            .col-lg-6
                .col-xs-4
                    .form-group(class!="{{ $errors->has('name_piece.' . $input) ? ' has-error' : '' }}")
                        label
                            | {{ trans('attributes.name_piece') }}
                        | {{ Form::text('name_piece[' . $input . ']', $session_old_input['name_piece'][$input], ['class' => "form-control", 'maxlength' => '150', 'placeholder' => trans('attributes.name_piece')]) }}
                        | @if ($errors->has('name_piece.' . $input))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('name_piece.' . $input) }}
                        | @endif
                .col-xs-4
                    .form-group(class!="{{ $errors->has('quantity_piece.' . $input) ? ' has-error' : '' }}")
                        label
                            | {{ trans('attributes.quantity_piece') }}
                        | {{ Form::number('quantity_piece[' . $input . ']', $session_old_input['quantity_piece'][$input], ['class' => "form-control", 'min' => '0', 'placeholder' => trans('attributes.quantity_piece')]) }}
                        | @if ($errors->has('quantity_piece.' . $input))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('quantity_piece.' . $input) }}
                        | @endif
                .col-xs-4
                    .form-group(class!="{{ $errors->has('size_piece.' . $input) ? ' has-error' : '' }}")
                        label
                            | {{ trans('attributes.size_piece') }}
                        | {{ Form::select('size_piece[' . $input . ']', $sizes_select2, old('size_piece.' . $input, $session_old_input['size_piece'][$input]), ['class' => 'select']) }}
                        | @if ($errors->has('size_piece.' . $input))
                        span.help-block.text-danger
                            i.icon-cancel-circle2.position-left
                            |  {{ $errors->first('size_piece.' . $input) }}
                        | @endif
| @empty
| @setvar('index', autoIndex())
.panel.panel-black.panel-bordered
    .panel-heading
        .heading-form
            .form-group
                | {{ Form::select2('products_id[' . $index . ']', $products, old('products_id'), ['class' => 'select-search', 'data-placeholder' => 'Produto']) }}
                | {{ Form::hidden('products_index[' . $index . ']', $index) }}
                | {{ Form::select2('', $variations, null, ['class' => 'clone-variation', 'style' => 'display: none', 'data-placeholder' => 'Variação']) }}
            .form-group
                button.btn.btn-default.btn-xs(type='button', onclick="duplicateProductCard(this);")
                    i.icon-copy3.position-left
                    | Duplicar

        .heading-elements
            .btn-group
                button.btn.btn-info.btn-labeled.dropdown-toggle.btn-xs(type='button', data-toggle='dropdown')
                    b
                        i.icon-file-plus
                    |  Adicionar Variação
                    span.caret
                ul.dropdown-menu.dropdown-menu-right
                    | @foreach($variations as $key => $value)
                    li
                        a(class='addVariationToProduct', id!='{{ $value["id"] }}')
                            |  {{ $value['name'] . " (" . $value['price'] . ")" }}
                    | @endforeach
            ul.icons-list
                li
                    a(data-action='close', class='closeBlockProduct')
                li
                    a(data-action='move', title='', data-original-title='Após mover o card você deve salvar as alterações.', data-placement='top', data-popup='tooltip')    

    .panel-body
        .row.listVariations

        .row
            .col-md-6
                .form-group
                    label
                        | {{ trans('attributes.extra_variation') }}
                    | {{ Form::text('extra_variation[' . $index . ']', null, ['class' => "form-control", 'maxlength' => '150', 'placeholder' => trans('attributes.extra_variation') ]) }}
                    span.text-muted.text-size-small Para definir como infantil, digite "Infantil" ou "infantil" (sem aspas)
        .row
            .col-md-6
                .form-group
                    label
                        | {{ trans('attributes.custom_table') }}
                    | {{ Form::select2('custom_price_table_id[' . $index . ']', $budget_tables_selected, $price_table_id, ['class' => 'select']) }}
                    | {{ Form::hidden('price_table_value[' . $index . ']', $price_table_value) }}
            .col-md-6
                .form-group
                    label
                        | {{ trans('attributes.presents_partnerships') }}
                    | {{ Form::select('presents_partnerships_id[' . $index . ']', $presents_partnerships, null, ['class' => 'select']) }}

        legend.text-bold Quantidade por Tamanho
        .row
            .col-lg-3
                .col-lg-12
                    .form-group
                        label
                            | {{ trans('attributes.quantity') }}
                            i.text-danger *
                        | {{ Form::number('quantity[' . $index . ']', null, ['class' => "form-control input-xs", 'min' => '0', 'placeholder' => trans('attributes.quantity')]) }}
                .col-lg-12
                    .form-group(class!="{{ $errors->has('have_sizes.' . $index) ? ' has-error' : '' }}")
                        .checkbox
                            label
                                | {{ Form::checkbox('have_sizes[' . $index . ']', null, false, ['class' => '']) }} Sem tamanhos
            .col-lg-9
                label Tamanhos
                .row
                | @foreach($sizes as $size)
                .col-lg-3
                    .form-group
                        .input-group
                            span.input-group-addon
                                | {{ $size->name }}
                            | {{ Form::number('sizes[' . $index . '][' . $size->id . ']', null, ['class' => "form-control input-xs " . $size->hex_color, 'min' => '0', 'placeholder' => $size->name]) }}
                | @endforeach
        .row
            .col-lg-2
                .form-group
                    label 
                        | {{ trans('attributes.unit_price') }}
                        i.text-danger *
                    | {{ Form::hidden('volume[' . $index . ']', null) }}
                    | {{ Form::text('unit_price[' . $index . ']', null, ['readonly', 'class' => "form-control input-xs decimal", 'placeholder' => trans('attributes.unit_price')]) }}
            .col-lg-2
                .form-group
                    label 
                        | {{ trans('attributes.subtotal') }}
                        i.text-danger *
                    | {{ Form::text('subtotal[' . $index . ']', null, ['readonly', 'class' => "form-control input-xs decimal", 'placeholder' => trans('attributes.subtotal')]) }}
            .col-lg-2
            .col-lg-6
                .col-xs-4
                    .form-group
                        label 
                            | {{ trans('attributes.name_piece') }}
                        | {{ Form::text('name_piece[' . $index . ']', null, ['class' => "form-control input-xs", 'maxlength' => '150', 'placeholder' => trans('attributes.name_piece')]) }}
                .col-xs-4
                    .form-group
                        label 
                            | {{ trans('attributes.quantity_piece') }}
                        | {{ Form::number('quantity_piece[' . $index . ']', null, ['class' => "form-control input-xs", 'min' => '0', 'placeholder' => trans('attributes.quantity_piece')]) }}
                .col-xs-4
                    .form-group
                        label 
                            | {{ trans('attributes.size_piece') }}
                        | {{ Form::select('size_piece[' . $index . ']', $sizes_select2, null, ['class' => 'select']) }}
| @endforelse