.modal-dialog
    .modal-content
        .modal-header
            button.close(type="button", data-dismiss="modal") &times;
            h5.modal-title Importação da OP com Nome
        .modal-body
            fieldset.content-group
                legend.text-bold Excel
                | {{ Form::open(array('url' => route('cerebelo.orders.op_name', $id), 'method' => 'POST', 'id' => 'formOpNameExcel', 'files' => true)) }}
                .row
                    .col-md-12
                        span.text-muted.text-size-small
                            a(href="{{ asset('assets/exemplo_op_com_nome.xls') }}") Baixar exemplo
                .row
                    .col-md-9
                        .form-group
                            | {{ Form::file('file', ['class' => 'form-control file-styled', 'placeholder' => trans('attributes.file')]) }}
                            span.text-muted.text-size-small Extensões permitidas .xls, .xlsx

                    .col-md-3
                        .form-group
                            button.btn.bg-default.btn-labeled(type="submit")
                                b
                                    i.icon-file-excel
                                | Carregar
                | {{ Form::close() }}

                legend.text-bold Adicionar
                .row
                    .col-xs-4
                        .form-group
                            | {{ Form::text('name', null, ['class' => 'form-control', 'placeholder' => 'Nome']) }}
                    .col-xs-4
                        .form-group
                            | {{ Form::text('quantity', null, ['class' => 'form-control', 'placeholder' => 'Quantidade']) }}
                    .col-xs-3
                        .form-group
                            | {{ Form::select('size', array_flip($sizes_id), null, ['class' => 'form-control']) }}
                    .col-xs-1
                        .form-group
                            button.btn.btn-info.btn-icon(title="Adicionar Tamanho", data-popup="tooltip", data-original-title="Adicionar Tamanho", onclick="btnAddSizeName(this);")
                                i.icon-plus3

            fieldset.content-group
                legend.text-bold Dados
                span.text-bold Legenda:
                i.icon-arrow-resize8 
                | Segure e arraste para organizar na impressão

                | {{ Form::open(array('url' => route('cerebelo.orders.op_name', $id), 'method' => 'POST', 'id' => 'formOpNameSaveData')) }}
                .row
                    .col-xs-12
                        .form-group
                            .table-responsive.pre-scrollable
                                table.table.text-nowrap.table-hover#tableOpNameSaveData(sizes="{{ json_encode($sizes, true) }}")
                                    thead
                                        tr
                                            th(style="width: 1px;")
                                            th(style="width: 1px;")
                                            th Nome
                                            th.col-md-3 Quantidade
                                            th.col-md-3 Tamanho
                                    tbody
                                        | @forelse($op_names as $value)
                                        tr(class!="size_{{ $value->size }}")
                                            td
                                                i.icon-arrow-resize8
                                            td
                                                a.text-danger.rmvOpName(title="Excluir permanentemente", data-popup="tooltip")
                                                    i.icon-close2
                                            td
                                                | {{ Form::hidden("id_op_name[]", $value->id) }}
                                                | {{ Form::text("name[]", $value->name, ['class' => "form-control input-xs", 'maxlength' => "100"]) }}
                                            td
                                                | {{ Form::number("quantity[]", $value->quantity, ['class' => "form-control input-xs integer", 'maxlength' => "10", 'sizes_id' => $sizes_id[$value->size]]) }}
                                            td
                                                | {{ Form::text("size[]", $value->size, ['class' => "form-control input-xs " . $sizes[$value->size], 'maxlength' => "4"]) }}
                                        | @empty
                                        tr
                                            td.text-center(colspan="5") Nenhum arquivo foi carregado.
                                        | @endforelse

                .row
                    .col-md-12
                        .form-group.text-right
                            a.btn.btn-link.text-default(onclick="return popUpWin('{{ route('cerebelo.orders.print_op_name', $id) }}', '800', '950');")
                                b
                                    i.icon-file-pdf.position-left
                                | Imprimir

                            button.btn.btn-primary.btn-labeled(type="submit")
                                b
                                    i.icon-import
                                | Salvar
                | {{ Form::close() }}