| @setvar('op_with_name', (isset($session_old_input['op_name'][$input]) ? $session_old_input['op_name'][$input] : []))
| @if(!empty($op_with_name))
| @php($_height = (count($op_with_name) * 43) + 7)
| @php($_height = ($_height > 200) ? 200 : $_height)
.table-responsive.pre-scrollable(style="height: {{ $_height }}px;")
    table.table.table-xxs
        tbody
            | @foreach($op_with_name as $key => $op_name)
            | @setvar('op_color', (isset($session_old_input['op_color'][$input][$key]) ? $session_old_input['op_color'][$input][$key] : ""))
            tr
                td(class="{{ $op_color }}")
                    h6.text-semibold.panel-title
                        | {{ $key }}
                | @foreach($op_name as $k => $name)
                | @setvar('op_quantity', (isset($session_old_input['op_quantity'][$input][$key][$k]) ? $session_old_input['op_quantity'][$input][$key][$k] : ""))
                | @setvar('op_size', (isset($session_old_input['op_size'][$input][$key][$k]) ? $session_old_input['op_size'][$input][$key][$k] : ""))
                td(class="{{ $op_color }}")
                    .row
                        | Nome: 
                        span {{ $name }}
                    .row
                        | Qtde: 
                        span {{ $op_quantity }}
                | @endforeach
            | @endforeach
| @endif