| @if(isset($model->id))
| @if(isset($products_selected['op_name_tab6']) && count($products_selected['sizes']) == count($products_selected['op_name_tab6']))
include ./_print_production_order_name.pug
| @elseif(!isset($products_selected['op_name_tab6']))
include ./_print_production_order.pug
| @else
include ./_print_production_order_mixed.pug
| @endif
| @else
.alert.alert-warning.no-border
    span.text-semibold Atenção, nenhum cliente foi adicionado ao orçamento, favor efetuar o cadastro do cliente na aba "Dados do Cliente".
| @endif