.modal-dialog.modal-lg
    .modal-content
        .modal-header
            button.close(type="button", data-dismiss="modal") &times;
            h5.modal-title Imagem de Arte
        .modal-body
            | {{ Form::model($model, array('url' => route('cerebelo.orders.upload_art'), 'method' => 'POST', 'class' => 'formUploadArt', 'files' => true)) }}
            | {{ Form::hidden('id') }}
            .row
                .col-md-10
                    .form-group(class!="{{ $errors->has('image') ? ' has-error' : '' }}")
                        label.col-lg-2.control-label {{ trans('attributes.image') }}
                            i.text-danger *
                        .col-lg-10
                            |{{ Form::file('image', ['class' => 'form-control file-styled', 'placeholder' => trans('attributes.image')]) }}
                            | @if ($errors->has('image'))
                            span.help-block.text-danger
                                i.icon-cancel-circle2.position-left
                                |  {{ $errors->first('image') }}
                            | @endif
                .col-md-2
                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Enviar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | @if (isset($model->image_art) && $file_exists)
            .row
                .col-md-12
                    .form-group
                        img.img-responsive(src!="{{ route('storage.files', ['filename' => $model->image_art]) }}", style="max-height: 1500px; margin: 0px;")
            .row
                .col-md-12
                    .form-group.text-right
                        | {{ Form::button('<i class="icon-trash position-left"></i> Excluir Arte', ['class' => 'btn btn-danger', 'id' => 'destroy-art', 'type' => 'button']) }}
            | @endif
            | {{ Form::close() }}