.modal-dialog.modal-lg
    .modal-content
        .modal-header
            button.close(type="button", data-dismiss="modal") &times;
            h5.modal-title Comprovante de Pagamento
        .modal-body
            | {{ Form::open(array('url' => route('cerebelo.orders.upload_checking_copy'), 'method' => 'POST', 'class' => 'formUploadCheckingCopy', 'files' => true)) }}
            | {{ Form::hidden('id', $id) }}
            .row
                .col-md-10
                    .form-group
                        label.col-lg-2.control-label {{ trans('attributes.images') }}
                            i.text-danger *
                        .col-lg-10
                            |{{ Form::file('image[]', ['multiple', 'class' => 'form-control file-styled', 'placeholder' => trans('attributes.image')]) }}
                .col-md-2
                    .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Enviar', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}

            .row
                | @foreach($model as $file)
                .col-lg-3.col-sm-6
                    .thumbnail
                        .thumb
                            img(src!="{{ route('storage.files', ['filename' => $file->file]) }}", alt="")
                            .caption-overflow
                                span
                                    a.btn.border-white.text-white.btn-flat.btn-icon.btn-rounded(href!="{{ route('storage.files', ['filename' => $file->file]) }}", data-popup="lightbox")
                                        i.icon-zoomin3
                                    a.btn.border-danger.text-danger.btn-flat.btn-icon.btn-rounded.ml-5.destroy-checking-copy(href!="{{ route('cerebelo.orders.destroy_checking_copy', $file->id) }}", title="Excluir")
                                        i.icon-trash
                        .caption
                            h5.no-margin
                                a.text-default
                | @endforeach