.modal-dialog.modal-xs
    .modal-content
        .modal-header.bg-primary
            button.close(type="button", data-dismiss="modal") Fechar
            h5.modal-title Enviar para o Setor
        .modal-body
            .row
                .col-md-12
                    p Setores:

            | @foreach($sectors as $sector)
            | @if($sector_id != $sector->id)
            .row
                .col-md-12
                    .form-group
                        a(type="next", href!="{{ route('cerebelo.orders.line_up', ['type' => 'next', 'order_id' => $order_id, 'sector_id' => $sector_id, 'next_sector_id' => $sector->id]) }}", class="btn border-slate text-slate-800 btn-flat btn-labeled btn-labeled-right btn-xlg btn-group-justified btnClickLineUp")
                            b
                                i.icon-next
                            | {{ $sector->name }}
            | @endif
            | @endforeach

        .modal-footer
            button.btn.btn-link(data-dismiss="modal") Fechar