extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Pedidos - Novo Pedido

block page-title
    span.text-semibold Pedidos
    |  - Novo Pedido

block theme-js-files
    script(id="orders-routes", consult-freight="{{ route('cerebelo.orders.consult_freight') }}", remove-order-files="{{ route('cerebelo.orders.remove_file') }}", remove-order-comment="{{ route('cerebelo.orders.remove_comment') }}", add-block-product="{{ route('cerebelo.orders.add_block_product') }}", client-search-by-cpfcnpj="{{ route('cerebelo.customers.search_by_cpfcnpj') }}" load-addresses="{{ route('cerebelo.addresses.load_by_table') }}", load-tables="{{ route('cerebelo.customers.load_tables_by_client') }}" type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_form.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloclient:js/customers/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/_common.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_client_data.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_client_data.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_budget.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_budget.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_files_notes.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_files_notes.js')) }}")

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Pedidos
    li.active Novo Pedido

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title.no-print Novo Pedido
                    .panel-body
                        include ./_form.pug