extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Pedidos - Editar Pedido

block page-title
    span.text-semibold Pedidos
    |  - Editar Pedido

block theme-css-files
    link(href="{{ Module::asset('cerebeloorders:css/orders/_order_print_area.css') }}?{{ filemtime(Module::assetPath('cerebeloorders/css/orders/_order_print_area.css')) }}", rel="stylesheet", type="text/css")

block theme-js-files
    script(id="orders-routes", upload-checking-copy="{{ route('cerebelo.orders.upload_checking_copy') }}" order-send-mail!="{{ route('cerebelo.orders.send_mail', $model->id) }}", consult-boxes="{{ route('cerebelo.orders.consult_boxes') }}", consult-freight="{{ route('cerebelo.orders.consult_freight') }}", remove-order-files="{{ route('cerebelo.orders.remove_file') }}", remove-order-comment="{{ route('cerebelo.orders.remove_comment') }}", add-block-product="{{ route('cerebelo.orders.add_block_product') }}", client-search-by-cpfcnpj="{{ route('cerebelo.customers.search_by_cpfcnpj') }}" load-addresses="{{ route('cerebelo.addresses.load_by_table') }}", load-tables="{{ route('cerebelo.customers.load_tables_by_client') }}" type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_form.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_form.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloclient:js/customers/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloclient/js/customers/_common.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_client_data.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_client_data.js')) }}")
    script(id="orders-routes-budget", delivery-boxes="{{ json_encode(selectDeliveryBox(), true) }}", print-correios-label="{{ route('cerebelo.orders.print_correios_label', (isset($order_id) ? $order_id : 0)) }}" attributes-payments-forms="{{ json_encode(trans('attributes.payments_forms'), true) }}", attributes-payment-status="{{ json_encode(trans('attributes.payment_status'), true) }}", percentage-product-table="{{ route('cerebelo.orders.percentage') }}", product-upload-art="{{ route('cerebelo.orders.upload_art') }}", product-destroy-art="{{ route('cerebelo.orders.destroy_art') }}", product-op-name="{{ route('cerebelo.orders.op_name') }}", type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_budget.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_budget.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_files_notes.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_files_notes.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_common.js')) }}")
    | {!! $script_attendant !!}

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home
    li Pedidos
    li.active Editar Pedido

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title.no-print Editar Pedido
                    .panel-body
                        include ./_form.pug

    #modal_remote.modal

    #modal_email.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                    h5.modal-title Enviar orçamento/pedido para o cliente
                .modal-body
                    | {{ Form::open(array('url' => '', 'method' => 'POST', 'class' => 'form-horizontal')) }}
                    .row
                        .form-group
                            label.control-label.col-md-2 Para
                            .col-md-10
                                | {{ Form::email('email_to', ((isset($model->client->email) || !empty($model->client->email)) ? $model->client->email : ""), ['class' => 'form-control']) }}
                    .row
                        .col-md-3
                            .form-group
                                label Tipo
                                | {{ Form::select('email_type', ['cc' => 'Cópia (Cc)', 'cco' => 'Cópia Oculta (Cco)'], null, ['class' => 'select']) }}
                        .col-md-1
                        .col-md-8
                            .form-group
                                label Destinatários
                                | {{ Form::textarea('email_recipients', null, ['rows' => '2', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'exemplo1@exemplo.com,exemplo2@exemplo.com.br']) }}
                                span.help-block Mais de um email, separar por vírgula (,).
                    .row
                        .col-md-12
                            .form-group
                                label Texto
                                | {{ Form::textarea('email_body', null, ['id' => 'email_body', 'rows' => '5', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'Texto para o corpo do e-mail']) }}
                                span.help-block Escreva algo para ser enviado no corpo do e-mail para o cliente
                    | {{ Form::close() }}
                .modal-footer
                    button.btn.btn-primary.btn-labeled(type="button", onclick="orderSendMail(true);")
                        b
                            i.icon-envelope
                        | Enviar