extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Pedidos

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Pedidos

block theme-js-files
    script(type="text/javascript", id="route-orders", logged-user-sector!="{{ auth()->user()->sector->alias }}", datatable="{{ route('cerebelo.orders.datatable') }}", src="{{ Module::asset('cerebeloorders:js/orders/_index.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_index.js')) }}")
    script(type="text/javascript", src="{{ Module::asset('cerebeloorders:js/orders/_common.js') }}?{{ filemtime(Module::assetPath('cerebeloorders/js/orders/_common.js')) }}")

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Pedidos

block content
    #modal_remote.modal

    #modal_email.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                    h5.modal-title Enviar orçamento/pedido para o Financeiro
                .modal-body
                    | {{ Form::open(array('url' => '', 'method' => 'POST')) }}
                    .row
                        .col-md-3
                            .form-group
                                label Tipo
                                | {{ Form::select('email_type', ['cc' => 'Cópia (Cc)', 'cco' => 'Cópia Oculta (Cco)'], null, ['class' => 'select']) }}
                        .col-md-9
                            .form-group
                                label Destinatários
                                | {{ Form::textarea('email_recipients', null, ['rows' => '2', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'exemplo1@exemplo.com,exemplo2@exemplo.com.br']) }}
                                span.help-block Mais de um email, separar por vírgula (,).
                    .row
                        .form-group
                            label Texto
                            | {{ Form::textarea('email_body', null, ['id' => 'email_body', 'rows' => '5', 'cols' => '5', 'class' => 'form-control', 'placeholder' => 'Texto para o corpo do e-mail']) }}
                            span.help-block Escreva algo para ser enviado no corpo do e-mail para o cliente
                    | {{ Form::close() }}
                .modal-footer
                    button.btn.btn-primary.btn-labeled(type="button", onclick="orderSendMailToFiscal(true, this);")
                        b
                            i.icon-envelope
                        | Enviar

    #modal-form-filter.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Filtro
                .modal-body
                    | {{ Form::open(array('url' => route('cerebelo.orders.datatable'), 'method' => 'get', 'id' => 'formSearchOrders')) }}
                    .row
                        .col-xs-6
                            .form-group(class!="{{ $errors->has('sectors') ? ' has-error' : '' }}")
                                label Setor
                                | {{ Form::select('sectors[]', $sectors, old('sectors'), ['class' => 'select', 'multiple']) }}
                                | @if ($errors->has('sectors'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('sectors') }}
                                | @endif
                        .col-xs-6
                            .form-group(class!="{{ $errors->has('sectors_actions_id') ? ' has-error' : '' }}")
                                label Status
                                | {{ Form::select('sectors_actions_id[]', $sectors_actions, old('sectors_actions_id'), ['class' => 'select', 'multiple']) }}
                                | @if ($errors->has('sectors_actions_id'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('sectors_actions_id') }}
                                | @endif
                    .form-group.text-right
                        button.btn.bg-grey-300.btn-labeled(type="button")
                            b
                                i.icon-close2.position-left
                            | Limpar
                        button.btn.bg-slate-300.btn-labeled(type="submit")
                            b
                                i.icon-filter3.position-left
                            | Buscar
                    | {{ Form::close() }}

    //.row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Filtro
                    .heading-elements
                        ul.icons-list
                            li
                                a(data-action="collapse")
                .panel-body
                    | {{ Form::open(array('url' => route('cerebelo.orders.datatable'), 'method' => 'get', 'id' => 'formSearchOrders')) }}
                    .row
                        .col-xs-4
                            .form-group(class!="{{ $errors->has('sectors') ? ' has-error' : '' }}")
                                label Setor
                                | {{ Form::select('sectors[]', $sectors, old('sectors'), ['class' => 'select', 'multiple']) }}
                                | @if ($errors->has('sectors'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('sectors') }}
                                | @endif
                        .col-xs-4
                            .form-group(class!="{{ $errors->has('sectors_actions_id') ? ' has-error' : '' }}")
                                label Status
                                | {{ Form::select('sectors_actions_id[]', $sectors_actions, old('sectors_actions_id'), ['class' => 'select', 'multiple']) }}
                                | @if ($errors->has('sectors_actions_id'))
                                span.help-block.text-danger
                                    i.icon-cancel-circle2.position-left
                                    |  {{ $errors->first('sectors_actions_id') }}
                                | @endif
                    .form-group.text-right
                        button.btn.bg-grey-300.btn-labeled(type="button")
                            b
                                i.icon-close2.position-left
                            | Limpar
                        button.btn.bg-slate-300.btn-labeled(type="submit")
                            b
                                i.icon-filter3.position-left
                            | Buscar
                    | {{ Form::close() }}

    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista Pedidos
                    .heading-elements
                        .heading-btn
                            button.btn.border-slate.text-slate-800.btn-flat(type="button", onclick="btnXMLFinancial(this);", href="{{ route('cerebelo.orders.xml') }}")
                                b
                                    i.icon-file-xml2.position-left
                                | XML Financeiro

                            button.btn.btn-primary(type="button", onclick!="window.location='{{ route('cerebelo.orders.create', ['c' => request('c')]) }}';")
                                i.icon-file-plus2.position-left
                                |  Criar Pedido

                .panel-body
                    //p 
                        span.text-bold LEGENDA:
                    //p 
                        | Ação Esperada 
                        span.label.label-success Verde
                        |  o setor aceitou e pronto para prosseguir para o próximo setor.

                    //p 
                        | Ação Esperada 
                        span.label.btn-yellow Amarela
                        |  chegou no setor, mas, não foi aceitado ainda.
                    //p 
                        | Ação Esperada 
                        span.label.label-danger Vermelha
                        |  em atraso no setor.

                    .table-responsive
                        table.table.text-nowrap.table-hover.text-size-small#datatable
                            thead
                                tr
                                    th {{ Form::checkbox('', null, false, ['id' => 'check_order']) }}
                                    //th Fila
                                    th.col-md-1.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th.col-md-3 Informações do Pedido
                                    th.col-md-1 Material
                                    th
                                    th
                                    th
                                    th
                                    //th.col-md-1.text-center Status
                                    th.col-md-1.text-center Setor Atual
                                    th.col-md-1.text-center Status
                                    th.col-md-1.text-center Entrega
                                    th.col-md-1 Atendente
                                    th.col-md-1 Designer
                                    th.col-md-2.text-center Última Atualização
        .col-lg-12
            ul.fab-menu.fab-menu-fixed.fab-menu-bottom-right(data-fab-toggle='hover', data-popup="tooltip", title, data-original-title="Filtro", data-placement="left")
                li
                    a.fab-menu-btn.btn.bg-blue-600.btn-float.btn-rounded.btn-icon(onclick="btnFormFilter()")
                        i.fab-icon-open.icon-filter4
                        i.fab-icon-close.icon-filter3
                    ul.fab-menu-inner
                        li
                            div(data-fab-label='Limpar Filtro')
                                a.btn.btn-default.btn-rounded.btn-icon.btn-float(onclick="clearFilter();")
                                    i.icon-close2