doctype html
html
    include ../../../../../CerebeloSettings/Resources/pug/_partials/head.pug
    body
        | {!! $email_body !!}
        br
        br
        | Orçamento/Pedido nº {{ $order_number }} esta em anexo.
        
        include ../../../../../CerebeloSettings/Resources/pug/_partials/end-body.pug