.modal-dialog.modal-xs
    .modal-content
        .modal-header
            button.close(type="button", data-dismiss="modal") &times;
            h5.modal-title XML para Intregação
        .modal-body.text-center
          a.btn.btn-primary.btn-labeled.btn-xlg(href!="{{ route('storage.files', ['filename' => $file_name, 'download' => true]) }}")
            b
              i.icon-file-download2
            | Baixar Arquivo (.xml)