extends ./layout.pug

block title
    title Cadastros - Cadastro de Cliente

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Cliente

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Cliente

block content
    .col-lg-12
        .panel.panel-flat
            
            .panel-body
                fieldset.content-group
                
                    legend.text-bold Responsáveis
                    .row
                        .col-md-4
                            .form-group
                                label Atendente
                                select.form-control(name='select')
                                    option(value='opt1') Atendente
                                    option(value='opt2') Option 2
                                    option(value='opt3') Option 3
                                    option(value='opt4') Option 4
                        .col-md-4
                            .form-group
                                label Representante
                                select.form-control(name='select')
                                    option(value='opt1') Representante
                                    option(value='opt2') Option 2
                                    option(value='opt3') Option 3
                                    option(value='opt4') Option 4
                        .col-md-4
                            .form-group
                                label Designer
                                select.form-control(name='select')
                                    option(value='opt1') Designer
                                    option(value='opt2') Option 2
                                    option(value='opt3') Option 3
                                    option(value='opt4') Option 4
                                    
                
                    legend.text-bold Dados do Cliente
                    .row
                        .col-md-6
                            .form-group
                                label CPF/CNPJ
                                input.form-control.input-lg(type='text', placeholder='CPF/CNPJ')
                        .col-md-6
                            .form-group
                                label Inscrição Estadual
                                input.form-control.input-lg(type='text', placeholder='Inscrição Estadual')
                        .col-md-6
                            .form-group
                                label Razão Social/Nome
                                input.form-control.input-lg(type='text', placeholder='Razão Social/Nome')
                        .col-md-6
                            .form-group
                                label Nome Fantasia
                                input.form-control.input-lg(type='text', placeholder='Nome Fantasia')
                        .col-md-4
                            .form-group
                                label Tel
                                input.form-control.input-lg(type='text', placeholder='Tel')
                        .col-md-4
                            .form-group
                                label Tel (2)
                                input.form-control.input-lg(type='text', placeholder='Tel (2)')
                        .col-md-4
                            .form-group
                                label Email
                                input.form-control.input-lg(type='text', placeholder='Email')

                    legend.text-bold Endereço do Cliente
                    .row
                        .col-md-4
                            .form-group
                                label CEP
                                input.form-control.input-lg(type='text', placeholder='CEP')
                        .col-md-6
                            .form-group
                                label Logradouro
                                input.form-control.input-lg(type='text', placeholder='Logradouro')
                        .col-md-2
                            .form-group
                                label Número
                                input.form-control.input-lg(type='text', placeholder='Número')
                        .col-md-4
                            .form-group
                                label Complemento
                                input.form-control.input-lg(type='text', placeholder='Complemento')
                        .col-md-4
                            .form-group
                                label Bairro
                                input.form-control.input-lg(type='text', placeholder='Bairro')
                        .col-md-4
                            .form-group
                                label Cidade
                                input.form-control.input-lg(type='text', placeholder='Cidade')
                        .col-md-4
                            .form-group
                                label Estado
                                input.form-control.input-lg(type='text', placeholder='Estado')
                    
                    
                    legend.text-bold Tabelas
                    
                    .form-group
                        label Tabelas
                        select.select(multiple='multiple', data-placeholder='Tabelas')
                            option
                                option(value='AZ', selected='selected') Tabela 1
                                option(value='CO') Tabela 2
                                option(value='ID') Tabela 3
                                option(value='WY') Tabela 4
                                
                                
                    legend.text-bold Observações do Cliente
                    
                    .tabbable.content-group
                          ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
                            li.active
                              a(href='#justified-badges-tab1', data-toggle='tab')
                                span(title="Campos em branco").badge.badge-danger.position-left 05
                                |  Atendimento
                            li
                              a(href='#justified-badges-tab2', data-toggle='tab')
                                span(title="Campos em branco").badge.badge-danger.position-left 02
                                | Financeiro 
                            li
                               a(href='#justified-badges-tab3', data-toggle='tab')
                                | Design
                    .tab-content
                    
                        #justified-badges-tab1.tab-pane.active
                            .form-group
                                textarea.form-control(rows='5', cols='5', placeholder='Observações')
                            .form-group
                                .text-right
                                    button.btn.btn-success(type='button')
                                      |  Salvar Observação

                            .well
                                dl.dl-horizontal
                                    dt 30/01/2017 - Usuário
                                    dd A description list is perfect for defining terms.
                                    dt 30/01/2017 - Usuário
                                    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                    dt 30/01/2017 - Usuário
                                    dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                    dt 30/01/2017 - Usuário
                                    dd
                                        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                        
                        #justified-badges-tab2.tab-pane
                            .well
                                dl.dl-horizontal
                                    dt 30/01/2017 - Usuário
                                    dd A description list is perfect for defining terms.
                                    dt 30/01/2017 - Usuário
                                    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                    dt 30/01/2017 - Usuário
                                    dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                    dt 30/01/2017 - Usuário
                                    dd
                                        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        
                        #justified-badges-tab3.tab-pane
                            .well
                                dl.dl-horizontal
                                    dt 30/01/2017 - Usuário
                                    dd A description list is perfect for defining terms.
                                    dt 30/01/2017 - Usuário
                                    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                    dt 30/01/2017 - Usuário
                                    dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                    dt 30/01/2017 - Usuário
                                    dd
                                        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        
                        
                .text-right
                    button.btn.btn-primary(type='button')
                      i.icon-import.position-left
                      |  Adicionar Cliente