extends ./layout.pug

block title
    title Pedidos - ABC0123456789

block page-title
    span.text-semibold Pedidos
    |  - ABC0123456789

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Pedidos
    li.active ABC0123456789

block content
    .col-lg-12
        // Marketing campaigns
        .panel.panel-flat

            .panel-heading
                h6.panel-title André Augusto Marcelino - ABC0123456789
                .panel-body
                    .tabbable.content-group
                      ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
                        li.active
                          a(href='#justified-badges-tab1', data-toggle='tab')
                            |  Dados do Cliente
                        li
                          a(href='#justified-badges-tab2', data-toggle='tab')
                            | Orçamento 
                        li
                           a(href='#justified-badges-tab3', data-toggle='tab')
                            | Briefing
                        li
                           a(href='#justified-badges-tab4', data-toggle='tab')
                            | Arquivos e Observações
                      .tab-content
                      
                            .text-right
                                button.btn.btn-primary(type='button')
                                  i.icon-import.position-left
                                  |  Salvar
                                .btn-group
                                    button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                        | Mais Ações
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                          a(href='#')
                                            i.icon-price-tag
                                            |  Salvar e Enviar Orçamento
                                        li
                                          a(href='#')
                                            i.icon-move-up2
                                            |  Salvar e Enviar para Design
                      
                            #justified-badges-tab1.tab-pane.active
                                .panel-body
                                    fieldset.content-group
                                        legend.text-bold Informações para a Nota Fiscal
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label CPF/CNPJ
                                                    input.form-control.input-lg(type='text', placeholder='CPF/CNPJ')
                                            .col-md-6
                                                .form-group
                                                    label Inscrição Estadual
                                                    input.form-control.input-lg(type='text', placeholder='Inscrição Estadual')
                                            .col-md-6
                                                .form-group
                                                    label Razão Social/Nome
                                                    input.form-control.input-lg(type='text', placeholder='Razão Social/Nome')
                                            .col-md-6
                                                .form-group
                                                    label Nome Fantasia
                                                    input.form-control.input-lg(type='text', placeholder='Nome Fantasia')
                                            .col-md-4
                                                .form-group
                                                    label Tel
                                                    input.form-control.input-lg(type='text', placeholder='Tel')
                                            .col-md-4
                                                .form-group
                                                    label Tel (2)
                                                    input.form-control.input-lg(type='text', placeholder='Tel (2)')
                                            .col-md-4
                                                .form-group
                                                    label Email
                                                    input.form-control.input-lg(type='text', placeholder='Email')
                                                    
                                                    
                                        legend.text-bold Responsáveis
                                        .form-group
                                            .checkbox
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | 	Seleção de responsáveis Automaticamente
                                        .row
                                            .col-md-4
                                                .form-group
                                                    label Atendente
                                                    select.form-control(name='select')
                                                        option(value='opt1') Atendente
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                            .col-md-4
                                                .form-group
                                                    label Representante
                                                    select.form-control(name='select')
                                                        option(value='opt1') Representante
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                            .col-md-4
                                                .form-group
                                                    label Designer
                                                    select.form-control(name='select')
                                                        option(value='opt1') Designer
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                        
                                                        
                                        legend.text-bold Tabelas
                    
                                        .form-group
                                            label Tabelas
                                            select.select(multiple='multiple', data-placeholder='Tabelas')
                                                option
                                                    option(value='AZ', selected='selected') Tabela 1
                                                    option(value='CO') Tabela 2
                                                    option(value='ID') Tabela 3
                                                    option(value='WY') Tabela 4
                                                            
                                                            
                                                    
                                        legend.text-bold Endereço do Cliente
                                        .row
                                            .col-md-4
                                                .form-group
                                                    label CEP
                                                    input.form-control.input-lg(type='text', placeholder='CEP')
                                            .col-md-6
                                                .form-group
                                                    label Logradouro
                                                    input.form-control.input-lg(type='text', placeholder='Logradouro')
                                            .col-md-2
                                                .form-group
                                                    label Número
                                                    input.form-control.input-lg(type='text', placeholder='Número')
                                            .col-md-4
                                                .form-group
                                                    label Complemento
                                                    input.form-control.input-lg(type='text', placeholder='Complemento')
                                            .col-md-4
                                                .form-group
                                                    label Bairro
                                                    input.form-control.input-lg(type='text', placeholder='Bairro')
                                            .col-md-4
                                                .form-group
                                                    label Cidade
                                                    input.form-control.input-lg(type='text', placeholder='Cidade')
                                            .col-md-4
                                                .form-group
                                                    label Estado
                                                    input.form-control.input-lg(type='text', placeholder='Estado')
                                    
                                    
                                    fieldset
                                        legend.text-bold Endereço de Entrega

                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | 	Usar Endereço da Nota Fiscal

                                    .row
                                        .col-md-4
                                            .form-group
                                                label CEP
                                                input.form-control.input-lg(type='text', placeholder='CEP')
                                        .col-md-6
                                            .form-group
                                                label Logradouro
                                                input.form-control.input-lg(type='text', placeholder='Logradouro')
                                        .col-md-2
                                            .form-group
                                                label Número
                                                input.form-control.input-lg(type='text', placeholder='Número')
                                        .col-md-4
                                            .form-group
                                                label Complemento
                                                input.form-control.input-lg(type='text', placeholder='Complemento')
                                        .col-md-4
                                            .form-group
                                                label Bairro
                                                input.form-control.input-lg(type='text', placeholder='Bairro')
                                        .col-md-4
                                            .form-group
                                                label Cidade
                                                input.form-control.input-lg(type='text', placeholder='Cidade')
                                        .col-md-4
                                            .form-group
                                                label Estado
                                                input.form-control.input-lg(type='text', placeholder='Estado')
                                                
                                                
                                    fieldset
                                        legend.text-bold Endereços Salvos    
                                        
                                    .row   
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                                        
                                            
                                    fieldset.content-group
                                        legend.text-bold Observações do Cliente

                                        .form-group
                                            label Observações
                                            textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                    



                            #justified-badges-tab2.tab-pane

                                .panel-body
                                    fieldset.content-group
                                        .form-group
                                            .row
                                                .col-lg-6
                                                    label Tabela
                                                    select.form-control(name='select')
                                                        option(value='opt1') Tabela
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                        
                                                        
                                    fieldset.content-group
                                        legend.text-bold Pedido
                                        
                                      
                                        //PRODUTO
                                        .panel.panel-danger.panel-bordered
                                            .panel-heading
                                                form.heading-form(action='#')
                                                    .form-group
                                                        select.select-search
                                                            option(value='AZ') Produto #
                                                            option(value='CO') Produto #
                                                            option(value='ID') Produto #
                                                            option(value='WY') Produto #
                                                            
                                                .heading-elements
                                                    form.heading-form(action='#')
                                                        .btn-group
                                                            button.btn.btn-info.btn-labeled.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                b
                                                                    i.icon-file-plus
                                                                |  Adicionar Material 
                                                                span.caret
                                                            ul.dropdown-menu.dropdown-menu-right
                                                                li
                                                                    a(href='#')
                                                                        |  Material X
                                                                li
                                                                    a(href='#')
                                                                        |  Material Y
                                                                li
                                                                    a(href='#')
                                                                        |  Material Z
                                                    ul.icons-list
                                                        li
                                                            a(data-action='close')
                                                        
                                                        
                                            .panel-body
                                            
                                                .table-responsive
                                                    table.table
                                                        thead
                                                            tr
                                                                th Material
                                                                th.col-md-3 Tamanho
                                                                th.col-md-3 Quantidade
                                                                th.text-center(style='width: 20px;')
                                                                    i.icon-arrow-down12 
                                                        tbody
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                                    
        
                                                    
                                        .text-center       
                                            button.btn.btn-danger.btn-rounded.btn-lg(type='button')
                                                i.icon-plus3.position-left
                                                | Adicionar Mais Produtos
                                                
                                                
                                        legend.text-bold Frete
                                        
                                        .form-group
                                            .row
                                                .col-lg-3
                                                    label Modalidade de Frete
                                                    select.form-control(name='select')
                                                        option(value='opt1') Frete 
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                .col-lg-3
                                                    label Volumes
                                                    input.form-control.input-lg(type='text', placeholder='Volumes')
                                                    
                                        legend.text-bold Total 
                                        
                                        .content-group
                                            .row
                                                .col-md-2
                                                    .content-group
                                                        h6.text-semibold.no-margin.text-slate
                                                            i.icon-truck.position-left.text-slate
                                                            |  R$ 15,00
                                                        span.text-muted.text-size-small Valor do Frete

                                                .col-md-2
                                                    .content-group
                                                        h6.text-semibold.no-margin.text-warning
                                                            i.icon-cash3.position-left.text-warning
                                                            |  4.563,25
                                                        span.text-size-small Total do Pedido
                                                        
                                                        
                                        legend.text-bold Forma de Pagamento 
                                                
                                        .content-group
                                            .row
                                                .col-lg-2
                                                    .form-group
                                                        label Selecione a forma de pagamento
                                                        select.form-control(name='select')
                                                            option(value='opt1') À vista 
                                                            option(value='opt2') 50%
                                                            option(value='opt3') Parcelado
                                                .col-lg-1
                                                    .form-group
                                                        label Parcelas
                                                        select.form-control(name='select')
                                                            option(value='opt1') 1 
                                                            option(value='opt2') 2
                                                            option(value='opt3') 3
                                                            option(value='opt1') 4 
                                                            option(value='opt2') 5
                                                            option(value='opt3') 6
                                                            
                                            .row
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 1
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 1')
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 2
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 2')
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 3
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 3')
                                                        
                                                        
                                                        
                                fieldset.content-group
                                    legend.text-bold Observações de Pagamento

                                    .form-group
                                        label Observações
                                        textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                        


                            #justified-badges-tab3.tab-pane
                                .form-group
                                    h3 Qual nome do grupo, evento ou equipe?
                                    input.form-control.input-lg(type='text', placeholder='Qual nome do grupo, evento ou equipe?')
                                    
                                .form-group
                                    h3 Qual a finalidade do material?
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Equipe Profissional
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Revenda
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Evento
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Grupo Pedal
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Lojista
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Outro
                                    input.form-control.input-xs(type='text', placeholder='Qual?')
                                    
                                .form-group
                                    h3 Qual a modalidade?
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | MTB
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Down Hill
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Speed
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Romaria
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Outro
                                    input.form-control.input-xs(type='text', placeholder='Qual?')
                                    
                                .form-group
                                    h3 Haverá apoio da ERT?
                                    .form-group
                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | SIM

                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | NÃO
                                        
                                    p.text-muted.text-size-small
                                        | DEIXE O CLIENTE CIENTE DE QUE NÃO HÁ VARIAÇÃO DE COR, LOCAL OU TAMANHO DA LOGO ERT.
                                        
                                .form-group
                                    h3 Existe logo a ser criada?
                                    .form-group
                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | SIM

                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | NÃO
                                        
                                    p.text-muted.text-size-small
                                        | DESCREVA NOS MÍNIMOS DETALHES COMO DEVERÁ SER CRIADA (DESENHO, CORES, ESCRITO):
                                        
                                    textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                                    
                                .form-group
                                    h3.display-block Quais os materiais a serem desenvolvidos?
                                    
                                    .row
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                                    
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                                
                                .form-group
                                    h3.display-block Qual a ordem de distribuição das logos?
                                    p.text-muted.text-size-small
                                        | INSISTA QUE TODAS AS LOGOS DEVERÃO ESTAR EM VETOR OU ALTA QUALIDADE
                                        
                                    .form-group
                                        label Frente
                                        input.form-control.input-lg(type='text', placeholder='Frente')
                                    .form-group
                                        label Costas
                                        input.form-control.input-lg(type='text', placeholder='Costas')
                                    .form-group
                                        label Mangas
                                        input.form-control.input-lg(type='text', placeholder='Frente')
                                    .form-group
                                        label Laterais
                                        input.form-control.input-lg(type='text', placeholder='Costas')
                                    .form-group
                                        label Pernas
                                        input.form-control.input-lg(type='text', placeholder='Costas')
                                        
                                .form-group
                                    h3 Haverá personalização individual?
                                    .form-group
                                        .row
                                            .col-md-3
                                                .radio
                                                    label
                                                        input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                        | SIM
                                            .col-md-9
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                            
                                    .form-group
                                        .radio
                                            label
                                                input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                | NÃO
                                                
                                .form-group
                                    h3 Existe algum modelo que deva ser usado de referência?
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | SIM

                                                p.text-muted.text-size-small
                                                    | SE MANDOU IMAGEM, SALVAR NA PASTA CLIENTE/ARQUIVOS, SE NÃO MANDOU, QUAL MODELO ELE DESEJA ACOMPANHAR?
                                                    
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | NÃO

                                                p.text-muted.text-size-small
                                                    | CRIAÇÃO LIVRE
                                        
                                    textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                                    
                                .form-group
                                    h3 Deseja que a arte seja:
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | Igual

                                                    
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | Parecido

                                                p.text-muted.text-size-small
                                                    | ACOMPANHAR (CORES, GRAFISMO, ETC), DESCREVA:
                                        
                                                textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                                .form-group
                                    h3 Quais as cores principais e qual a ordem de predominância das mesmas?
                                    .form-group
                                        p.text-muted.text-size-small
                                            | Cores
                                        .row
                                            .col-md-3
                                                label 1°
                                                    input.form-control.input-lg(type='text', placeholder='1°')
                                            .col-md-3
                                                label 2°
                                                    input.form-control.input-lg(type='text', placeholder='2°')
                                            .col-md-3
                                                label 3°
                                                    input.form-control.input-lg(type='text', placeholder='3°')
                                            .col-md-3
                                                label 4°
                                                    input.form-control.input-lg(type='text', placeholder='4°')
                                                    
                                .form-group
                                    h3 O cliente quer algum elemento específico no uniforme?
                                    .form-group
                                        p.text-muted.text-size-small
                                            | BANDEIRAS / DESENHO / EFEITO / IMAGEM / MAPA CORES DE BANDEIRA
                                            
                                        textarea.form-control(rows='5', cols='5', placeholder='Descreva')
                                .form-group
                                    h3 (Opcional, somente se o cliente pedir) - Algum modelo a mais ou variação: Descreva:        
                                    textarea.form-control(rows='5', cols='5', placeholder='Descreva')
                                    
                                .form-group
                                    h3 Cole abaixo informações adicionais do cliente, cedidas por email ou whatsapp:        
                                    textarea.form-control(rows='5', cols='5', placeholder='Descreva')
                            
                                        
                                    
                            #justified-badges-tab4.tab-pane
                                .row
                                    .col-md-6
                                        h4 
                                            | Observações
                                        .form-group
                                            textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                        .form-group
                                            .text-right
                                                button.btn.btn-primary(type='button')
                                                  i.icon-import.position-left
                                                  |  Salvar Observação
                                              
                                        .well
                                            dl.dl-horizontal
                                                dt 30/01/2017 - Usuário
                                                dd A description list is perfect for defining terms.
                                                dt 30/01/2017 - Usuário
                                                dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                                dt 30/01/2017 - Usuário
                                                dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                                dt 30/01/2017 - Usuário
                                                dd
                                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
 
                                        
                                            
                                    .col-md-6
                                        h4 
                                            | Arquivos
                                            
                                        .form-group
                                            label Nome do Arquivo
                                            input.form-control.input-lg(type='text', placeholder='Nome do Arquivo')
                                        .form-group    
                                            input.file-styled(type='file')
                                            
                                        .table-responsive
                                            table.table.text-nowrap
                                                thead
                                                    tr
                                                        th Identificação

                                                        th.col-md-2 Setor
                                                        
                                                        th.col-md-2 Data

                                                        th.text-center(style='width: 20px;')
                                                            i.icon-arrow-down12

                                                tbody
                                                    tr
                                                        td

                                                            .media-left
                                                                div
                                                                    text-default.text-semibold(href='#') Pagamento
                                                        td
                                                            span
                                                                |  Atendimento
                                                        td
                                                            span
                                                                |  01/01/2017

                                                        td.text-center
                                                            ul.icons-list
                                                                li.dropdown
                                                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                        i.icon-menu7

                                                                    ul.dropdown-menu.dropdown-menu-right
                                                                        li
                                                                            a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                                i.icon-pencil5
                                                                                |  Baixar

                                                                        li
                                                                            a(href='#')
                                                                                i.icon-printer2
                                                                                |  Excluir
                                                    tr
                                                        td

                                                            .media-left
                                                                div
                                                                    text-default.text-semibold(href='#') Arte
                                                        td
                                                            span
                                                                |  Design
                                                        td
                                                            span
                                                                |  01/01/2017

                                                        td.text-center
                                                            ul.icons-list
                                                                li.dropdown
                                                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                        i.icon-menu7

                                                                    ul.dropdown-menu.dropdown-menu-right
                                                                        li
                                                                            a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                                i.icon-pencil5
                                                                                |  Baixar

                                                                        li
                                                                            a(href='#')
                                                                                i.icon-printer2
                                                                                |  Excluir
                                            
                                        
                                    
                                                     
                                                                        
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar
                        .btn-group
                            button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Mais Ações
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                  a(href='#')
                                    i.icon-price-tag
                                    |  Salvar e Enviar Orçamento
                                li
                                  a(href='#')
                                    i.icon-move-up2
                                    |  Salvar e Enviar para Design