extends ./layout.pug

block title
    title Pedidos - ABC0123456789

block page-title
    span.text-semibold Pedidos
    |  - ABC0123456789

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Pedidos
    li.active ABC0123456789

block content
    .col-lg-12
        // Marketing campaigns
        .panel.panel-flat

            .panel-heading
                h6.panel-title André Augusto Marcelino - ABC0123456789
                .panel-body
                    .tabbable.content-group
                      ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
                        li.active
                          a(href='#justified-badges-tab1', data-toggle='tab')
                            | Orçamento 
                        li
                           a(href='#justified-badges-tab2', data-toggle='tab')
                            | Arquivos e Observações
                      .tab-content
                      
                            .text-right
                                button.btn.btn-primary(type='button')
                                  i.icon-import.position-left
                                  |  Salvar
                                .btn-group
                                    button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                        | Mais Ações
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                          a(href='#')
                                            i.icon-price-tag
                                            |  Salvar e Enviar Orçamento
                                        li
                                          a(href='#')
                                            i.icon-move-up2
                                            |  Salvar e Enviar para Design
                      
                            

                            #justified-badges-tab1.tab-pane.active

                                .panel-body
                                    fieldset.content-group
                                        .form-group
                                            .row
                                                .col-lg-6
                                                    label Tabela
                                                    select.form-control(name='select')
                                                        option(value='opt1') Tabela
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                        
                                                        
                                    fieldset.content-group
                                        legend.text-bold Pedido
                                        
                                      
                                        //PRODUTO
                                        .panel.panel-danger.panel-bordered
                                            .panel-heading
                                                form.heading-form(action='#')
                                                    .form-group
                                                        select.select-search
                                                            option(value='AZ') Produto #
                                                            option(value='CO') Produto #
                                                            option(value='ID') Produto #
                                                            option(value='WY') Produto #
                                                            
                                                .heading-elements
                                                    form.heading-form(action='#')
                                                        .btn-group
                                                            button.btn.btn-info.btn-labeled.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                b
                                                                    i.icon-file-plus
                                                                |  Adicionar Material 
                                                                span.caret
                                                            ul.dropdown-menu.dropdown-menu-right
                                                                li
                                                                    a(href='#')
                                                                        |  Material X
                                                                li
                                                                    a(href='#')
                                                                        |  Material Y
                                                                li
                                                                    a(href='#')
                                                                        |  Material Z
                                                    ul.icons-list
                                                        li
                                                            a(data-action='close')
                                                        
                                                        
                                            .panel-body
                                            
                                                .table-responsive
                                                    table.table
                                                        thead
                                                            tr
                                                                th Material
                                                                th.col-md-3 Tamanho
                                                                th.col-md-3 Quantidade
                                                                th.text-center(style='width: 20px;')
                                                                    i.icon-arrow-down12 
                                                        tbody
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                                    
        
                                                    
                                        .text-center       
                                            button.btn.btn-danger.btn-rounded.btn-lg(type='button')
                                                i.icon-plus3.position-left
                                                | Adicionar Mais Produtos
                                                
                                                
                                        legend.text-bold Frete
                                        
                                        .form-group
                                            .row
                                                .col-lg-3
                                                    label Modalidade de Frete
                                                    select.form-control(name='select')
                                                        option(value='opt1') Frete 
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                .col-lg-3
                                                    label Volumes
                                                    input.form-control.input-lg(type='text', placeholder='Volumes')
                                                    
                                        legend.text-bold Total 
                                        
                                        .content-group
                                            .row
                                                .col-md-2
                                                    .content-group
                                                        h6.text-semibold.no-margin.text-slate
                                                            i.icon-truck.position-left.text-slate
                                                            |  R$ 15,00
                                                        span.text-muted.text-size-small Valor do Frete

                                                .col-md-2
                                                    .content-group
                                                        h6.text-semibold.no-margin.text-warning
                                                            i.icon-cash3.position-left.text-warning
                                                            |  4.563,25
                                                        span.text-size-small Total do Pedido
                                                        
                                                        
                                        legend.text-bold Forma de Pagamento 
                                                
                                        .content-group
                                            .row
                                                .col-lg-2
                                                    .form-group
                                                        label Selecione a forma de pagamento
                                                        select.form-control(name='select')
                                                            option(value='opt1') À vista 
                                                            option(value='opt2') 50%
                                                            option(value='opt3') Parcelado
                                                .col-lg-1
                                                    .form-group
                                                        label Parcelas
                                                        select.form-control(name='select')
                                                            option(value='opt1') 1 
                                                            option(value='opt2') 2
                                                            option(value='opt3') 3
                                                            option(value='opt1') 4 
                                                            option(value='opt2') 5
                                                            option(value='opt3') 6
                                                            
                                            .row
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 1
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 1')
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 2
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 2')
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 3
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 3')
                                                        
                                                        
                                                        
                                fieldset.content-group
                                    legend.text-bold Observações de Pagamento

                                    .form-group
                                        label Observações
                                        textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                        

                                        
                                    
                            #justified-badges-tab2.tab-pane
                                .row
                                    .col-md-6
                                        h4 
                                            | Observações
                                        .form-group
                                            textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                        .form-group
                                            .text-right
                                                button.btn.btn-primary(type='button')
                                                  i.icon-import.position-left
                                                  |  Salvar Observação
                                              
                                        .well
                                            dl.dl-horizontal
                                                dt 30/01/2017 - Usuário
                                                dd A description list is perfect for defining terms.
                                                dt 30/01/2017 - Usuário
                                                dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                                dt 30/01/2017 - Usuário
                                                dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                                dt 30/01/2017 - Usuário
                                                dd
                                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
 
                                        
                                            
                                    .col-md-6
                                        h4 
                                            | Arquivos
                                            
                                        .form-group
                                            label Nome do Arquivo
                                            input.form-control.input-lg(type='text', placeholder='Nome do Arquivo')
                                        .form-group    
                                            input.file-styled(type='file')
                                            
                                        .table-responsive
                                            table.table.text-nowrap
                                                thead
                                                    tr
                                                        th Identificação

                                                        th.col-md-2 Setor
                                                        
                                                        th.col-md-2 Data

                                                        th.text-center(style='width: 20px;')
                                                            i.icon-arrow-down12

                                                tbody
                                                    tr
                                                        td

                                                            .media-left
                                                                div
                                                                    text-default.text-semibold(href='#') Pagamento
                                                        td
                                                            span
                                                                |  Atendimento
                                                        td
                                                            span
                                                                |  01/01/2017

                                                        td.text-center
                                                            ul.icons-list
                                                                li.dropdown
                                                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                        i.icon-menu7

                                                                    ul.dropdown-menu.dropdown-menu-right
                                                                        li
                                                                            a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                                i.icon-pencil5
                                                                                |  Baixar

                                                                        li
                                                                            a(href='#')
                                                                                i.icon-printer2
                                                                                |  Excluir
                                                    tr
                                                        td

                                                            .media-left
                                                                div
                                                                    text-default.text-semibold(href='#') Arte
                                                        td
                                                            span
                                                                |  Design
                                                        td
                                                            span
                                                                |  01/01/2017

                                                        td.text-center
                                                            ul.icons-list
                                                                li.dropdown
                                                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                        i.icon-menu7

                                                                    ul.dropdown-menu.dropdown-menu-right
                                                                        li
                                                                            a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                                i.icon-pencil5
                                                                                |  Baixar

                                                                        li
                                                                            a(href='#')
                                                                                i.icon-printer2
                                                                                |  Excluir
                                            
                                        
                                    
                                                     
                                                                        
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar
                        .btn-group
                            button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Mais Ações
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                  a(href='#')
                                    i.icon-price-tag
                                    |  Salvar e Enviar Orçamento
                                li
                                  a(href='#')
                                    i.icon-move-up2
                                    |  Salvar e Enviar para Design