extends ./layout.pug

block title
    title Pedidos - Novo Pedido

block page-title
    span.text-semibold Pedidos
    |  - Novo Pedido

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Pedidos
    li.active Novo Pedido

block content
    .col-lg-12
        // Marketing campaigns
        .panel.panel-flat

            .panel-heading
                h6.panel-title Novo Pedido
                .panel-body
                    .tabbable.content-group
                      ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
                        li.active
                          a(href='#justified-badges-tab1', data-toggle='tab')
                            |  Dados do Cliente
                        li
                          a(href='#justified-badges-tab2', data-toggle='tab')
                            | Orçamento 
                      .tab-content
                      
                            .text-right
                                button.btn.btn-primary(type='button')
                                  i.icon-import.position-left
                                  |  Salvar Pedido
                                .btn-group
                                    button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                        | Mais Ações
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                          a(href='#')
                                            i.icon-move-up2
                                            |  Salvar e Enviar para Envio
                                        li
                                          a(href='#')
                                            i.icon-move-up2
                                            |  Salvar e Enviar Pedido

                            #justified-badges-tab1.tab-pane.active
                                .panel-body
                                    fieldset.content-group
                                        legend.text-bold Informações para a Nota Fiscal
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label CPF/CNPJ
                                                    input.form-control.input-lg(type='text', placeholder='CPF/CNPJ')
                                            .col-md-6
                                                .form-group
                                                    label Inscrição Estadual
                                                    input.form-control.input-lg(type='text', placeholder='Inscrição Estadual')
                                            .col-md-6
                                                .form-group
                                                    label Razão Social/Nome
                                                    input.form-control.input-lg(type='text', placeholder='Razão Social/Nome')
                                            .col-md-6
                                                .form-group
                                                    label Nome Fantasia
                                                    input.form-control.input-lg(type='text', placeholder='Nome Fantasia')
                                            .col-md-4
                                                .form-group
                                                    label Tel
                                                    input.form-control.input-lg(type='text', placeholder='Tel')
                                            .col-md-4
                                                .form-group
                                                    label Tel (2)
                                                    input.form-control.input-lg(type='text', placeholder='Tel (2)')
                                            .col-md-4
                                                .form-group
                                                    label Email
                                                    input.form-control.input-lg(type='text', placeholder='Email')
                                                    
                                                    
                                        legend.text-bold Responsáveis
                                        .form-group
                                            .checkbox
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | 	Seleção de responsáveis Automaticamente
                                        .row
                                            .col-md-4
                                                .form-group
                                                    label Atendente
                                                    select.form-control(name='select')
                                                        option(value='opt1') Atendente
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                            .col-md-4
                                                .form-group
                                                    label Representante
                                                    select.form-control(name='select')
                                                        option(value='opt1') Representante
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                            .col-md-4
                                                .form-group
                                                    label Designer
                                                    select.form-control(name='select')
                                                        option(value='opt1') Designer
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                            
                                                            
                                                    
                                        legend.text-bold Endereço do Cliente
                                        .row
                                            .col-md-4
                                                .form-group
                                                    label CEP
                                                    input.form-control.input-lg(type='text', placeholder='CEP')
                                            .col-md-6
                                                .form-group
                                                    label Logradouro
                                                    input.form-control.input-lg(type='text', placeholder='Logradouro')
                                            .col-md-2
                                                .form-group
                                                    label Número
                                                    input.form-control.input-lg(type='text', placeholder='Número')
                                            .col-md-4
                                                .form-group
                                                    label Complemento
                                                    input.form-control.input-lg(type='text', placeholder='Complemento')
                                            .col-md-4
                                                .form-group
                                                    label Bairro
                                                    input.form-control.input-lg(type='text', placeholder='Bairro')
                                            .col-md-4
                                                .form-group
                                                    label Cidade
                                                    input.form-control.input-lg(type='text', placeholder='Cidade')
                                            .col-md-4
                                                .form-group
                                                    label Estado
                                                    input.form-control.input-lg(type='text', placeholder='Estado')
                                    
                                    
                                    fieldset
                                        legend.text-bold Endereço de Entrega

                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | 	Usar Endereço da Nota Fiscal

                                    .row
                                        .col-md-4
                                            .form-group
                                                label CEP
                                                input.form-control.input-lg(type='text', placeholder='CEP')
                                        .col-md-6
                                            .form-group
                                                label Logradouro
                                                input.form-control.input-lg(type='text', placeholder='Logradouro')
                                        .col-md-2
                                            .form-group
                                                label Número
                                                input.form-control.input-lg(type='text', placeholder='Número')
                                        .col-md-4
                                            .form-group
                                                label Complemento
                                                input.form-control.input-lg(type='text', placeholder='Complemento')
                                        .col-md-4
                                            .form-group
                                                label Bairro
                                                input.form-control.input-lg(type='text', placeholder='Bairro')
                                        .col-md-4
                                            .form-group
                                                label Cidade
                                                input.form-control.input-lg(type='text', placeholder='Cidade')
                                        .col-md-4
                                            .form-group
                                                label Estado
                                                input.form-control.input-lg(type='text', placeholder='Estado')
                                                
                                                
                                    fieldset
                                        legend.text-bold Endereços Salvos    
                                        
                                    .row   
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                        .col-md-3
                                            .panel
                                                .panel-body
                                                    .checkbox
                                                        label
                                                            input.styled(type='checkbox', checked='checked')
                                                            | 	Usar este endereço
                                                    p
                                                        | CEP: 36030-040
                                                    p
                                                        | Rua Machado Sobrinho, 330, Casa X
                                                    p
                                                        | Alto dos Passos - Juiz de Fora - MG
                                                        
                                            
                                    fieldset.content-group
                                        legend.text-bold Observações do Cliente

                                        .form-group
                                            label Observações
                                            textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                    



                            #justified-badges-tab2.tab-pane

                                .panel-body
                                    fieldset.content-group
                                        .form-group
                                            .row
                                                .col-lg-6
                                                    label Tabela
                                                    select.form-control(name='select')
                                                        option(value='opt1') Tabela
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                        
                                                        
                                    fieldset.content-group
                                        legend.text-bold Pedido
                                        
                                      
                                        //PRODUTO
                                        .panel.panel-danger.panel-bordered
                                            .panel-heading
                                                form.heading-form(action='#')
                                                    .form-group
                                                        select.select-search
                                                            option(value='AZ') Produto #
                                                            option(value='CO') Produto #
                                                            option(value='ID') Produto #
                                                            option(value='WY') Produto #
                                                            
                                                .heading-elements
                                                    form.heading-form(action='#')
                                                        .btn-group
                                                            button.btn.btn-info.btn-labeled.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                b
                                                                    i.icon-file-plus
                                                                |  Adicionar Material 
                                                                span.caret
                                                            ul.dropdown-menu.dropdown-menu-right
                                                                li
                                                                    a(href='#')
                                                                        |  Material X
                                                                li
                                                                    a(href='#')
                                                                        |  Material Y
                                                                li
                                                                    a(href='#')
                                                                        |  Material Z
                                                    ul.icons-list
                                                        li
                                                            a(data-action='close')
                                                        
                                                        
                                            .panel-body
                                            
                                                .table-responsive
                                                    table.table
                                                        thead
                                                            tr
                                                                th Material
                                                                th.col-md-3 Tamanho
                                                                th.col-md-3 Quantidade
                                                                th.text-center(style='width: 20px;')
                                                                    i.icon-arrow-down12 
                                                        tbody
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                            tr
                                                                td 
                                                                    select.form-control.input-xs
                                                                        option(value='AK') Opção 1
                                                                        option(value='HI') Opção 2
                                                                td
                                                                    select.form-control.input-xs(name='select')
                                                                        option(value='opt1') Tamanho
                                                                        option(value='opt2') Option 2
                                                                        option(value='opt3') Option 3
                                                                        option(value='opt4') Option 4
                                                                td 
                                                                    input.form-control.input-xs(type='text', placeholder='Quantidade')
                                                                td.icons-list.text-center
                                                                    a(data-action='close')
                                                                    
        
                                                    
                                        .text-center       
                                            button.btn.btn-danger.btn-rounded.btn-lg(type='button')
                                                i.icon-plus3.position-left
                                                | Adicionar Mais Produtos
                                                
                                                
                                        legend.text-bold Frete
                                        
                                        .form-group
                                            .row
                                                .col-lg-3
                                                    label Modalidade de Frete
                                                    select.form-control(name='select')
                                                        option(value='opt1') Frete 
                                                        option(value='opt2') Option 2
                                                        option(value='opt3') Option 3
                                                        option(value='opt4') Option 4
                                                .col-lg-3
                                                    label Volumes
                                                    input.form-control.input-lg(type='text', placeholder='Volumes')
                                                    
                                        legend.text-bold Total 
                                        
                                        .content-group
                                            .row
                                                .col-md-2
                                                    .content-group
                                                        h6.text-semibold.no-margin.text-slate
                                                            i.icon-truck.position-left.text-slate
                                                            |  R$ 15,00
                                                        span.text-muted.text-size-small Valor do Frete

                                                .col-md-2
                                                    .content-group
                                                        h6.text-semibold.no-margin.text-warning
                                                            i.icon-cash3.position-left.text-warning
                                                            |  4.563,25
                                                        span.text-size-small Total do Pedido
                                                        
                                                        
                                        legend.text-bold Forma de Pagamento 
                                                
                                        .content-group
                                            .row
                                                .col-lg-2
                                                    .form-group
                                                        label Selecione a forma de pagamento
                                                        select.form-control(name='select')
                                                            option(value='opt1') À vista 
                                                            option(value='opt2') 50%
                                                            option(value='opt3') Parcelado
                                                .col-lg-1
                                                    .form-group
                                                        label Parcelas
                                                        select.form-control(name='select')
                                                            option(value='opt1') 1 
                                                            option(value='opt2') 2
                                                            option(value='opt3') 3
                                                            option(value='opt1') 4 
                                                            option(value='opt2') 5
                                                            option(value='opt3') 6
                                                            
                                            .row
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 1
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 1')
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 2
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 2')
                                                .col-lg-2
                                                    .form-group
                                                        label Parcela 3
                                                            input.form-control.input-lg(type='text', placeholder='Parcela 3')
                                                        
                                                        
                                                        
                                fieldset.content-group
                                    legend.text-bold Observações de Pagamento

                                    .form-group
                                        label Observações
                                        textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                        
                                            
                                        
                                    
                                                     
                                                                        
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar Pedido
                        .btn-group
                            button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Mais Ações
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                  a(href='#')
                                    i.icon-move-up2
                                    |  Salvar e Enviar para Envio
                                li
                                  a(href='#')
                                    i.icon-move-up2
                                    |  Salvar e Enviar Pedido