extends ./layout.pug

block title
    title Pedidos - Pedido ABC0123456789

block page-title
    span.text-semibold Pedidos
    |  - Pedido ABC0123456789

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Pedidos
    li.active Pedido ABC0123456789

block content
    .col-lg-12
        // Marketing campaigns
        .panel.panel-flat

            .panel-heading
                h6.panel-title
                    h4.text-danger
                        | REVISÃO
                    | André Augusto Marcelino - Pedido ABC0123456789
                .panel-body
                    .tabbable.content-group
                      ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
                        li.active
                           a(href='#justified-badges-tab1', data-toggle='tab')
                            | Briefing
                        li
                           a(href='#justified-badges-tab2', data-toggle='tab')
                            | Arquivos e Acompanhamento
                      .tab-content
                      
                            .text-right
                                button.btn.btn-primary(type='button')
                                  i.icon-import.position-left
                                  |  Salvar Pedido
                                .btn-group
                                    button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                        | Mais Ações
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                          a(href='#')
                                            i.icon-eye
                                            |  Salvar e Enviar para Gerência
                                        li
                                          a(href='#')
                                            i.icon-hammer-wrench
                                            |  Salvar e Enviar para Produção


                            #justified-badges-tab1.tab-pane.active
                                .form-group
                                    h3 Qual nome do grupo, evento ou equipe?
                                    input.form-control.input-lg(type='text', placeholder='Qual nome do grupo, evento ou equipe?')
                                    
                                .form-group
                                    h3 Qual a finalidade do material?
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Equipe Profissional
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Revenda
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Evento
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Grupo Pedal
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Lojista
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Outro
                                    input.form-control.input-xs(type='text', placeholder='Qual?')
                                    
                                .form-group
                                    h3 Qual a modalidade?
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | MTB
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Down Hill
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Speed
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Romaria
                                    .checkbox
                                        label
                                            input.styled(type='checkbox', checked='checked')
                                            | Outro
                                    input.form-control.input-xs(type='text', placeholder='Qual?')
                                    
                                .form-group
                                    h3 Haverá apoio da ERT?
                                    .form-group
                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | SIM

                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | NÃO
                                        
                                    p.text-muted.text-size-small
                                        | DEIXE O CLIENTE CIENTE DE QUE NÃO HÁ VARIAÇÃO DE COR, LOCAL OU TAMANHO DA LOGO ERT.
                                        
                                .form-group
                                    h3 Existe logo a ser criada?
                                    .form-group
                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | SIM

                                        label.radio-inline
                                            input.styled(type='radio', name='radio-inline-left', checked='checked')
                                            | NÃO
                                        
                                    p.text-muted.text-size-small
                                        | DESCREVA NOS MÍNIMOS DETALHES COMO DEVERÁ SER CRIADA (DESENHO, CORES, ESCRITO):
                                        
                                    textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                                    
                                .form-group
                                    h3.display-block Quais os materiais a serem desenvolvidos?
                                    
                                    .row
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                                    
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                        .col-md-3
                                            .checkbox-inline
                                                label
                                                    input.styled(type='checkbox', checked='checked')
                                                    | Camisa Elite
                                                
                                .form-group
                                    h3.display-block Qual a ordem de distribuição das logos?
                                    p.text-muted.text-size-small
                                        | INSISTA QUE TODAS AS LOGOS DEVERÃO ESTAR EM VETOR OU ALTA QUALIDADE
                                        
                                    .form-group
                                        label Frente
                                        input.form-control.input-lg(type='text', placeholder='Frente')
                                    .form-group
                                        label Costas
                                        input.form-control.input-lg(type='text', placeholder='Costas')
                                    .form-group
                                        label Mangas
                                        input.form-control.input-lg(type='text', placeholder='Frente')
                                    .form-group
                                        label Laterais
                                        input.form-control.input-lg(type='text', placeholder='Costas')
                                    .form-group
                                        label Pernas
                                        input.form-control.input-lg(type='text', placeholder='Costas')
                                        
                                .form-group
                                    h3 Haverá personalização individual?
                                    .form-group
                                        .row
                                            .col-md-3
                                                .radio
                                                    label
                                                        input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                        | SIM
                                            .col-md-9
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                                .checkbox
                                                    label
                                                        input.styled(type='checkbox', checked='checked')
                                                        | Camisa Elite
                                            
                                    .form-group
                                        .radio
                                            label
                                                input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                | NÃO
                                                
                                .form-group
                                    h3 Existe algum modelo que deva ser usado de referência?
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | SIM

                                                p.text-muted.text-size-small
                                                    | SE MANDOU IMAGEM, SALVAR NA PASTA CLIENTE/ARQUIVOS, SE NÃO MANDOU, QUAL MODELO ELE DESEJA ACOMPANHAR?
                                                    
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | NÃO

                                                p.text-muted.text-size-small
                                                    | CRIAÇÃO LIVRE
                                        
                                    textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                                    
                                .form-group
                                    h3 Deseja que a arte seja:
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | Igual

                                                    
                                            .col-md-6
                                                label.radio-inline
                                                    input.styled(type='radio', name='radio-inline-left', checked='checked')
                                                    | Parecido

                                                p.text-muted.text-size-small
                                                    | ACOMPANHAR (CORES, GRAFISMO, ETC), DESCREVA:
                                        
                                                textarea.form-control(rows='5', cols='5', placeholder='Default textarea')
                                .form-group
                                    h3 Quais as cores principais e qual a ordem de predominância das mesmas?
                                    .form-group
                                        p.text-muted.text-size-small
                                            | Cores
                                        .row
                                            .col-md-3
                                                label 1°
                                                    input.form-control.input-lg(type='text', placeholder='1°')
                                            .col-md-3
                                                label 2°
                                                    input.form-control.input-lg(type='text', placeholder='2°')
                                            .col-md-3
                                                label 3°
                                                    input.form-control.input-lg(type='text', placeholder='3°')
                                            .col-md-3
                                                label 4°
                                                    input.form-control.input-lg(type='text', placeholder='4°')
                                                    
                                .form-group
                                    h3 O cliente quer algum elemento específico no uniforme?
                                    .form-group
                                        p.text-muted.text-size-small
                                            | BANDEIRAS / DESENHO / EFEITO / IMAGEM / MAPA CORES DE BANDEIRA
                                            
                                        textarea.form-control(rows='5', cols='5', placeholder='Descreva')
                                .form-group
                                    h3 (Opcional, somente se o cliente pedir) - Algum modelo a mais ou variação: Descreva:        
                                    textarea.form-control(rows='5', cols='5', placeholder='Descreva')
                                    
                                .form-group
                                    h3 Cole abaixo informações adicionais do cliente, cedidas por email ou whatsapp:        
                                    textarea.form-control(rows='5', cols='5', placeholder='Descreva')
                                        
                                    
                            #justified-badges-tab2.tab-pane
                                .row
                                    .col-md-6
                                        h4 
                                            | Observações
                                        .form-group
                                            textarea.form-control(rows='5', cols='5', placeholder='Observações')
                                        .form-group
                                            .text-right
                                                button.btn.btn-primary(type='button')
                                                  i.icon-import.position-left
                                                  |  Salvar Observação
                                              
                                        .well
                                            dl.dl-horizontal
                                                dt 30/01/2017
                                                dd A description list is perfect for defining terms.
                                                dt 30/01/2017
                                                dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                                                dt 30/01/2017
                                                dd Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risusFusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                                dt 30/01/2017
                                                dd
                                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
 
                                        
                                            
                                    .col-md-6
                                        h4 
                                            | Arquivos
                                            
                                        .form-group
                                            label Nome do Arquivo
                                            input.form-control.input-lg(type='text', placeholder='Nome do Arquivo')
                                        .form-group    
                                            input.file-styled(type='file')
                                            
                                        .table-responsive
                                            table.table.text-nowrap
                                                thead
                                                    tr
                                                        th Identificação

                                                        th.col-md-2 Setor
                                                        
                                                        th.col-md-2 Data

                                                        th.text-center(style='width: 20px;')
                                                            i.icon-arrow-down12

                                                tbody
                                                    tr
                                                        td

                                                            .media-left
                                                                div
                                                                    text-default.text-semibold(href='#') Pagamento
                                                        td
                                                            span
                                                                |  Atendimento
                                                        td
                                                            span
                                                                |  01/01/2017

                                                        td.text-center
                                                            ul.icons-list
                                                                li.dropdown
                                                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                        i.icon-menu7

                                                                    ul.dropdown-menu.dropdown-menu-right
                                                                        li
                                                                            a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                                i.icon-pencil5
                                                                                |  Baixar

                                                                        li
                                                                            a(href='#')
                                                                                i.icon-printer2
                                                                                |  Excluir
                                                    tr
                                                        td

                                                            .media-left
                                                                div
                                                                    text-default.text-semibold(href='#') Arte
                                                        td
                                                            span
                                                                |  Design
                                                        td
                                                            span
                                                                |  01/01/2017

                                                        td.text-center
                                                            ul.icons-list
                                                                li.dropdown
                                                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                        i.icon-menu7

                                                                    ul.dropdown-menu.dropdown-menu-right
                                                                        li
                                                                            a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                                i.icon-pencil5
                                                                                |  Baixar

                                                                        li
                                                                            a(href='#')
                                                                                i.icon-printer2
                                                                                |  Excluir
                                                    
                                            
                                        
                                    
                                                     
                                                                        
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar Pedido
                        .btn-group
                            button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Mais Ações
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                  a(href='#')
                                    i.icon-eye
                                    |  Salvar e Enviar para Gerência
                                li
                                  a(href='#')
                                    i.icon-hammer-wrench
                                    |  Salvar e Enviar para Produção