extends ./layout.pug

block title
    title Pedidos - Fila de Pedidos

block page-title
    span.text-semibold Pedidos
    |  - Fila de Pedidos

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Pedidos
    li.active Fila de Pedidos

block content
    .col-lg-12
        .panel.panel-flat
            .panel-heading
                h6.panel-title Lista Pedidos
                        
                .tab-content
                    .table-responsive
                        table.table.table-lg.text-nowrap
                            thead
                                tr
                                    th.col-md-5
                                        .form-group.has-feedback.has-feedback-left
                                            input.form-control(type='text', placeholder='Pesquisar')
                                            .form-control-feedback
                                                i.icon-search4.text-size-base


                                    th.col-md-5


                                    th.text-right.col-md-2
                                        
                                            
                .tab-content
                    .panel-body
                        .form-group
                            .row
                                .col-md-5
                                    label Filtro de Status
                                    select.select(multiple='multiple')
                                        option(value='AZ', selected='selected') Atendimento
                                        option(value='CO') Design 
                                        option(value='ID') Gerência
                                        option(value='WY') Produção
                                        option(value='WY') Entrega
                                .col-md-2
                                .col-md-5
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Data início:
                                                input.form-control(type='text', data-mask='99/99/9999', placeholder='Data')
                                        .col-md-6
                                            .form-group
                                                label Data fim:
                                                input.form-control(type='text', data-mask='99/99/9999', placeholder='Data')
                            
           
            table.table.datatable-row-full
                thead
                    tr
                        th #
                        th Pedido
                        th Responsável/Status
                        th Ação Esperada
                        th Última Atualização
                        th Entrega
                        th.text-center Actions
                tbody
                    tr.active.border-double
                        td(colspan='7') 
                            h6.no-margin.text-semibold.text-warning
                                | 01/01/2017  
                                small
                                    | - Entrega
                    tr
                        td 1
                        td
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') André Augusto Marcelino

                                .text-size-small
                                    span.status-mark.border-blue.position-left
                                    | ABC123456789
                        
                        td
                            .media-left
                                img.img-circle.img-xs(src='../public/assets/images/demo/users/face8.jpg', alt='')
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') Responsável

                                span.label.label-success Status
                                    
                        td Aguardando Produção
                        td
                            span
                                |  01/01/2017
                            .text-size-small
                                span.status-mark.position-left
                                | 12 dias
                        td
                            span.label.label-success
                                |  01/01/2017
                                
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a(href='#')
                                                i.icon-file-pdf
                                                |  Export to .pdf
                                        li
                                            a(href='#')
                                                i.icon-file-excel
                                                |  Export to .csv
                                        li
                                            a(href='#')
                                                i.icon-file-word
                                                |  Export to .doc
                    tr
                        td 2
                        td
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') André Augusto Marcelino

                                .text-size-small
                                    span.status-mark.border-blue.position-left
                                    | ABC123456789
                        
                        td 
                            .media-left
                                img.img-circle.img-xs(src='../public/assets/images/demo/users/face5.jpg', alt='')
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') Responsável

                                span.label.label-success Status
                                    
                        td Aguardando Produção
                        td
                            span
                                |  01/01/2017
                            .text-size-small
                                span.status-mark.position-left
                                | 12 dias
                        td
                            span.label.label-success
                                |  01/01/2017
                                
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a(href='#')
                                                i.icon-file-pdf
                                                |  Export to .pdf
                                        li
                                            a(href='#')
                                                i.icon-file-excel
                                                |  Export to .csv
                                        li
                                            a(href='#')
                                                i.icon-file-word
                                                |  Export to .doc
                    tr
                        td 3
                        td
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') André Augusto Marcelino

                                .text-size-small
                                    span.status-mark.border-blue.position-left
                                    | ABC123456789
                        
                        td 
                            .media-left
                                img.img-circle.img-xs(src='../public/assets/images/demo/users/face2.jpg', alt='')
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') Responsável

                                span.label.label-success Status
                                
                        td Aguardando Produção
                        td
                            span
                                |  01/01/2017
                            .text-size-small
                                span.status-mark.position-left
                                | 12 dias
                        td
                            span.label.label-success
                                |  01/01/2017
                                
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a(href='#')
                                                i.icon-file-pdf
                                                |  Export to .pdf
                                        li
                                            a(href='#')
                                                i.icon-file-excel
                                                |  Export to .csv
                                        li
                                            a(href='#')
                                                i.icon-file-word
                                                |  Export to .doc
                                                
                    tr.active.border-double
                        td(colspan='7') 
                            h6.no-margin.text-semibold.text-warning
                                | 01/01/2017  
                                small
                                    | - Entrega
                    tr
                        td 4
                        td
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') André Augusto Marcelino

                                .text-size-small
                                    span.status-mark.border-blue.position-left
                                    | ABC123456789
                        
                        td 
                            .media-left
                                img.img-circle.img-xs(src='../public/assets/images/demo/users/face10.jpg', alt='')
                            .media-left
                                div
                                    a.text-default.text-semibold(href='#') Responsável

                                span.label.label-success Status
                                    
                        td Aguardando Produção
                        td
                            span
                                |  01/01/2017
                            .text-size-small
                                span.status-mark.position-left
                                | 12 dias
                        td
                            span.label.label-success
                                |  01/01/2017
                                
                        td.text-center
                            ul.icons-list
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        i.icon-menu9
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a(href='#')
                                                i.icon-file-pdf
                                                |  Export to .pdf
                                        li
                                            a(href='#')
                                                i.icon-file-excel
                                                |  Export to .csv
                                        li
                                            a(href='#')
                                                i.icon-file-word
                                                |  Export to .doc