extends ./layout.pug

block title
    title ERT Uniformes
    
block page-title
    span.text-semibold Home
    |  - Dashboard
    
block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")    

block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li.active Dashboard

block content
    .row
        .col-lg-12
            // Marketing campaigns
            .panel.panel-flat
            
            
            
                .panel-heading
                    h6.panel-title Andamento de Pedidos
                    .panel-body
                        .tabbable
                          ul.nav.nav-tabs.nav-tabs-highlight.nav-justified
                            li.active
                              a(href='#justified-badges-tab1', data-toggle='tab')
                                span.badge.badge-danger.position-left 04
                                |  Pedidos
                            li
                              a(href='#justified-badges-tab2', data-toggle='tab')
                                span.badge.badge-danger.position-left 02
                                | Pagamento 
                            li
                               a(href='#justified-badges-tab3', data-toggle='tab')
                                span.badge.badge-danger.position-left 03
                                | Design
                            li
                               a(href='#justified-badges-tab4', data-toggle='tab')
                                span.badge.badge-danger.position-left 03
                                | Outros Setores
                          .tab-content
                                .table-responsive
                                    table.table.table-lg.text-nowrap
                                        thead
                                            tr
                                                th.col-md-5
                                                    .form-group.has-feedback.has-feedback-left
                                                        input.form-control(type='text', placeholder='Pesquisar')
                                                        .form-control-feedback
                                                            i.icon-search4.text-size-base


                                                th.col-md-5


                                                th.text-right.col-md-2
                                                    a.btn.btn-primary(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                        i.icon-file-plus2.position-left
                                                        |  Novo Orçamento
                                                        
                                                        
                                                            
                                #justified-badges-tab1.tab-pane.active
                        
                                    .table-responsive
                                        table.table.text-nowrap
                                            thead
                                                tr
                                                    th Informações do Pedido

                                                    th.col-md-2 Status

                                                    th.col-md-2 Ação Esperada

                                                    th.col-md-2 Última Atualização

                                                    th.text-center(style='width: 20px;')
                                                        i.icon-arrow-down12

                                            tbody
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Finalizar Cadastro


                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropdown
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Finalizar Cadastro

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropdown
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido



                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Briefing

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Briefing

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido



                                #justified-badges-tab2.tab-pane
                                
                                    .table-responsive
                                        table.table.text-nowrap
                                            thead
                                                tr
                                                    th Informações do Pedido

                                                    th.col-md-2 Status

                                                    th.col-md-2 Ação Esperada

                                                    th.col-md-2 Data do Status

                                                    th.text-center(style='width: 20px;')
                                                        i.icon-arrow-down12

                                            tbody
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Varificar Pagamento

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropdown
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_large")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido



                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Varificar Pagamento

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_large")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido



                                #justified-badges-tab3.tab-pane
                                
                                    .table-responsive
                                        table.table.text-nowrap
                                            thead
                                                tr
                                                    th Informações do Pedido

                                                    th.col-md-2 Status

                                                    th.col-md-2 Ação Esperada

                                                    th.col-md-2 Data do Status

                                                    th.text-center(style='width: 20px;')
                                                        i.icon-arrow-down12

                                            tbody
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Código de Rastreio

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropdown
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_tracking")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido



                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Código de Rastreio

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_tracking")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Selecionar Revisor

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_reviewer")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido
                                #justified-badges-tab4.tab-pane
                                
                                    .table-responsive
                                        table.table.text-nowrap
                                            thead
                                                tr
                                                    th Informações do Pedido

                                                    th.col-md-2 Status

                                                    th.col-md-2 Ação Esperada

                                                    th.col-md-2 Data do Status

                                                    th.text-center(style='width: 20px;')
                                                        i.icon-arrow-down12

                                            tbody
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Código de Rastreio

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropdown
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_tracking")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido



                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Código de Rastreio

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_tracking")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido
                                                tr
                                                    td

                                                        .media-left
                                                            div
                                                                a.text-default.text-semibold(href='#') André Augusto Marcelino

                                                            .text-size-small
                                                                span.status-mark.border-blue.position-left
                                                                | ABC123456789

                                                    td
                                                        span.text-muted Atendimento

                                                    td.btn-group-justified
                                                        a.btn.btn-primary.btn-xs(href="#")
                                                            |  Selecionar Revisor

                                                    td
                                                        span
                                                            |  01/01/2017
                                                        .text-size-small
                                                            span.status-mark.position-left
                                                            | 12 dias

                                                    td.text-center
                                                        ul.icons-list
                                                            li.dropup
                                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                    i.icon-menu7

                                                                ul.dropdown-menu.dropdown-menu-right
                                                                    li
                                                                        a(href="#", data-toggle="modal", data-target="#modal_reviewer")
                                                                            i.icon-pencil5
                                                                            |  Editar Pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-printer2
                                                                            |  Imprimir pedido

                                                                    li
                                                                        a(href='#')
                                                                            i.icon-trash
                                                                            |  Excluir Pedido
                                                                            
                                                                            
    // Large modal
    #modal_large.modal.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Verificação de Pagamento
                .modal-body
                            
                    legend.text-semibold 1° Primeira parcela
                    .form-group
                        .row
                            .col-lg-4
                                .checkbox
                                    label
                                        input.styled(type='checkbox', checked='checked')
                                        | Pago
                            .col-lg-4
                                label Valor Pago
                                    input.form-control.input-lg(type='text', placeholder='Valor')
                            .col-lg-4    
                                label.control-label Anexar Comprovante de Pagamento
                                .col-lg-12
                                    input.file-styled(type='file')
                                    
                    legend.text-semibold 2° Segunda parcela
                    .form-group
                        .row
                            .col-lg-4
                                .checkbox
                                    label
                                        input.styled(type='checkbox', checked='checked')
                                        | Pago
                            .col-lg-4
                                label Valor Pago
                                    input.form-control.input-lg(type='text', placeholder='Valor')
                            .col-lg-4    
                                label.control-label Anexar Comprovante de Pagamento
                                .col-lg-12
                                    input.file-styled(type='file')
                            
                            
                .modal-footer
                    button.btn.btn-link(type='button', data-dismiss='modal') Sair
                    button.btn.btn-primary(type='button') Salvar
    // /large modal
    
    
    // Large modal
    #modal_tracking.modal.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Código de Rastreio
                .modal-body
                            
                    .form-group
                        label Inserir código de rastraio
                        input.form-control.input-lg(type='text', placeholder='Código de rastraio')
                        
                            
                .modal-footer
                    button.btn.btn-link(type='button', data-dismiss='modal') Sair
                    button.btn.btn-primary(type='button') Salvar
    // /large modal
    
    
    // Large modal
    #modal_reviewer.modal.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h5.modal-title Selecionar Revisor
                .modal-body
                            
                    .form-group
                        label Selecione um revisor
                        select.select(data-placeholder='Revisor')
                            option
                                option(value='AZ', selected='selected') Revisor 1
                                option(value='CO') Revisor 2
                                option(value='ID') Revisor 3
                                option(value='WY') Revisor 4
                            
                            
                .modal-footer
                    button.btn.btn-link(type='button', data-dismiss='modal') Sair
                    button.btn.btn-primary(type='button') Salvar
    // /large modal
