doctype html
html(lang!='{{ app()->getLocale() }}')
    include ./_partials/head.pug
    body
        include ./_partials/main-navbar.pug
        // Page container
        .page-container
            // Page content
            .page-content
                include ./_partials/main-sidebar.pug
                // Main content
                .content-wrapper
                    // Page header
                    include ./_partials/page-header.pug
                    // /page-header
                    // Content-area
                    .content
                        include ./_partials/messages.pug
                        block content
                        // Footer
                        include ./_partials/footer.pug
        include ./_partials/end-body.pug