extends ./layout.pug

block title
    title Cadastros - Cadastro de Transportadoras

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Transportadoras

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Transportadoras

block content
    .col-lg-12
        .panel.panel-flat
            .panel-heading
                h6.panel-title Lista Transportadoras
                        
                .tab-content
                    .table-responsive
                        table.table.table-lg.text-nowrap
                            thead
                                tr
                                    th.col-md-5
                                        .form-group.has-feedback.has-feedback-left
                                            input.form-control(type='text', placeholder='Pesquisar')
                                            .form-control-feedback
                                                i.icon-search4.text-size-base


                                    th.col-md-5


                                    th.text-right.col-md-2
                                        a.btn.btn-primary(href="{{ route('cerebelo.index') }}/transportadoras")
                                            i.icon-file-plus2.position-left
                                            |  Cadastrar Transportadoras
                                            
               
            
            .panel-body
            
            
                .table-responsive
                    table.table.text-nowrap
                        thead
                            tr
                                th Transportadoras

                                th.col-md-2 Status

                                th.col-md-2 Data de Cadastro

                                th.text-center(style='width: 20px;')
                                    i.icon-arrow-down12

                        tbody
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') Nome Transportadoras

                                td
                                    span.text-muted Ativa

                                td
                                    span
                                        |  01/01/2017

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                        i.icon-pencil5
                                                        |  Editar Transportadoras

                                                li
                                                    a(href='#')
                                                        i.icon-printer2
                                                        |  Imprimir Transportadoras

                                                li
                                                    a(href='#')
                                                        i.icon-trash
                                                        |  Excluir Transportadoras
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') Nome Transportadoras

                                td
                                    span.text-muted Ativa

                                td
                                    span
                                        |  01/01/2017

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                        i.icon-pencil5
                                                        |  Editar Transportadoras

                                                li
                                                    a(href='#')
                                                        i.icon-printer2
                                                        |  Imprimir Transportadoras

                                                li
                                                    a(href='#')
                                                        i.icon-trash
                                                        |  Excluir Transportadoras