extends ./layout.pug

block title
    title Cadastros - Lista de Representante

block page-title
    span.text-semibold Cadastros
    |  - Lista de Representante

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Lista de Representantes

block content
    .col-lg-12
        .panel.panel-flat
            .panel-heading
                h6.panel-title Lista Representantes
                .heading-elements
                    a.btn.btn-primary(href="{{ route('cerebelo.index') }}/representantes")
                        i.icon-import.position-left
                        |  Adicionar Representantes
            
            .panel-body
                .table-responsive
                    table.table.text-nowrap
                        thead
                            tr
                                th Nome

                                th.col-md-2 CPF

                                th.col-md-2 Data de Cadastro

                                th.col-md-2 Último Pedido

                                th.text-center(style='width: 20px;')
                                    i.icon-arrow-down12

                        tbody
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') André Augusto Marcelino

                                td
                                    span.text-muted 012.345.678-90

                                td
                                    span
                                        | 25/01/2016

                                td
                                    span
                                        |  07/05/2016

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') André Augusto Marcelino

                                td
                                    span.text-muted 012.345.678-90

                                td
                                    span
                                        | 25/01/2016

                                td
                                    span
                                        |  07/05/2016

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings



                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') André Augusto Marcelino

                                td
                                    span.text-muted 012.345.678-90

                                td
                                    span
                                        | 25/01/2016

                                td
                                    span
                                        |  07/05/2016

                                td.text-center
                                    ul.icons-list
                                        li.dropup
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') André Augusto Marcelino

                                td
                                    span.text-muted 012.345.678-90

                                td
                                    span
                                        | 25/01/2016

                                td
                                    span
                                        |  07/05/2016

                                td.text-center
                                    ul.icons-list
                                        li.dropup
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings
                        
                