extends ./layout.pug

block title
    title Cadastros - Cadastro de Pedidos

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Pedidos

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Pedidos

block content
    .col-lg-12
        .panel.panel-flat
            .panel-heading
                h6.panel-title Lista Pedidos
                        
                .tab-content
                    .table-responsive
                        table.table.table-lg.text-nowrap
                            thead
                                tr
                                    th.col-md-5
                                        .form-group.has-feedback.has-feedback-left
                                            input.form-control(type='text', placeholder='Pesquisar')
                                            .form-control-feedback
                                                i.icon-search4.text-size-base


                                    th.col-md-5


                                    th.text-right.col-md-2
                                        a.btn.btn-primary(href="{{ route('cerebelo.index') }}/novo-pedido")
                                            i.icon-file-plus2.position-left
                                            |  Criar Pedido
                                            
                .tab-content
                    .panel-body
                        .form-group
                            .row
                                .col-md-5
                                    label Filtro de Status
                                    select.select(multiple='multiple')
                                        option(value='AZ', selected='selected') Atendimento
                                        option(value='CO') Design 
                                        option(value='ID') Gerência
                                        option(value='WY') Produção
                                        option(value='WY') Entrega
                                .col-md-2
                                .col-md-5
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Data início:
                                                input.form-control(type='text', data-mask='99/99/9999', placeholder='Data')
                                        .col-md-6
                                            .form-group
                                                label Data fim:
                                                input.form-control(type='text', data-mask='99/99/9999', placeholder='Data')

                                        
                                
            
            .panel-body
            
            
                .table-responsive
                    table.table.text-nowrap
                        thead
                            tr
                                th Informações do Pedido
                                
                                th.col-md-2 Entrega

                                th.col-md-2 Status

                                th.col-md-2 Ação Esperada

                                th.col-md-2 Última Atualização

                                th.text-center(style='width: 20px;')
                                    i.icon-arrow-down12

                        tbody
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') André Augusto Marcelino

                                        .text-size-small
                                            span.status-mark.border-blue.position-left
                                            | ABC123456789
                                td
                                    span.label.label-success
                                        |  01/01/2017
                                        
                                td
                                    span.text-muted Gerência

                                td.btn-group-justified
                                    a.btn.btn-primary.btn-xs(href="#")
                                        |  Aprovação

   
                                td
                                    span
                                        |  01/01/2017
                                    .text-size-small
                                        span.status-mark.position-left
                                        | 12 dias

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                        i.icon-pencil5
                                                        |  Editar Pedido

                                                li
                                                    a(href='#')
                                                        i.icon-printer2
                                                        |  Imprimir pedido

                                                li
                                                    a(href='#')
                                                        i.icon-trash
                                                        |  Excluir Pedido
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') André Augusto Marcelino

                                        .text-size-small
                                            span.status-mark.border-blue.position-left
                                            | ABC123456789
                                            
                                            
                                td
                                    span.label.label-success
                                        |  01/01/2017
                                        
                                        
                                td
                                    span.text-muted Gerência

                                td.btn-group-justified
                                    a.btn.btn-primary.btn-xs(href="#")
                                        |  Aprovação

                                td
                                    span
                                        |  01/01/2017
                                    .text-size-small
                                        span.status-mark.position-left
                                        | 12 dias

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href="{{ route('cerebelo.index') }}/novo-pedido")
                                                        i.icon-pencil5
                                                        |  Editar Pedido

                                                li
                                                    a(href='#')
                                                        i.icon-printer2
                                                        |  Imprimir pedido

                                                li
                                                    a(href='#')
                                                        i.icon-trash
                                                        |  Excluir Pedido