extends ./layout.pug

block title
    title Cadastros - Lista de Tabelas

block page-title
    span.text-semibold Cadastros
    |  - Lista de Tabelas

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Lista de Tabelas

block content
    .col-lg-12
        .panel.panel-flat
            .panel-heading
                h6.panel-title Lista de Tabelas
                .heading-elements
                    a.btn.btn-primary(href="{{ route('cerebelo.index') }}/tabelas")
                        i.icon-import.position-left
                        |  Adicionar Tabela
            
            .panel-body
                .table-responsive
                    table.table.text-nowrap
                        thead
                            tr
                                th Nome

                                th.col-md-2 Permissão
                                
                                th.col-md-2 Porcentagem

                                th.col-md-2 Data de Cadastro

                                th.col-md-2 Status

                                th.text-center(style='width: 20px;')
                                    i.icon-arrow-down12

                        tbody
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') Nome da tabela

                                td
                                    span.text-muted Gerência
                                    
                                td
                                    span.text-muted 8%

                                td
                                    span
                                        | 25/01/2016

                                td
                                    .label.bg-blue
                                        |  Ativa

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') Nome da tabela

                                td
                                    span.text-muted Gerência
                                    
                                td
                                    span.text-muted 8%

                                td
                                    span
                                        | 25/01/2016

                                td
                                    .label.bg-blue
                                        |  Ativa

                                td.text-center
                                    ul.icons-list
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings



                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') Nome da tabela

                                td
                                    span.text-muted Atendimento
                                    
                                td
                                    span.text-muted 8%

                                td
                                    span
                                        | 25/01/2016

                                td
                                    .label.bg-blue
                                        |  Ativa

                                td.text-center
                                    ul.icons-list
                                        li.dropup
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings
                            tr
                                td

                                    .media-left
                                        div
                                            a.text-default.text-semibold(href='#') Nome da tabela

                                td
                                    span.text-muted Atendimento
                                    
                                td
                                    span.text-muted 8%

                                td
                                    span
                                        | 25/01/2016

                                td
                                    .label.bg-blue
                                        |  Ativa

                                td.text-center
                                    ul.icons-list
                                        li.dropup
                                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7

                                            ul.dropdown-menu.dropdown-menu-right
                                                li
                                                    a(href='#')
                                                        i.icon-file-stats
                                                        |  View statement

                                                li
                                                    a(href='#')
                                                        i.icon-file-text2
                                                        |  Edit campaign

                                                li
                                                    a(href='#')
                                                        i.icon-file-locked
                                                        |  Disable campaign

                                                li.divider

                                                li
                                                    a(href='#')
                                                        i.icon-gear
                                                        |  Settings
                        
                