doctype html
html(lang!='{{ app()->getLocale() }}')
    include ./_partials/head.pug
    body(class="login-container bg-slate-800")
        .page-container
          .page-content
            .content-wrapper
              .content
                block content
        include ./_partials/footer.pug
        include ./_partials/end-body.pug