extends ./layout.pug

block title
    title Orçamento - Envio de Orçamento

block page-title
    span.text-semibold Orçamento
    |  - Envio de Orçamento

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Orçamento
    li.active Envio de Orçamento

block content
    .panel.panel-white
        .panel-heading
            h6.panel-title Orçamento/Pedido
            .heading-elements
                button.btn.btn-default.btn-xs.heading-btn(type='button')
                    i.icon-file-check.position-left
                    |  Salvar
                button.btn.btn-default.btn-xs.heading-btn(type='button')
                    i.icon-printer.position-left
                    |  Imprimir
        .panel-body.no-padding-bottom
            .row
                .col-sm-6.content-group
                    ul.list-condensed.list-unstyled
                        li
                            h2.text-semibold
                                | ERT 
                                small
                                    | Uniformes
                        li Rua General Gomes Carneiro, 88 - 2° Andar, Fábrica
                        li Juiz de Fora, MG - 36080-210
                        li (32) 3216-7523, (32) 3216-7523
                .col-sm-6.content-group
                    .invoice-details
                        h5.text-uppercase.text-semibold Orçamento/Pedido #49029
                        ul.list-condensed.list-unstyled
                            li
                                | Data: 
                                span.text-semibold 12 de Janeiro de 2017
                            li
                                | Validade: 
                                span.text-semibold 12 de Janeiro de 2017
            .row
                .col-md-6.col-lg-9.content-group
                    span.text-muted Para:
                    ul.list-condensed.list-unstyled
                        li
                            h5 Marcella Santana
                        li
                            span.text-semibold Emiolo.com
                        li Rua Machado Sobrinho, 330, Passos
                        li Juiz de Fora, MG - 36026-380
                        li (32) 3216-4244 - (32) 3216-4244
                        li
                            a(href='#') marcella@emiolo.com
                .col-md-6.col-lg-3.content-group
                    span.text-muted Pagamento:
                    ul.list-condensed.list-unstyled.invoice-payment-details
                        li
                            h5
                                | Total: 
                                span.text-right.text-semibold R$ 1.230,25
                        li
                            | P1 - R$ 600,00: 
                            span.text-semibold Cheque - dd/mm/aaa 
                        li
                            | P2 - R$ 600,00: 
                            span.text-semibold Deposito - dd/mm/aaa
                        li
                            | P2 - R$ 600,00: 
                            span.text-semibold Dinheiro - dd/mm/aaa 
                            
                    span.text-muted Banco:
                    ul.list-condensed.list-unstyled.invoice-payment-details
                        li
                            | Banco de destino: 
                            span.text-semibold Banco do Brasil
                        li
                            | Conta: 
                            span.text-semibold 000123456-6
                        li
                            | Operação: 
                            span.text-semibold 001
                        li
                            | Agência: 
                            span.text-semibold 0987

        .table-responsive
            table.table.table-lg
                thead
                    tr
                        th Descrição
                        th.col-sm-1 Unidade
                        th.col-sm-1 Quantidade
                        th.col-sm-1 Total
                tbody
                    tr
                        td
                            h6.no-margin Produto
                            span.text-muted Variações e descrição.
                        td R$ 100,00
                        td 2x
                        td
                            span.text-semibold R$ 200,00
                    tr
                        td
                            h6.no-margin Produto
                            span.text-muted Variações e descrição.
                        td R$ 100,00
                        td 2x
                        td
                            span.text-semibold R$ 200,00
                    tr
                        td
                            h6.no-margin Produto
                            span.text-muted Variações e descrição.
                        td R$ 100,00
                        td 2x
                        td
                            span.text-semibold R$ 200,00
                    tr
                        td
                            h6.no-margin Produto
                            span.text-muted Variações e descrição.
                        td R$ 100,00
                        td 2x
                        td
                            span.text-semibold R$ 200,00
        .panel-body
            .row.invoice-payment
                .col-sm-5
                    .content-group
                        
                .col-sm-7
                    .content-group
                        h6 Total
                        .table-responsive.no-border
                            table.table
                                tbody
                                    tr
                                        th Subtotal:
                                        td.text-right R$ 2.000,00
                                    tr
                                        th
                                            | Frete:  
                                            span.text-regular Correios
                                        td.text-right R$ 20,00
                                    tr
                                        th Total:
                                        td.text-right.text-primary
                                            h5.text-semibold R$ 1.230,25
                        .text-right
                            button.btn.btn-primary.btn-labeled(type='button')
                                b
                                    i.icon-paperplane
                                |  Enviar
            h6 Outras Informações
            p.text-muted
                | Thank you for using Limitless. This invoice can be paid via PayPal, Bank transfer, Skrill or Payoneer. Payment is due within 30 days from the date of delivery. Late payment is possible, but with with a fee of 10% per month. Company registered in England and Wales #6893003, registered office: 3 Goodman Street, London E1 8BF, United Kingdom. Phone number: 888-555-2311