extends ./layout.pug

block title
    title Produção - Ordem de Produção

block page-title
    span.text-semibold Produção
    |  - Ordem de Produção

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Produção
    li.active Ordem de Produção

block content
    .panel.panel-white
        .panel-heading
            h6.panel-title Ordem de Produção
            .heading-elements
                button.btn.btn-default.btn-xs.heading-btn(type='button')
                    i.icon-file-check.position-left
                    |  Salvar
                button.btn.btn-default.btn-xs.heading-btn(type='button')
                    i.icon-printer.position-left
                    |  Imprimir
        .panel-body.no-padding-bottom
            .row
                .col-sm-4.content-group
                    ul.list-condensed.list-unstyled
                        li
                            h2.text-semibold
                                | ERT 
                                small
                                    | Uniformes
                                    
                    ul.list-condensed.list-unstyled.invoice-payment-details
                        li
                            | Atendente:  
                            span.text-semibold dd/mm/aaaa
                        li
                            | Designer: 
                            span.text-semibold dd/mm/aaaa
                        li
                            | Cliente: 
                            span.text-semibold -------
                            
                .col-sm-8.content-group
                    .invoice-details
                        h5.text-uppercase.text-semibold Pedido #49029
                        ul.list-condensed.list-unstyled
                            li
                                | Emissão: 
                                span.text-semibold 12 de Janeiro de 2017
                            li
                                | Entrega: 
                                span.text-semibold 12 de Janeiro de 2017
            

        .table-responsive
            table.table.table-lg
                thead
                    tr
                        th Produto
                        th.text-center.col-sm-1 PP
                        th.text-center.col-sm-1 P
                        th.text-center.col-sm-1 M
                        th.text-center.col-sm-1 G
                        th.text-center.col-sm-1 GG
                        th.text-center.col-sm-1 3G
                        th.text-center.col-sm-1 4G
                        th.text-center.col-sm-1 5G
                        th.text-center.col-sm-1 Total
                tbody
                    - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td
                                h6.no-margin Produto
                                span.text-muted Variações e descrição.
                            td.text-center.color-pp 03
                            td.text-center.color-p 
                            td.text-center.color-m 01
                            td.text-center.color-g 10
                            td.text-center.color-gg 
                            td.text-center.color-3g 
                            td.text-center.color-4g 
                            td.text-center.color-5g 02
                            td.text-center
                                span.text-semibold 16
                            
        
        .panel-body
            .row.invoice-payment   
                .col-sm-8
                    .panel-body
                        h6 Observações
                        p.text-muted
                            | Thank you for using Limitless. This invoice can be paid via PayPal, Bank transfer, Skrill or Payoneer. Payment is due within 30 days from the date of delivery. Late payment is possible, but with with a fee of 10% per month. Company registered in England and Wales #6893003, registered office: 3 Goodman Street, London E1 8BF, United Kingdom. Phone number: 888-555-2311
                .col-sm-4
                    .panel-body
                        .content-group
                            ul.list-condensed.list-unstyled.invoice-payment-details
                                li
                                    | Razão Social:  
                                    span.text-semibold Emiolo soluções ...
                                li
                                    | Nome Fantasia: 
                                    span.text-semibold Emiolo.com
                                li
                                    | Tel: 
                                    span.text-semibold (32) 3216-4244 - (32) 3216-4244
                                li
                                    | Email:  
                                    span.text-semibold suporte@emiolo.com
                                li
                                    | CPF/CNPJ: 
                                    span.text-semibold 42.318.949/0001-84
                                li
                                    | Ins. Estadual RG 
                                    span.text-semibold 00000000000
                            h6.text-semibold Endereço
                            ul.list-condensed.list-unstyled.invoice-payment-details
                                li
                                    | Logradouro:  
                                    span.text-semibold Rua Machado Sobrinho
                                li
                                    | N°:
                                    span.text-semibold 330
                                li
                                    | Bairro:
                                    span.text-semibold Passos
                                li
                                    | Complemento:  
                                    span.text-semibold ---
                                li
                                    | Cidade: 
                                    span.text-semibold Juiz de Fora
                                li
                                    | UF:
                                    span.text-semibold MG
                                li
                                    | CEP:
                                    span.text-semibold 36026-380
                                    
        .table-responsive
            table.table.table-lg
                thead
                    tr
                        th Processo
                        th.text-center.col-sm-1 Revisão 1
                        th.text-center.col-sm-1 Exportado
                        th.text-center.col-sm-1 Revisão 2
                        th.text-center.col-sm-1 Impressão
                        th.text-center.col-sm-1 Calandra
                        th.text-center.col-sm-1 Contagem Costura
                        th.text-center.col-sm-1 Costura
                        th.text-center.col-sm-1 Arremate
                        th.text-center.col-sm-1 Encaixotamento
                tbody
                    tr
                        td
                            h6.no-margin Data de Saída
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                    tr
                        td
                            h6.no-margin Responsável
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center
                    tr
                        td
                            h6.no-margin Impressora
                        td.text-center
                        td.text-center
                        td.text-center
                        td.text-center(colspan="6")
                            samp
                                | CALANDRA ( )1 - ( )2 - ( )3