
extends ./layout.pug

block title
    title Remuneração e Benefícios
    
block page-title
    span.text-semibold Home
    |  - Remuneração e Benefícios
    
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')

    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')

    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')

    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')

    script(type='text/javascript', src='assets/js/core/app.js')

    script(type='text/javascript', src='assets/js/cerebelo_pages/remuneracao_beneficio.js')
    
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li.active Remuneração e Benefícios

block content
    // /Formulário de Cadastro
    .row
        .col-lg-6
            .panel.panel-white
                .panel-heading
                    h6.panel-title Função e Remuneração
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                .panel-body
                    form.form-horizontal(action='#')
                        .row
                            .col-md-12
                                .form-group
                                    label.col-lg-3.control-label Cargo:
                                    .input-group.col-lg-9
                                      select.select(data-placeholder='Selecione o cargo')
                                        option(value='AK') Cargo
                                        option(value='HI') Cargo
                                        option(value='CA') Cargo
                                        option(value='NV') Cargo
                                        option(value='OR') Cargo
                                      .input-group-btn
                                        button.btn.btn-info(type='button', title='Adicionar cargo', data-toggle="modal", data-target="#modal_cargo")
                                          i.icon-plus3


                                //BOX
                                .panel-heading
                                    h6.panel-title Níveis da Função
                                    .heading-elements
                                      button.btn.btn-primary(data-toggle="modal", data-target="#modal_nivel")
                                        | Adicionar Nível
                                        i.icon-plus3.position-right

                                .panel-body
                                    #sales-heatmap
                                    .table-responsive
                                    table.table.text-nowrap
                                      thead
                                        tr
                                          th Nível
                                          th Remuneração
                                          th 
                                      tbody
                                        tr
                                          td
                                            .media-body
                                              .media-heading
                                                .letter-icon-title Nome Nível
                                          td
                                            h6.text-semibold.no-margin R$ 1.800,00
                                          td
                                            ul.icons-list
                                                li.dropdown.text-muted
                                                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                    i.icon-menu7
                                                    span.caret
                                                  ul.dropdown-menu.dropdown-menu-right
                                                    li
                                                      a(href='#')
                                                        i.icon-sync
                                                        |  Update data
                                                    li
                                                      a(href='#')
                                                        i.icon-list-unordered
                                                        |  Detailed log
                                                    li
                                                      a(href='#')
                                                        i.icon-pie5
                                                        |  Statistics
                                                    li.divider
                                                    li
                                                      a(href='#')
                                                        i.icon-cross3
                                                        |  Clear list

                                            tr
                                              td
                                                .media-body
                                                  .media-heading
                                                    .letter-icon-title Nome Nível
                                              td
                                                h6.text-semibold.no-margin R$ 1.800,00
                                              td
                                                ul.icons-list
                                                    li.dropdown.text-muted
                                                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                        i.icon-menu7
                                                        span.caret
                                                      ul.dropdown-menu.dropdown-menu-right
                                                        li
                                                          a(href='#')
                                                            i.icon-sync
                                                            |  Update data
                                                        li
                                                          a(href='#')
                                                            i.icon-list-unordered
                                                            |  Detailed log
                                                        li
                                                          a(href='#')
                                                            i.icon-pie5
                                                            |  Statistics
                                                        li.divider
                                                        li
                                                          a(href='#')
                                                            i.icon-cross3
                                                            |  Clear list

                                                tr
                                                  td
                                                    .media-body
                                                      .media-heading
                                                        .letter-icon-title Nome Nível
                                                  td
                                                    h6.text-semibold.no-margin R$ 1.800,00
                                                  td
                                                    ul.icons-list
                                                        li.dropdown.text-muted
                                                          a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                            i.icon-menu7
                                                            span.caret
                                                          ul.dropdown-menu.dropdown-menu-right
                                                            li
                                                              a(href='#')
                                                                i.icon-sync
                                                                |  Update data
                                                            li
                                                              a(href='#')
                                                                i.icon-list-unordered
                                                                |  Detailed log
                                                            li
                                                              a(href='#')
                                                                i.icon-pie5
                                                                |  Statistics
                                                            li.divider
                                                            li
                                                              a(href='#')
                                                                i.icon-cross3
                                                                |  Clear list

                                                    tr
                                                      td
                                                        .media-body
                                                          .media-heading
                                                            .letter-icon-title Nome Nível
                                                      td
                                                        h6.text-semibold.no-margin R$ 1.800,00
                                                      td
                                                        ul.icons-list
                                                            li.dropdown.text-muted
                                                              a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                                i.icon-menu7
                                                                span.caret
                                                              ul.dropdown-menu.dropdown-menu-right
                                                                li
                                                                  a(href='#')
                                                                    i.icon-sync
                                                                    |  Update data
                                                                li
                                                                  a(href='#')
                                                                    i.icon-list-unordered
                                                                    |  Detailed log
                                                                li
                                                                  a(href='#')
                                                                    i.icon-pie5
                                                                    |  Statistics
                                                                li.divider
                                                                li
                                                                  a(href='#')
                                                                    i.icon-cross3
                                                                    |  Clear list
        .col-lg-6
            .panel.panel-white
                .panel-heading
                    h6.panel-title Benefícios
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                .panel-body
                    form.form-horizontal(action='#')
                        .row
                            .panel-heading
                                
                                .heading-elements
                                    button.btn.btn-primary(data-toggle="modal", data-target="#modal_beneficio")
                                        | Adicionar Benefício
                                        i.icon-plus3.position-right


                            //BOX
                            .panel-body
                                #sales-heatmap
                                .table-responsive
                                table.table.text-nowrap
                                  thead
                                    tr
                                      th Benefício
                                      th Custo Funcionário
                                      th Custo Total
                                      th 
                                  tbody
                                    tr
                                      td
                                        .media-body
                                          .media-heading
                                            .letter-icon-title Nome Benefício
                                      td
                                        h6.no-margin R$ 6%
                                      td
                                        h6.text-semibold.no-margin
                                            | R$ 1.800,00
                                            .text-muted.text-size-small
                                                | Diário
                                      td
                                        ul.icons-list
                                            li.dropdown.text-muted
                                              a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                i.icon-menu7
                                                span.caret
                                              ul.dropdown-menu.dropdown-menu-right
                                                li
                                                  a(href='#')
                                                    i.icon-sync
                                                    |  Update data
                                                li
                                                  a(href='#')
                                                    i.icon-list-unordered
                                                    |  Detailed log
                                                li
                                                  a(href='#')
                                                    i.icon-pie5
                                                    |  Statistics
                                                li.divider
                                                li
                                                  a(href='#')
                                                    i.icon-cross3
                                                    |  Clear list

                                        tr
                                          td
                                            .media-body
                                              .media-heading
                                                .letter-icon-title Nome Benefício
                                          td
                                            h6.no-margin R$ 6%
                                          td
                                            h6.text-semibold.no-margin
                                                | R$ 1.800,00
                                                .text-muted.text-size-small
                                                    | Diário
                                          td
                                            ul.icons-list
                                                li.dropdown.text-muted
                                                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                    i.icon-menu7
                                                    span.caret
                                                  ul.dropdown-menu.dropdown-menu-right
                                                    li
                                                      a(href='#')
                                                        i.icon-sync
                                                        |  Update data
                                                    li
                                                      a(href='#')
                                                        i.icon-list-unordered
                                                        |  Detailed log
                                                    li
                                                      a(href='#')
                                                        i.icon-pie5
                                                        |  Statistics
                                                    li.divider
                                                    li
                                                      a(href='#')
                                                        i.icon-cross3
                                                        |  Clear list

                                            tr
                                              td
                                                .media-body
                                                  .media-heading
                                                    .letter-icon-title Nome Benefício
                                              td
                                                h6.no-margin R$ 6%
                                              td
                                                h6.text-semibold.no-margin
                                                    | R$ 1.800,00
                                                    .text-muted.text-size-small
                                                        | Diário
                                              td
                                                ul.icons-list
                                                    li.dropdown.text-muted
                                                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                        i.icon-menu7
                                                        span.caret
                                                      ul.dropdown-menu.dropdown-menu-right
                                                        li
                                                          a(href='#')
                                                            i.icon-sync
                                                            |  Update data
                                                        li
                                                          a(href='#')
                                                            i.icon-list-unordered
                                                            |  Detailed log
                                                        li
                                                          a(href='#')
                                                            i.icon-pie5
                                                            |  Statistics
                                                        li.divider
                                                        li
                                                          a(href='#')
                                                            i.icon-cross3
                                                            |  Clear list

                                                tr
                                                  td
                                                    .media-body
                                                      .media-heading
                                                        .letter-icon-title Nome Benefício
                                                  td
                                                    h6.no-margin R$ 6%
                                                  td
                                                    h6.text-semibold.no-margin
                                                        | R$ 1.800,00
                                                        .text-muted.text-size-small
                                                            | Diário
                                                  td
                                                    ul.icons-list
                                                        li.dropdown.text-muted
                                                          a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                            i.icon-menu7
                                                            span.caret
                                                          ul.dropdown-menu.dropdown-menu-right
                                                            li
                                                              a(href='#')
                                                                i.icon-sync
                                                                |  Update data
                                                            li
                                                              a(href='#')
                                                                i.icon-list-unordered
                                                                |  Detailed log
                                                            li
                                                              a(href='#')
                                                                i.icon-pie5
                                                                |  Statistics
                                                            li.divider
                                                            li
                                                              a(href='#')
                                                                i.icon-cross3
                                                                |  Clear list
                                    
            // /2 columns form

    // /Formulário de Cadastro
    
    
    
    // Vertical form modal
    #modal_cargo.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h5.modal-title Cadastrar Cargo
          form(action='#')
            .modal-body
              .form-group
                .row
                  .col-sm-12
                    label Cargo
                    input.form-control(type='text', placeholder='Cargo')
             
            .modal-footer
              button.btn.btn-link(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-primary(type='submit') Salvar
    // /vertical form modal
    
    // Vertical form modal
    #modal_nivel.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h5.modal-title Cadastrar Nível
          form(action='#')
            .modal-body
              .form-group
                .row
                  .col-sm-6
                    label Nível
                    input.form-control(type='text', placeholder='Nível')
                  .col-sm-6
                    label Remuneração
                    input.form-control(type='text', placeholder='Remuneração')
             
            .modal-footer
              button.btn.btn-link(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-primary(type='submit') Salvar
    // /vertical form modal
    
    // Vertical form modal
    #modal_beneficio.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h5.modal-title Cadastrar Benefício
          form(action='#')
            .modal-body
              .form-group
                .row
                  .col-sm-6
                    label Benefício
                    input.form-control(type='text', placeholder='Nome do Benefício')
                  .col-sm-6
                    label Período de Cobrança
                    select.select(data-placeholder='Setor')
                        option(value='AK') Diário
                        option(value='HI') Mensal
                .page-title     
                    h6.text-semibold
                        | Custo
                    
                .row
                  .col-sm-6
                    label Custo Total
                    input.form-control(type='text', placeholder='Total')
                  .col-sm-6
                    label Custo Funcionário
                    .row
                        .col-sm-9.zero-margin-right
                            input.form-control(type='text', placeholder='Custo Funcionário')
                        .col-sm-3.zero-margin-left
                            select.select(data-placeholder='Unidade')
                                option(value='AK') %
                                option(value='HI') R$
                      

            .modal-footer
              button.btn.btn-link(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-primary(type='submit') Salvar
    // /vertical form modal