extends ./layout.pug

block title
    title Cadastros - Cadastro de Representante

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Representante

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Representante

block content
    .col-lg-12
        .panel.panel-flat
            
            .panel-body
                .text-right
                    button.btn.btn-primary(type='button')
                      i.icon-import.position-left
                      |  Salvar Representante
                fieldset.content-group
                
                    legend.text-bold Porcentagem do Representante
                    .row
                        .col-md-4
                            .form-group
                                label Porcentagem
                                input.form-control.input-lg(type='text', placeholder='Porcentagem')
                
                    legend.text-bold Dados do Representante
                    .row
                        .col-md-6
                            .form-group
                                label CPF/CNPJ
                                input.form-control.input-lg(type='text', placeholder='CPF/CNPJ')
                        .col-md-6
                            .form-group
                                label Nome
                                input.form-control.input-lg(type='text', placeholder='Nome Fantasia')
                        .col-md-4
                            .form-group
                                label Tel
                                input.form-control.input-lg(type='text', placeholder='Tel')
                        .col-md-4
                            .form-group
                                label Tel (2)
                                input.form-control.input-lg(type='text', placeholder='Tel (2)')
                        .col-md-4
                            .form-group
                                label Email
                                input.form-control.input-lg(type='text', placeholder='Email')



                    legend.text-bold Endereço do Representante
                    .row
                        .col-md-4
                            .form-group
                                label CEP
                                input.form-control.input-lg(type='text', placeholder='CEP')
                        .col-md-6
                            .form-group
                                label Logradouro
                                input.form-control.input-lg(type='text', placeholder='Logradouro')
                        .col-md-2
                            .form-group
                                label Número
                                input.form-control.input-lg(type='text', placeholder='Número')
                        .col-md-4
                            .form-group
                                label Complemento
                                input.form-control.input-lg(type='text', placeholder='Complemento')
                        .col-md-4
                            .form-group
                                label Bairro
                                input.form-control.input-lg(type='text', placeholder='Bairro')
                        .col-md-4
                            .form-group
                                label Cidade
                                input.form-control.input-lg(type='text', placeholder='Cidade')
                        .col-md-4
                            .form-group
                                label Estado
                                input.form-control.input-lg(type='text', placeholder='Estado')


                .text-right
                    button.btn.btn-primary(type='button')
                      i.icon-import.position-left
                      |  Salvar Representante