extends ./layout.pug

block title
    title Cadastros - Cadastro de Tabela

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Tabela

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Tabela

block content
    .col-lg-12
        .panel.panel-flat
            
            .panel-body
                fieldset.content-group
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar Tabela
                    
                    .row
                        .col-md-6
                            .form-group
                                label Nome
                                input.form-control.input-lg(type='text', placeholder='Nome')
                            .form-group
                                label Porcentagem
                                input.form-control.input-lg(type='text', placeholder='Porcentagem')
                        .col-md-6
                            .form-group
                                label Permissões
                                select.select(multiple='multiple', data-placeholder='Permissões')
                                    option
                                        option(value='AZ', selected='selected') Atendimento
                                        option(value='CO') Gerência
                                        option(value='ID') Outro
                                        option(value='WY') Outro
                                
                    
                        
                .text-right
                    button.btn.btn-primary(type='button')
                      i.icon-import.position-left
                      |  Salvar Tabela