extends ./layout.pug

block title
    title Cadastros - Cadastro de Transportadora

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Transportadora

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Transportadora

block content
    .col-lg-12
        .panel.panel-flat
            
            .panel-body
                fieldset.content-group
                    .row
                        .col-md-6
                            .form-group
                                label Nome
                                input.form-control.input-lg(type='text', placeholder='Nome')
                        .col-md-6
                            .form-group
                                label Link
                                input.form-control.input-lg(type='text', placeholder='Link')
                        .col-md-6
                            .form-group
                                label Telefone
                                input.form-control.input-lg(type='text', placeholder='Telefone')
                        .col-md-6
                            .form-group
                                label Observações
                                textarea.form-control(rows='5', cols='5', placeholder='Observações')

                    
                        
                .text-right
                    button.btn.btn-primary(type='button')
                      i.icon-import.position-left
                      |  Adicionar Transportadora