extends ./layout.pug

block title
    title Cadastros - Valores das Tabelas

block page-title
    span.text-semibold Cadastros
    |  - Valores das Tabelas

block theme-js-files
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/forms.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/lists.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/clients.js")
    
    //tabela
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/pages/handsontable.min.js")
    script(type="text/javascript", src="{{ route('cerebelo.index') }}/js/cerebelo/handsontable_cols.js")


block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Valores das Tabelas

block content
    .col-lg-12
        .panel.panel-flat
            
            .panel-body
                fieldset.content-group
                    .text-right
                        button.btn.btn-primary(type='button')
                          i.icon-import.position-left
                          |  Salvar Tabela
                    
                    
                .hot-container
                    #hot_moving

                        
                .text-right
                    button.btn.btn-primary(type='button')
                      i.icon-import.position-left
                      |  Salvar Tabela