.row
    .col-md-6
        .form-group
            label.col-lg-3.control-label Nome da Empresa:
            .col-lg-9
                input.form-control(type='text', placeholder='Nome da Empresa')
        .form-group
            label.col-lg-3.control-label Limite S.N:
            .col-lg-9
                input.form-control(type='text', placeholder='R$')
    .col-md-6
        .form-group
            label.col-lg-3.control-label Observações
            .col-lg-9
                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
.text-right
    button.btn.btn-default.fechar(type='submit')
        | Cancelar
        i.icon-cross3.position-right
    button.btn.btn-primary.salvar(type='submit')
        | Salvar
        i.icon-arrow-right14.position-right