extends ../../layout.pug
block title
    title Listagem de Empresas - Cerebelo Curso nota 10
block page-title
    span.text-semibold Empresas
    |  - Listagem de Empresas
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/account.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Empresas
    li.active Listagem de Empresas
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Empresas
            .heading-elements
                a.btn.btn-primary(type='button' href="{{ url('empresas/novo') }}")
                    i.icon-plus22
                    |  Cadastrar Empresas
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Empresa
                        th Limite S.N
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td Nome da Empresa
                            td R$ 1.000,00,00
                            td
                                span.label.label-success Ativa
                            +actions
                tfoot
                    tr
                        td.input-filter Empresa
                        td.input-filte Limite S.N
                        td.select-filter Status
                        td
    // /basic datatable
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    
                    li
                        a.editar(href="{{ url('contas/editar') }}").text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar