.row
    .col-md-6
        .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.name') }}
                i.text-danger *
            | {{ Form::text('name', old('name'), ['class' => "form-control", 'maxlength' => '100', 'placeholder' => trans('attributes.name') ]) }}
            | @if ($errors->has('name'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('name') }}
            | @endif
            
    .col-md-6
        .form-group(class!="{{ $errors->has('sectors_id') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.sectors_id') }}
            | {{ Form::select('sectors_id[]', $sectors, (isset($model) ? $sectors_selected : old('sectors_id')), ['class' => 'select', 'multiple' => 'multiple']) }}
            | @if ($errors->has('sectors_id'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('sectors_id') }}
            | @endif

.row
    .col-md-6
        .form-group(class!="{{ $errors->has('percentage') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.percentage') }}
                i.text-danger *
            | {{ Form::text('percentage', old('percentage'), ['class' => "form-control", 'maxlength' => '6', 'placeholder' => trans('attributes.percentage') ]) }}
            | @if ($errors->has('percentage'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('percentage') }}
            | @endif