extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Tabela

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Tabela

block theme-js-files
    | {!! $validator !!}

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Tabela

block content
    .row
        .col-lg-12
            | {{ Form::open(array('url' => route('cerebelo.tables.store'), 'method' => 'POST', 'id' => 'formCreateTable')) }}
            .panel.panel-flat
                .panel-body
                    .text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Adicionar Tabela', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                    include ./_form.pug

                    .text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Adicionar Tabela', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
            | {{ Form::close() }}