extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Cadastro de Tabela

block page-title
    span.text-semibold Cadastros
    |  - Cadastro de Tabela

block theme-js-files
    script(type="text/javascript", id="route-datatable", route-datatable="{{ route('cerebelo.tables.datatable') }}", src="{{ Module::asset('cerebelotable:js/tables/index.js') }}?{{ filemtime(Module::assetPath('cerebelotable/js/tables/index.js')) }}")


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Cadastro de Tabela

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista Tabelas
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.tables.create') }}")
                            i.icon-import.position-left
                            |  Adicionar Tabela

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.name') }}                                
                                    th 
                                        | {{ trans('attributes.percentage') }}                                
                                    th 
                                        | {{ trans('attributes.created_at') }}