.row
    .col-md-6
        .form-group(class!="{{ $errors->has('type') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.type') }}
                i.text-danger *
            | {{ Form::select('type', trans('cerebelotransports::attributes.transports_type'), old('type'), ['class' => 'select', 'placeholder' => trans('attributes.type'), 'required']) }}
            | @if ($errors->has('type'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('type') }}
            | @endif
    .col-md-6
        .form-group(class!="{{ $errors->has('name') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.name') }}
                i.text-danger *
            | {{ Form::text('name', old('name'), ['class' => "form-control", 'maxlength' => '150', 'placeholder' => trans('attributes.name'), 'required']) }}
            | @if ($errors->has('name'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('name') }}
            | @endif
    .col-md-12
        label 
            | {{ trans('cerebelotransports::attributes.link') }}
        .form-group.input-group(class!="{{ $errors->has('link') ? ' has-error' : '' }}")
            span.input-group-addon
                i.icon-link2
            | {{ Form::text('link', old('link'), ['class' => "form-control", 'placeholder' => trans('cerebelotransports::attributes.link')]) }}
            | @if ($errors->has('link'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('link') }}
            | @endif
    .col-md-4
        .form-group(class!="{{ $errors->has('phone') ? ' has-error' : '' }}")
            label 
                | {{ trans('attributes.phone') }}
            | {{ Form::text('phone', old('phone'), ['class' => "form-control phone", 'placeholder' => trans('attributes.phone'), 'maxlength' => '15']) }}
            | @if ($errors->has('phone'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('phone') }}
            | @endif
.row            
    .col-md-6
        .form-group(class!="{{ $errors->has('comments') ? ' has-error' : '' }}")
            label 
                | {{ trans('cerebelotransports::attributes.comments') }}
            | {{ Form::textarea('comments', old('comments'), ['class' => 'form-control', 'rows' => '5', 'cols' => '5', 'placeholder' => trans('cerebelotransports::attributes.comments')]) }}
            | @if ($errors->has('comments'))
            span.help-block.text-danger
                i.icon-cancel-circle2.position-left
                |  {{ $errors->first('comments') }}
            | @endif