extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Lista de Transportadoras

block page-title
    span.text-semibold Cadastros
    |  - Lista de Transportadoras

block theme-js-files
    script(type="text/javascript", id="route-datatable", route-datatable="{{ route('cerebelo.transports.datatable') }}", src="{{ Module::asset('cerebelotransports:js/transports/index.js') }}?{{ filemtime(Module::assetPath('cerebelotransports/js/transports/index.js')) }}")


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Lista de Transportadoras

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista de Transportadoras
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.transports.create') }}")
                            i.icon-import.position-left
                            |  Adicionar Transportadora

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.name') }}

                                    th 
                                        | {{ trans('attributes.type') }}

                                    th 
                                        | {{ trans('cerebelotransports::attributes.link') }}

                                    th 
                                        | {{ trans('attributes.phone') }}

                                    th 
                                        | {{ trans('attributes.created_at') }}
