table.spacing-table
    | @if(!isset($model->billingClient) || empty($model->billingClient))

    | @if($model_client->person_type == "PF")
    tr
        td Nome:
        td {{ $model_client->name }}
    tr
        td CPF:
        td {{ $model_client->cpf_cnpj }}
    tr
        td RG:
        td {{ $model_client->rg }}
    | @else
    tr
        td(width="125") Nome Fantasia:
        td {{ $model_client->fantasy_name }}
    tr
        td Razão Social:
        td {{ $model_client->company_name }}
    tr
        td Inscrição Estadual:
        td {{ $model_client->state_registration }}
    tr
        td CNPJ:
        td {{ $model_client->cpf_cnpj }}
    | @endif

    | @else

    | @php($model_client = $model->billingClient)
    | @if($model_client->person_type == "PF")
    tr
        td Nome:
        td {{ $model_client->name }}
    tr
        td CPF:
        td {{ $model_client->cpf_cnpj }}
    tr
        td RG:
        td {{ $model_client->rg }}
    | @else
    tr
        td(width="125") Nome Fantasia:
        td {{ $model_client->fantasy_name }}
    tr
        td Razão Social:
        td {{ $model_client->company_name }}
    tr
        td Inscrição Estadual:
        td {{ $model_client->state_registration }}
    tr
        td CNPJ:
        td {{ $model_client->cpf_cnpj }}
    | @endif

    | @endif

    | @setvar('billingAddress', (isset($model->billingAddress->street) ? $model->billingAddress : $model->deliveryAddress))
    | @if(isset($billingAddress->street))
    tr
        td Endereço:
        td
            | {{ sprintf("%s, %s - %s, %s", $billingAddress->street, $billingAddress->number, $billingAddress->complement, $billingAddress->neighborhood) }}
            br
            | {{ sprintf("%s/%s - CEP %s", $billingAddress->city, $billingAddress->state, $billingAddress->cep) }}
    | @endif
    tr
        td Telefones:
        td {{ sprintf("%s - %s", $model_client->phone, $model_client->phone2) }}
    tr
        td E-mail:
        td {{ $model_client->email }}

    tr#payment_notes