.row
    .col-lg-12
        table.table-lg
            tr
                td.col-lg-12
                    img.img-order(src="{{ asset('assets/images/header-print-orders.png') }}?{{ filemtime(public_path('assets/images/header-print-orders.png')) }}")

.row.date-number
    .col-sm-6.content-group
        h5.text-uppercase.text-semibold Orçamento {{ "#" . $model->full_order_number }}
        ul.list-condensed.list-unstyled
            li
                | Data de Emissão:
                span.text-semibold {{ $model->created_at }}

.row.data-pdf
    .table-responsive
        table.table-data.table.table-lg
            tr
                td.border-right.border-slate-300.col-lg-5
                    span.margin-featured.text-semibold.featured Informações para Nota Fiscal:
                    include ./_billing_type.pug

                td.border-right.border-slate-300.col-lg-3
                    span.text-semibold.featured Endereço para entrega:
                    table.spacing-table
                        | @if(!empty($model->deliveryAddress))
                        | @setvar('deliveryAddress', $model->deliveryAddress)
                        tr
                            td {{ $deliveryAddress->street }}, {{ $deliveryAddress->number }} - {{ $deliveryAddress->complement }}, {{ $deliveryAddress->neighborhood }}
                        tr
                            td {{ $deliveryAddress->city }}, {{ $deliveryAddress->state }} - {{ $deliveryAddress->cep }}
                        | @endif

                td.border-slate-300.col-lg-4
                    span.text-semibold.featured Mais Informações:
                    table.spacing-table
                        tr
                            td Atendente:
                            td {{ (!isset($model->client->attendant->name)) ? "" : $model->client->attendant->name }}
                        tr
                            td Designer:
                            td {{ (!isset($model->client->designer->name)) ? "" : $model->client->designer->name }}
                        tr
                            td Representante:
                            td {{ (!isset($model->client->representative->fantasy_name)) ? "" : $model->client->representative->fantasy_name }}
                        tr
                            td Material:
                            td {{ $model->group }}