.table-responsive
    table.table.table-borderless.no-border
        tbody
            tr
                td.col-lg-5
                    .table-responsive
                        table.text-center.table-data.spacing-table
                            tr
                                td(colspan="2")
                                    span.text-semibold.featured Dados Bancários:
                            tr
                                td.col-lg-6.border-right.border-slate-300.text-indigo-300.text-black Caixa Economica Federal
                                td.col-lg-6.text-purple-300.text-black Banco do Brasil
                            tr
                                td.border-right.border-slate-300.text-indigo-300.text-black Agência 1536
                                td.text-purple-300.text-black Agência 0024-8
                            tr
                                td.border-right.border-slate-300.text-indigo-300.text-black C. Corrente 2985-0 Op 003
                                td.text-purple-300.text-black C. Corrente 122755-6
                            tr
                                td.border-right.border-slate-300.text-indigo-300.text-black ERT CYCLE SPORT
                                td.text-purple-300.text-black ERT CYCLE SPORT
                            tr
                                td.border-right.border-slate-300.text-indigo-300.text-black CNPJ 27.518.639/0001-10
                                td.text-purple-300.text-black CNPJ 27.518.639/0001-10

                td.col-lg-7.text-right
                    table.table.table-borderless.padding-total-td
                        tr
                            td.padding-total.text-right Subtotal: 
                            td R$ {{ moneyFormat($total) }}
                        tr
                            td.padding-total.text-right Desconto: 
                            td {{ moneyOrPercentage($model->discount_value, $model->discount_type) }}
                        tr
                            td.padding-total.text-right
                                span.display-block Frete:
                            td
                                | R$ {{ $model->cost_freight }}
                        tr
                            td.padding-total.text-right
                                span.text-regular {{ (isset($model->transport->name) ? $model->transport->name . ((!empty($model->freight_cif_fob)) ? " (" . $model->freight_cif_fob . ")" : "") : "" ) }}
                            | @if($model->transports_id == 1)
                            td
                                span.text-regular {{ correiosFreightName($model->transport_type) }}
                            | @endif
                        tr
                            td.padding-total.text-right Prazo do Frete: 
                            td {{ $model->transport_deadline }} dias úteis
                        tr
                            td.padding-total.text-right Quantidade Peças: 
                            td {{ $qty_piece }}
                        tr
                            td.padding-total.text-right Quantidade Caixas: 
                            td {{ estimateBox($model->volumes, true) }}
                        | @php($calc_total = calculateFinalOrder($total, moneyUnFormat($model->discount_value), $model->discount_type) + moneyUnFormat($model->cost_freight) )
                        | @if(moneyUnFormat($model->credit_value) > 0)
                        tr.text-semibold
                            td.padding-total.text-right Valor de Crédito
                            td R$ {{ $model->credit_value }}
                        | @php($calc_total = $calc_total - moneyUnFormat($model->credit_value))
                        | @endif
                        tr
                            td.padding-total.text-primary.text-right
                                h5.text-semibold(style="color: #4691F1 !important;") Total:
                            td.text-primary
                                h5.text-semibold(style="color: #4691F1 !important;") R$ {{ moneyFormat($calc_total) }}
            | @if($model->to_charge == true && $model->paymentsInstallments->count() > 0)
            tr
                td(colspan="2", class="col-lg-12")
                    span.text-semibold.featured Pagamento:
                    table.table.table-data.spacing-table
                        | @foreach($model->paymentsInstallments as $portion)
                        | {{ paymentsInstallmentsHtml($portion) }}
                        | @endforeach
            | @elseif($model->to_charge == false)
            tr
                td.text-center(colspan="2", class="col-lg-12")
                    h2.text-semibold.featured.bg-success {{ not_to_charge($model->payments_form_id) }}
            | @endif