doctype html
html(lang!='{{ app()->getLocale() }}')
    include ../_partials/head.pug

    body.bg-slate-800
        .page-container.login-container
            .page-content
                .content-wrapper
                    .content
                        .container-fluid.text-center
                            h1.error-title
                                | 403
                            h6.text-semibold.content-group
                                | Oops, você não tem permissão para acessar essa área!
                            .row
                                .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3
                                    .row
                                        .col-sm-6
                                            a.btn.btn-primary.btn-block.content-group(href="javascript:history.go(-1);")
                                                i.icon-circle-left2.position-left
                                                | Voltar
                                        
                                        .col-sm-6
                                            a.btn.btn-default.btn-block.content-group(href="{{ route('cerebelo.users.profile') }}")
                                                i.icon-home4.position-left
                                                | Minha Conta
                        
                        include ../_partials/footer.pug
        script(type='text/javascript', src="{{ asset('js/cerebelo/application.js') }}")