extends ../../../../../CerebeloSettings/Resources/pug/layout.pug
block title
    title Cadastrar Tipo de Boleto - Cerebelo Curso nota 10
block page-title
    span.text-semibold Configurar Boletos
    |  - Cadastrar Tipo de Boleto
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/billet_settings_create.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Boletos
    li.active Cadastrar Tipo de Boleto
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar e Configurar Tipo de Boleto
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='reload')
        .panel-body
            form.steps-starting-step(action='#')
                include _form.pug