extends ../../../../../CerebeloSettings/Resources/pug/layout.pug
block title
    title Editar Funcionario - Cerebelo Curso nota 10
block page-title
    span.text-semibold Funcionários
    |  - Editar Funcionário
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/employees_create.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Financeiro
    li Funcionários
    li.active Editar Funcionário
block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h6.panel-title Editar funcionário
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        form.steps-starting-step(action='#')
            include _form.pug