include ../partials/attached_files.pug

| @if(isset($products_selected['layout_op_data']))
| @foreach($products_selected['layout_op_data'] as $product_id => $layout_op_data_v)
| @foreach($layout_op_data_v as $variations_k => $variations_v)

| @if(isset($variations_v['with_name']))

| @php($image_art = null)
| @foreach($variations_v['with_name'] as $with_name_k => $with_name_v)
| @php($product_index = current(array_get($with_name_v, 'index')))
| @if(isset($products_selected['image_art'][$product_index]) && !empty($products_selected['image_art'][$product_index]))
| @php($image_art = $products_selected['image_art'][$product_index])
| @endif
| @endforeach
.pagebreak
    .table-responsive
        table.table.table-borderless.table-xs(qtds_join_sizes="{{ json_encode($qtds_join_sizes) }}")
            tbody
                tr
                    td.text-center(colspan="2")
                        img.img-product-order(src!="{{ route('storage.files', ['filename' => $image_art]) }}", alt="", style=" margin: 10px; 0px;")
                tr
                    td.text-left
                        .text-left
                            | Cliente: 
                            span.text-semibold {{ $model->client->name }}
                    td.text-right
                        .text-right
                            | Material: 
                            span.text-semibold {{ $model->group }}

| @elseif(isset($variations_v['unnamed']))

| @php($image_art = null)
| @foreach($variations_v['unnamed'] as $unnamed_k => $unnamed_v)
| @php($product_index = current(array_get(current($unnamed_v), 'index')))
| @if(isset($products_selected['image_art'][$product_index]) && !empty($products_selected['image_art'][$product_index]))
| @php($image_art = $products_selected['image_art'][$product_index])
| @endif
| @endforeach
.pagebreak
    .table-responsive
        table.table.table-borderless.table-xs(qtds_join_sizes="{{ json_encode($qtds_join_sizes) }}")
            tbody
                tr
                    td.text-center(colspan="2")
                        img.img-product-order(src!="{{ route('storage.files', ['filename' => $image_art]) }}", alt="", style=" margin: 10px; 0px;")
                tr
                    td.text-center(colspan="2")
                        .table-responsive
                            table.table.table-xs.table-bordered
                                thead
                                    tr
                                        th.text-left Produto
                                        | @foreach($sizes as $size)
                                        th.text-center.col-sm-1 {{ $size->name }}
                                        | @endforeach
                                        th.text-center.col-sm-1 Total
                                tbody
                                    | @if(isset($variations_v['unnamed']))
                                    | @foreach($variations_v['unnamed'] as $unnamed_k => $unnamed_v)
                                    include ./tr_size.pug
                                    | @endforeach
                                    | @endif
                tr
                    td.text-left
                        .text-left
                            | Cliente: 
                            span.text-semibold {{ $model->client->name }}
                    td.text-right
                        .text-right
                            | Material: 
                            span.text-semibold {{ $model->group }}

| @endif

| @endforeach
| @endforeach
| @endif