.panel-body.no-padding-bottom
    .row
        .col-xs-12
            table.table-lg
                tr
                    td.col-lg-12
                        img.img-order(src="{{ asset('assets/images/header-print-orders.png') }}?{{ filemtime(public_path('assets/images/header-print-orders.png')) }}")
    .row
        .col-xs-6.float-left
            table.table-data.table.table-xxs
                tbody
                    tr
                        td(style="width: 100px;") Representante: 
                        td.text-semibold {{ (!isset($model->client->representative->fantasy_name)) ? "" : $model->client->representative->fantasy_name }}
                    tr
                        td Atendente: 
                        td.text-semibold {{ (!isset($model->client->attendant->name)) ? "" : $model->client->attendant->name }}
                    tr
                        td Designer: 
                        td.text-semibold {{ (!isset($model->client->designer->name)) ? "" : $model->client->designer->name }}
                    tr
                        td Cliente: 
                        td.text-semibold {{ empty($model->client->fantasy_name) ? $model->client->company_name : $model->client->fantasy_name }}
                    tr
                        td Material: 
                        td.text-semibold {{ $model->group }}
                    tr
                        td Pré-Impressor: 
                        td.text-semibold ___________________________________________
                    tr
                        td Revisão Grade
                    tr
                        td Observação:
                        td
                            | @if(isset($products_selected['size_piece']))
                            | @foreach($products_selected['size_piece'] as $key => $value)
                            | @setvar('qnt_piece', $products_selected['quantity_piece'][$key])
                            | @if(!empty($value) && $value > 0 && !empty(qnt_piece) && $qnt_piece > 0)
                            | @setvar('name_piece', empty($products_selected['name_piece'][$key]) ? '' : 'com nome ' . $products_selected['name_piece'][$key])
                            | @setvar('size_name', $products_selected['sizes_name'][$key][$value])
                            | @setvar('prd_name', $products_selected['products_name'][$key])
                            .fields_info_red {!! sprintf("%s %s TAM %s %s é da ERT.", $qnt_piece, $prd_name, $size_name, $name_piece) !!}
                            | @endif
                            | @endforeach
                            | @endif

                            | {{ Form::textarea('op_observation', old('op_observation', $model->op_observation), ['data-popup' => 'tooltip', 'data-original-title' => '', 'title' => 'Clique fora do campo para salvar as alterações', 'style' => 'width: 100%;', 'cols' => '5', 'rows' => 2, 'class' => 'fields_info_red', 'url' => route('cerebelo.orders.update', $model->id), 'placeholder' => 'Observação']) }}

        | @if($model->urgent == 'Y')
        .col-xs-2
            img(src="{{ asset('images/cerebelo/urgente.png') }}", width="100")
        | @php($col_xs = 'col-xs-4')
        | @else
        | @php($col_xs = 'col-xs-6')
        | @endif

        .float-right(class="{{ $col_xs }}")
            table.table-data.table.table-xxs.text-right
                tbody
                    tr
                        td(colspan="2")
                            h5.text-uppercase.text-semibold.no-margin Pedido {{ "#" . $model->order_number }}
                    tr
                        td Emissão:
                        td(style="width: 100px;")
                            span.text-semibold {{ $model->created_at }}
                    tr
                        td Env. para Produção em:
                        td {{ Form::text('production_date', old('production_date', $model->production_date), ['style' => 'text-align: right;', 'class' => 'input-print date', 'pattern' => '[0-9]{2}/[0-9]{2}/[0-9]{4}', 'data-popup' => 'tooltip', 'data-placement' => 'top', 'title' => 'Tecle ENTER para salvar']) }}
                    tr
                        td Entrega:
                        td
                            span.text-semibold {{ $model->delivery_date }}