#section-to-print.content-group-sm.section-to-print-production
    | @if(isset($model->id))
    .pagebreak
        .panel.panel-white
            .panel-heading.no-print
                h6.panel-title Ordem de Produção
                .heading-elements

            include ./header.pug

            include ./with_name.pug
            include ./sizes.pug

            include ../partials/footer.pug
    | @endif

    include ./art.pug

include ../../_op_floating_buttons.pug