| @if(isset($products_selected['layout_op_data']))
| @foreach($products_selected['layout_op_data'] as $product_id => $layout_op_data_v)
| @foreach($layout_op_data_v as $variations_k => $variations_v)
| @if(isset($variations_v['with_name']))
.table-responsive
    table.table.table-bordered.table-framed.table-product-general
        tbody
            tr.bg-green-300
                td.text-center.text-semibold.text-default.color-green(colspan="3") Produto
            tr.bg-orange-300
                td.text-center.text-semibold.text-default.color-orange(colspan="3")
                    | {{ extractProductName($product_id, $products_selected['products_id'], $products_selected['products_name']) }}
                    | @if(!empty($variations_k))
                    | @php($product_index = current(array_get(current($variations_v['with_name']), 'index')))
                    | @php($extra_variation = ((isset($products_selected['extra_variation'][$product_index]) ? $products_selected['extra_variation'][$product_index] : "")))
                    span ({{ $extra_variation }})
                    | @endif
            | @foreach($variations_v['with_name'] as $with_name_k => $with_name_v)
            | @php($color = current(array_get($with_name_v, 'color')))
            tr
                td.text-center.text-semibold.col-lg-4(class="{{ $color }}") Nome
                td.text-center.text-semibold.col-lg-4(class="{{ $color }}") Quantidade
                td.text-center.text-semibold.col-lg-4(class="{{ $color }}") Tamanho
            | @foreach($with_name_v['name'] as $names_k => $names_v)
            | @php($quantity_v = $with_name_v['quantity'][$names_k])
            | @php($size_v = $with_name_v['size'][$names_k])

            | @if(is_array($names_v))
            | @foreach($names_v as $key => $value)
            tr
                td.text-center {{ $value }}
                td.text-center {{ $quantity_v[$key] }}
                td.text-center(class="{{ $color }}") {{ $size_v[$key] }}
            | @endforeach
            | @else
            tr
                td.text-center
                    b(style="color: red !important;") {{ $names_v }}
                td.text-center {{ $quantity_v }}
                td.text-center(class="{{ $color }}") {{ $size_v }}
            | @endif

            | @endforeach
            | @endforeach
| @endif
| @endforeach
| @endforeach
| @endif