extends ../../layout.pug
block title
    title Caixa - Cerebelo ERT
block page-title
    span.text-semibold Caixa
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/cashier.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li.active Caixa
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Caixa
            .heading-elements
                .btn.btn-primary(type='button' data-toggle='modal', data-target='#modal_form_vertical').mb-15
                    i.icon-plus22
                    |  Entrada / Saída
                .btn.btn-primary(type='button' data-toggle='modal', data-target='#modal_form_vertical_2').mb-15
                    i.icon-plus22
                    |  Transferência
                .btn.btn-primary(type='button' href="#").mb-15
                    i.icon-plus22
                    |  Fechar Caixa
                .btn.btn-primary(type='button' href="#").mb-15
                    i.icon-plus22
                    |  Abrir Caixa

        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Conta
                        th Tipo
                        th Título
                        th Plano de Contas
                        th Descrição
                        th Data e Hora
                        th.text-center Valor
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td Banco do Brasil
                            td
                                span.label.label-success Crédito
                            td Pedido 014952017
                            td Receita > Clientes > Pedidos Personalizados
                            td Loren Psun dolor sit amei dloum uthurc ...
                            td 03/07/2016
                            td.text-center 180,00
                            +actions
                        tr
                            td ERT
                            td
                                span.label.label-danger Débito
                            td Conta de Luz
                            td Despesas Fixas > Estrutura > Gastos Mensais
                            td Loren Psun dolor sit amei dloum uthurc ...
                            td 06/07/2016
                            td.text-center 250,00
                            +actions
                tfoot
                    tr
                        td.select-filter Conta
                        td.select-filter Tipo
                        td.input-filter  Título
                        td.select-filter Plano de Contas
                        td.input-filter  Descrição
                        td.select-filter Data e Hora
                        td.input-filter  Valor
                        td
                        
    // Vertical form modal
    #modal_form_vertical.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') &times;
                    h5.modal-title Cadastrar Entrada / Saída
                .modal-body
                    form.form-horizontal(action='#').pr-20.pl-20
                        .row
                            .col-md-12
                                .row
                                    .col-md-6
                                        .form-group
                                            label.control-label Empresa:
                                            .select-plano-de-contas
                                                select.select
                                                    option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                    option(value='CO' class='cat3') Colorado
                                                    option(value='ID' class='cat3') Idaho
                                                    option(value='WY' class='cat3') Wyoming
                                                        
                                    .col-md-6
                                        .form-group
                                            label.control-label Selecione a Conta Financeira:
                                            .select-plano-de-contas
                                                select.select
                                                    option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                    option(value='CO' class='cat3') Colorado
                                                    option(value='ID' class='cat3') Idaho
                                                    option(value='WY' class='cat3') Wyoming
                                .form-group
                                    label.control-label Tipo
                                    select.select
                                        option(value='AZ') Entrada
                                        option(value='CO') Saída
                                .form-group
                                    label.control-label Título:
                                    input.form-control(type='text', placeholder='Digite o título')
                                .form-group
                                    label.control-label Selecione o Plano de Contas:
                                    .select-plano-de-contas
                                        select.select
                                            optgroup(label='Despesas Fixas' class='cat1')
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                            optgroup(label='Despesas Extras' class='cat1')
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                .form-group
                                    label.control-label Descrição
                                    textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                                .form-group
                                    label.control-label Data e Hora:
                                    input.form-control(type='text', placeholder='dd/mm/aaaa - hh:hh')
                                .form-group
                                    label.control-label Valor:
                                    input.form-control(type='text', placeholder='R$')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Salvar Entrada/Saída
                        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
    // /vertical form modal
    
    
    // Vertical form modal
    #modal_form_vertical_2.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') &times;
                    h5.modal-title Transferência
                .modal-body
                    form.form-horizontal(action='#').pr-20.pl-20
                        .row
                            .col-md-12
                                .form-group
                                    label.control-label De:
                                    .select-plano-de-contas
                                        select.select
                                            optgroup(label='Despesas Fixas' class='cat1')
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                            optgroup(label='Despesas Extras' class='cat1')
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                .form-group
                                    label.control-label Para:
                                    .select-plano-de-contas
                                        select.select
                                            optgroup(label='Despesas Fixas' class='cat1')
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                            optgroup(label='Despesas Extras' class='cat1')
                                                option(value='AZ' class='cat2' disabled='disabled') Arizona
                                                option(value='CO' class='cat3') Colorado
                                                option(value='ID' class='cat3') Idaho
                                                option(value='WY' class='cat3') Wyoming
                                .form-group
                                    label.control-label Valor:
                                    input.form-control(type='text', placeholder='eugene@kopyov.com')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Transferir
                        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
    // /vertical form modal
    
    
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.editar(href='#').text-info-600
                            i.icon-pencil3
                            |  Editar