extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Edição de Variação

block page-title
    span.text-semibold Cadastros
    |  - Edição de Variação

block theme-js-files
    | {!! $validator !!}

block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Edição de Variação

block content
    .col-lg-12
        | {{ Form::model($model, array('url' => route('cerebelo.variations.update', $model->id), 'method' => 'PATCH', 'id' => 'formEditVariation')) }}
        .panel.panel-flat
            .panel-body
                .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar Produto', ['class' => 'btn btn-primary', 'type' => 'submit']) }}

                include ./_form.pug

                .form-group.text-right
                        | {{ Form::button('<i class="icon-import position-left"></i> Salvar Produto', ['class' => 'btn btn-primary', 'type' => 'submit']) }}
        | {{ Form::close() }}