extends ../../../../../CerebeloSettings/Resources/pug/layout.pug

block title
    title Cadastros - Lista de Variações

block page-title
    span.text-semibold Cadastros
    |  - Lista de Variações

block theme-js-files
    script(type="text/javascript", id="route-datatable", route-datatable="{{ route('cerebelo.variations.datatable') }}", src="{{ Module::asset('cerebelovariations:js/variations/index.js') }}?{{ filemtime(Module::assetPath('cerebelovariations/js/variations/index.js')) }}")


block breadcrumb
    li
        a(href='')
            i.icon-home2.position-left
            |  Home

    li Cadastro
    li.active Lista de Variações

block content
    .row
        .col-lg-12
            .panel.panel-flat
                .panel-heading
                    h6.panel-title Lista de Variações
                    .heading-elements
                        a.btn.btn-primary(href="{{ route('cerebelo.variations.create') }}")
                            i.icon-import.position-left
                            |  Adicionar Variação

                .panel-body
                    .table-responsive
                        table.table.table-hover#datatable
                            thead
                                tr
                                    th.text-center(style='width: 20px;')
                                        i.icon-cog7
                                    th 
                                        | {{ trans('attributes.id') }}
                                    th 
                                        | {{ trans('attributes.name') }}

                                    th 
                                        | {{ trans('attributes.value') }}

                                    th 
                                        | {{ trans('attributes.created_at') }}
