extends ../../../../../CerebeloSettings/Resources/pug/layout.pug
block title
    title Listagem de Contas Bancárias - Cerebelo Curso nota 10
block page-title
    span.text-semibold Contas Bancárias
    |  - Listagem de Conta Bancárias
block theme-js-files
    script(type='text/javascript', src="{{ asset('js/cerebelo/account.js') }}")
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Contas Bancáriass
    li.active Listagem de Contas Bancárias
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Contas Bancárias
            .heading-elements
                a.btn.btn-primary(type='button' href="{{ url('contas/novo') }}")
                    i.icon-plus22
                    |  Cadastrar Conta Bancária
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Título
                        th Banco
                        th Agência
                        th Conta
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td Banco do Brasil - Conta 01
                            td Banco do Brasil
                            td 0111
                            td 12345-6
                            td
                                span.label.label-success Ativa
                            +actions
                tfoot
                    tr
                        td.input-filter Título
                        td.select-filter Banco
                        td.input-filter Agência
                        td.input-filter Conta
                        td.select-filter Status
                        td
    // /basic datatable
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    
                    li
                        a.editar(href="{{ url('contas/editar') }}").text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar