doctype html
html
    include ../../../../../CerebeloSettings/Resources/pug/_partials/head.pug
    body
        br
        | {!! $message_status !!}
        br
        br
        | Não responda este e-mail.

        include ../../../../../CerebeloSettings/Resources/pug/_partials/end-body.pug